.i18n-web {
  .i18n-page-tree-title {
    padding: 8px 10px;
    border-bottom: 1px solid #e2e2e2;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    height: 35px;
    display: flex;
    align-items: center;
  }
  .hos-tree {
    height: calc(100% - 146px) !important;
  }
}
