@import './extend-a.scss';
@import '~hosui/lib/theme-chalk/index.css';
@import '../custom.css';
@import './navigation.scss';
@import './login.scss';
@import './hos-biz-table.scss';
@import './perm.scss';
@import './sys.scss';
@import './resource.scss';
@import './drop-down-menu.scss';
@import './message-center.scss';
@import './shuttle-tree.scss';
@import './lodop.scss';
@import './select-table-v2.scss';
@import './meta-data-query-mgt.scss';
@import './i18n-manage.scss';
@import './flat-menu.scss';
@import './tree-select.scss';
@import './metadata.scss';
@import './dhc-dialog.scss';
@import './chinese-holiday.scss';
@import './about.scss';
@import './lock-screen.scss';
@import './transfer-list-select-dialog.scss';

// 定义全局默认字体变量
$default-font: 'Source Han Sans', '思源黑体', 'Microsoft YaHei', sans-serif;

// 全局设置默认字体
html {
  font-family: $default-font;
}

// 定义全局默认字体变量
$default-font: 'Source Han Sans', '思源黑体', 'Microsoft YaHei', sans-serif;

// 全局设置默认字体
html {
  font-family: $default-font;
}

.mr5 {
  margin-right: 5px;
}

.hos-form + .dialog-footer {
  padding-top: 5px;
}

.dialog-footer {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  .hos-button + .hos-button {
    margin-left: 80px;
  }
}
//文字提示最大宽度
.hos-tooltip__popper.is-dark {
  max-width: 50%;
}
// 菜单栏
.side-menu {
  .hos-submenu__icon-arrow {
    top: 15px;
    right: 15px;
    margin-top: 0;
  }
  .hos-menu-item,
  .hos-submenu__title {
    height: 40px;
    line-height: 40px;
  }
  .hos-menu-item:hover,
  .hos-submenu__title:hover {
    background-color: #4781f3;
  }
  .hos-menu-item {
    .highlight {
      vertical-align: baseline;
      font-weight: 700;
    }
  }
}
.hos-menu--vertical {
  .hos-menu {
    background: #384765;
    //box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.4);
    // overflow-y: auto;
  }
}
// 左树右表
.left-tree-right-table {
  height: 100%;
  .left-tree-search {
    padding: 15px 15px 0;
    background-color: #fff;
    .hos {
      box-shadow: 0 0 4px 0 #dbdbdb;
      border-radius: 2px;
      margin: 15px 0;
    }
  }

  .hos-main {
    padding: 0;
    padding-left: 15px;
    overflow: hidden;
  }

  .hos-aside {
    border-radius: 5px;
    overflow: auto;
    box-shadow: 0px 0px 4px 1px #dbdbdb;
  }

  .hos-tree {
    height: calc(100% - 111px);
    overflow: auto;
    .hos-tree-node__content > .hos-tree-node__expand-icon {
      padding: 6px 6px 6px 10px;
    }
  }
  .icon-manage-left-tree {
    height: calc(100% - 55px);
    padding-top: 10px;
  }
}

.left-table-right-table {
  height: 100%;

  .hos-main {
    overflow: hidden;
    padding: 2px;
    padding-left: 15px;
  }

  .hos-aside {
    overflow: hidden;
    border-radius: 5px;
    padding: 2px;
  }
}
.roleLink {
  padding: 0 15px 15px 15px;
}
/* .hos-container.main .hos-aside {
  box-shadow: none;
} */
.simple-input-number {
  .hos-input-number {
    width: 100%;
  }
}

.hosInputNumber {
  width: 200px;
}
.hos-input-number-pwd {
  width: 200px;
}

.pwdFormItem {
  display: inline-block;
}

// 对话框框垂直水平居中
.hos-dialog {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 470px;
  min-height: 219px;
  margin: 0 !important;
  border-radius: 5px;
  flex-direction: column;

  .hos-dialog__header {
    padding: 15px;
  }
  .hos-form.for-show-shadow {
    padding: 4px 15px 0px 15px;
  }
  .hos-form {
    padding: 0 15px;
  }

  .hos-dialog__footer {
    padding: 30px 0;
  }
}

.hos-dialog__body + .hos-biz-table {
  padding: 0 15px;
}

//数据权限作用域维护
.data-pri-scope {
  padding: 0 15px;
  .hos-tabs__content {
    //min-height: 170px;
    .hos-row {
      padding-top: 15px;
    }
  }

  .dialog-footer {
    padding-top: 10px;
  }
}

//版本管理版本授权
.tenant-package-auth {
  padding: 0 15px;
  .dialog-footer {
    padding-top: 10px;
  }

  .authtree {
    height: 380px;
    overflow: auto;
    margin: 0 -15px;
    .hos-tree-node__content > .hos-tree-node__expand-icon {
      margin-left: 9px;
    }
  }
}

// 数据日志查看
.data-view .hos-table__body-wrapper {
  max-height: 300px;
  overflow: auto;
  overflow-x: hidden;

  .dialog-footer {
    padding-top: 10px;
  }
}

//页面预置，元素/数据权限列表
.sys-perm-page {
  padding: 0px 15px;
  .hos-table--border {
    //border-right: none !important;
    box-shadow: 0px 0px 4px 1px #dbdbdb;
  }

  .hos-table {
    box-shadow: 0px 0px 4px 1px #dbdbdb;
    border-radius: 5px;
  }

  .hos-table::before {
    background-color: #fff;
  }
}

// 上传头像 切换角色
.upload-avatar .dialog-footer {
  padding-top: 10px;
  line-height: 28px;

  .avatarHeight {
    height: 178px;
  }
}

.change-pass {
  padding: 0 30px 0 20px;
  .hos-form {
    height: 254px;
  }
  .progress {
    width: 95%;
    line-height: 40px;
    text-align: left;
  }
  .hos-form-item__content {
    line-height: 40px;
  }
  .hos-progress-bar {
    padding-right: 70px;
    margin-right: -70px;
  }
}

// 左侧menu按钮的大小
.hos-submenu [class^='hos-icom-'],
.hos-submenu [class^='hos-icon-'] {
  font-size: 16px;
}

.hos-date-editor.auto_width.hos-input,
.hos-date-editor.auto_width.hos-input__inner {
  width: auto;
}

//导入中间的宽度
.hos-divider--horizontal {
  margin: 15px 0;
}

.datapicker {
  width: 100% !important;
  //min-width: 240px;
}

.dataker .hos-input__inner.hos-date-editor--daterange .hos-range__close-icon {
  margin-left: -5px;
}

.assignuser > .hos-date-editor.hos-input {
  width: 100%;
}

.assignuser,
.user_card .hos-date-editor.hos-input {
  width: 100% !important;
}
//日志查看
.view-Log {
  padding: 0 15px 15px 15px;
}

.api-view-Log {
  .hos-form-item {
    margin-bottom: 0;
  }
}

.comexport {
  //height: 200px;
  margin: auto;
  padding-top: 10px;
  width: 95%;
  box-sizing: border-box;
}

.exports {
  padding: 20px 0 20px 0;
}

.hos-date-editor.hos-input,
.hos-date-editor.hos-input__inner,
.hos-input-number {
  width: 100%;
}

// 密码策略的样式
.pwdpolicy {
  .hosInputNumber {
    width: 350px;
  }
  .hos-input-number-pwd {
    width: 350px;
  }
  .pwd-padding {
    padding: 10px 10px 0 0;
  }
}
// 密码策略背景
.pwd-border {
  background-color: #fff;
  height: calc(100% - 20px);
  padding: 9px;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
}

.dialog-footer {
  .hos-button {
    padding: 5px 25px;
  }
}
//导入管理
.export-manage {
  .hos-card {
    margin-bottom: 15px;
  }
}
.import-manage {
  .hos-radio-group {
    vertical-align: middle;
  }
  .dialog-footer {
    padding-top: 10px;
  }
  .pd134 {
    padding-left: 134px;
  }
}
.import-column .hos-biz-table .hos-biz-toolbar {
  padding-top: 0;
  .close-btn {
    float: right;
    margin-right: 20px;
  }
}
.excel-import-add {
  color: #000;
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 15px;
}
// 导入组件
.upload-com {
  padding: 0 15px;
  .download-template {
    height: 32px;
    line-height: 32px;
    background: #e8effd;
    border: 1px solid #90b3f8;
    border-radius: 5px;
    color: #4781f3;
    .icon-style {
      padding: 0 9px 0 15px;
    }
    .now-down {
      border-bottom: 1px solid #4781f3;
      cursor: pointer;
      margin-left: 6px;
    }
  }
  .select-import-type {
    border-radius: 5px;
    box-shadow: 0px 0px 4px #dbdbdb;
    margin: 15px 0;
    padding: 15px 15px 0 15px;
    .three-type {
      display: block;
      padding-bottom: 15px;
    }
    .download-tips {
      height: 32px;
      line-height: 32px;
      background: #fdeaea;
      border-radius: 5px;
      color: #f25757;
      margin-bottom: 15px;
      .tips-style {
        padding: 0 9px 0 15px;
      }
    }
    .hos-upload {
      width: 100%;
      margin-bottom: 15px;
      .hos-upload-dragger {
        height: 200px;
        width: 100%;
        border: 1px dashed #dae2ee;
        border-radius: 5px;
        .hos-upload__text {
          color: #000;
          span {
            color: #4781f3;
          }
        }
      }
    }
    .hos-upload-list__item,
    .hos-upload-list__item:first-child {
      margin-top: 0;
    }
    .import-btn {
      text-align: center;
      padding: 15px 0;
    }
  }
  .success-or-error-info {
    height: 120px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #dbdbdb;
    .import-msg {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon-style {
        padding-right: 10px;
        .hos-image {
          width: 60px;
          height: 60px;
        }
      }
      .font-style {
        height: 24px;
        line-height: 24px;
        font-weight: 500;
        font-size: 16px;
      }
      .info-color {
        color: #4781f3;
      }
      .err-color {
        color: #fe5f5f;
      }
      .success-color {
        color: #5db42f;
      }
      .err-data-down {
        color: #4781f3;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}
// 导出
.export-coms {
  margin: 0 15px;
  .hos-tab-pane {
    padding: 15px;
    padding-bottom: 0;
  }
  .hos-checkbox-group {
    padding-left: 6px;
  }
  .pb15 {
    padding-bottom: 15px;
  }
  .pr15 {
    padding-right: 15px;
  }
  .hos-checkbox__label {
    font-weight: 400;
  }
}

// 导出按钮
.hos-down {
  float: left;
  display: inline-block;
  height: 36px;
  background-color: #fff;
  .hos-dropdown {
    padding: 8px 10px 7px 10px;
  }
  .hos-dropdown-link {
    color: #807f89;
  }
}

//diaolog 中只有table
.dialog-table {
  margin-bottom: 0px;
}
.tab-order-edit-tip {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  font-weight: 600;
  padding: 0 10px;
  .hos-tag {
    border: none;
    background-color: transparent;
    font-size: 14px;
  }
}
.person-details__body {
  padding: 0 0 0 15px;
}

// 数据日志
.business-log {
  .hos-button + .hos-button {
    margin-left: 20px;
  }
}

.postDropDown {
  padding: 0;
  margin-top: 0px;
  left: calc(100% - 455px) !important;
  li {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
// CA配置
.CAconfig {
  padding-top: 4px !important;
  .interface-address {
    // padding-left: 15px;
  }
}
.login-manner {
  background-color: inherit;
  .manner-card {
    margin-bottom: 15px;
    .manner-card-divide {
      height: 120px;
    }
    .default-card {
      > span {
        display: inline-block;
        width: 80px;
        text-align: end;
        margin-right: 15px;
      }
      margin-left: 20px;
      padding-bottom: 15px;
    }
    .third-card {
      display: inline-block;
      width: 170px;
      height: 90px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-right: 10px;
      text-align: center;
      .third-card-box {
        .third-img {
          width: 58px;
          height: 58px;
          line-height: 58px;
        }
        .third-card-text {
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
          text-align: center;
        }
      }
      .third-card-box-img {
        padding-top: 16px;
        display: inline-block;
        width: 58px;
        height: 58px;
        vertical-align: top;
      }
      .third-card-box-text {
        display: inline-block;
        width: calc(100% - 78px);
        height: 48px;
        padding-top: 16px;
        padding-left: 5px;
        .third-card-box-button {
          text-align: center;
          padding-top: 3px;
        }
      }
    }
  }
}
.hos-org-transfer-tree {
  padding: 0 15px;
  overflow: visible;
  .transfer-panel {
    padding-top: 15px;
    width: 100%;
    height: 500px;
    .hos-tabs__content {
      overflow-y: auto;
      height: calc(100% - 65px) !important;
      .linkage {
        margin: 10px;
      }
    }
  }
}
.tab-right-button {
  position: absolute;
  top: -54px;
  right: 15px;
}
.person-manager-tab {
  padding: 15px 15px 0px;
  height: 270px;
  .post-list {
    overflow-y: auto;
    height: 213px;
    .hos-form {
      margin: 15px 0;
      &:first-child {
        margin-top: 15px;
      }
      &:last-child {
        margin-bottom: 1px;
      }
    }
  }
}
.tree-expand-button {
  margin-top: 15px;
  margin-bottom: 15px;
}

.hos-table__body-wrapper .hos-table__cell,
.hos-table__fixed .hos-table__cell,
.hos-table__fixed-right .hos-table__cell {
  padding: 8px 0;
}

.block-space-mt {
  margin-top: 15px;
}
.block-space-mb {
  margin-bottom: 15px;
}

.category-dict-edit {
  form + .dialog-footer {
    padding-top: 5px;
  }
}
.page-pre-element-edit {
  form + .dialog-footer {
    padding-top: 5px;
  }
}

.person-org-info .hos-tabs__content {
  height: calc(100% - 315px);
  overflow-y: auto;
  background: #fff;
  padding: 15px;
}

.for-show-shadow {
  padding: 4px 4px 0;
}

.selection-penal {
  width: calc(50%);
  padding-left: 15px;
  .title {
    padding: 0 15px;
    line-height: 50px;
    height: 50px;
    margin-bottom: 15px;
    color: black;
    background: #ffffff;
    box-shadow: 0px 0px 4px 1px #dbdbdb;
    border-radius: 5px 5px 2px 2px;
    .cancel {
      float: right;
      width: auto;
      height: 100%;
      vertical-align: middle;
      .cut {
        width: 1px;
        float: left;
        height: 26px;
        margin-top: 12px;
        margin-right: 10px;
        background: #dae2ee;
        border-radius: 0px 0px 0px 0px;
        opacity: 1;
      }
    }
  }
}
.tree-selected-list-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 65px);
  background: #ffffff;
  box-shadow: 0px 0px 4px 1px #dbdbdb;
  border-radius: 2px 2px 5px 5px;
  // 如果为chrome49,avatar会直接显示'...'.因此缩小字体大小为12px
  .chrome49 .hos-avatar--circle {
    font-size: 12px;
  }

  li {
    position: relative;
    padding: 8px 0 8px 15px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    &:hover {
      background: #fafafa;
      .hos-icon-circle-close {
        display: inline;
      }
    }
    span {
      word-wrap: break-word; /*强制换行*/
      overflow: hidden; /*超出隐藏*/
      text-overflow: ellipsis; /*隐藏后添加省略号*/
      white-space: nowrap; /*强制不换行*/
      margin-right: 20px;
      line-height: 20px;
      text-align: center;
    }
    .hos-icon-circle-close {
      display: none;
      position: absolute;
      right: 6px;
      font-size: 16px;
      color: #ee0f0f;
      cursor: pointer;
      line-height: 20px;
    }
    //头像
    .avatar {
      background-color: #339eff;
      margin-right: 10px;
      text-align: center;
      color: white;
      padding-left: 3px;
    }
  }
}

.person-list-view {
  .hos-biz-table {
    padding: 0px 15px;
  }
}

.select-table-popover {
  width: 800px !important;
  padding: 5px;
  height: 370px !important;
  .hos-biz-pagination {
    margin-top: 15px !important;
  }
  .mb15 {
    margin-bottom: 0;
  }
}
.table-row-not-select {
  color: #ccc;
  cursor: not-allowed;
}
.base-perm-scope {
  .hos-aside {
    .hos-card {
      .hos-card__body {
        height: 100%;
      }
    }
  }
}
.hos-async-tree {
  padding-top: 15px;
  .hos-async-tree-desc {
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    margin: 0px 15px 0;
    width: calc(100% - 30px);
    box-sizing: border-box;
    background-color: #e8effd;
    color: black;
    border-radius: 5px;
    font-weight: 600;
    border-radius: 5px;
    padding-left: 5px;
  }
  .search-inp {
    padding: 0 15px 15px 15px;
  }
  .hos-tree {
    height: calc(100% - 62px);
    border-radius: 5px;
  }
}
.bind-post-add-page {
  .hos-biz-table {
    height: 60vh;
    padding: 0 15px;
  }
}
.post-manage-view-person {
  .hos-biz-table {
    height: 60vh;
    padding: 0 15px;
  }
}
//add 20230313 组织人员维护 分配部门 start
.share-dept-shadow {
  padding: 2px 2px 0;
  max-height: 80vh;
  overflow-y: auto;
  .dept-content {
    display: flex;
    width: 100%;
    .card-list {
      min-width: 296px;
      max-width: calc(100% - 260px);
      white-space: nowrap;
      display: inline-block;
      overflow-x: auto;
      box-sizing: border-box;
      padding: 2px;
      .dept-list-item {
        white-space: nowrap;
        display: inline-block;
        margin-right: 10px;
        width: 288px;
        position: relative;
        box-sizing: border-box;
        border-radius: 2px;
        box-shadow: 0 0 2px 1px #dbdbdb;
        &:last-child {
          margin-right: 0px;
        }
        .dept-top-box {
          border: none;
          border-bottom: 1px dashed #dbdbdb;
          //box-shadow: 0px -2px  2px 1px #dbdbdb;
        }
        .top-header {
          position: relative;
          box-sizing: border-box;
          width: 100%;
          height: 40px;
          padding-left: 15px;
          background-color: #f0f5ff;
          vertical-align: middle;
          display: flex;
          justify-content: start;
          align-items: center;
          color: #000000;
          .title {
            color: #000000;
            font-size: 16px;
            font-weight: 500;
            line-height: 40px;
            box-sizing: border-box;
            max-width: calc(100% - 94px);
            margin-right: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .hos-icom-change-loc {
            color: #4781f3;
          }
          .pos {
            width: 58px;
            position: absolute;
            font-weight: 400;
            color: #ffffff;
            top: 0;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            padding: 2px 5px;
            right: 0;
            height: 18px;
            background: #339eff;
            box-shadow: 0px 2px 3px 1px rgba(69, 125, 232, 0.18);
            border-radius: 0px 2px 0px 12px;
            opacity: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        .dept-option {
          width: 100%;
          position: relative;
          border-top: none;
          box-sizing: border-box;
          &::after {
            content: '';
            position: absolute;
            background: #fff;
            width: 8px;
            height: 8px;
            border-right: 1px solid #e2e2e2;
            border-bottom: 1px solid #e2e2e2;
            border-radius: 50%;
            top: -4px;
            left: -4px;
            transform: rotate(-45deg);
            z-index: 3;
          }
          &::before {
            content: '';
            position: absolute;
            background: #fff;
            width: 8px;
            height: 8px;
            border-right: 1px solid #e2e2e2;
            border-bottom: 1px solid #e2e2e2;
            border-radius: 50%;
            top: -4px;
            right: -4px;
            transform: rotate(135deg);
            z-index: 3;
          }
          .hos-button-group.hos {
            box-shadow: none;
            padding-top: 2px;
          }
        }
        .descriptions {
          box-sizing: border-box;
          padding: 0 15px;
          font-size: 14px;
          .descriptions-item {
            height: 30px;
            line-height: 30px;
            .label {
              color: #666666;
            }
            .value {
              color: #000000;
            }
          }
        }
      }
    }
    .card-add {
      padding: 2px 0;
      margin-left: 10px;
    }
  }
  .dept-name-content {
    color: #000000;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    height: 50px;
    background: #ffffff;
    box-shadow: 0px 0px 4px 1px #dbdbdb;
    border-radius: 5px 5px 2px 2px;
    opacity: 1;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
  }
}
//add 20230313 组织人员维护 分配部门 end
.orgperson-tabs-container {
  .orgperson-tabs-aside {
    padding: 4px !important;
    border-radius: 5px;
    .hos-card {
      height: 100%;
    }
    .hos-card__body {
      border-radius: 5px !important;
      height: calc(100% - 65px) !important;
    }
    .orgperson-tabs-header {
      .hos-card__header {
        padding: 5px 15px 3px;
        line-height: 1.2;
      }
    }
  }
  .orgperson-tabs-main {
    padding: 4px !important;
    margin-left: 7px !important;
  }
  .hos-tree-node__content > .hos-tree-node__expand-icon {
    padding: 6px 6px 6px 10px;
  }
}

.dialog-padding {
  padding: 0px 15px 0 15px;
}
.show-bottom-shadow {
  padding-bottom: 4px;
}
.show-top-shadow {
  padding-top: 4px;
}
.min-dialog-footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
//add 20230328 节假日管理 start
.holiday-manage {
  height: 100%;
  .hos-main {
    padding: 4px;
    overflow: hidden;
    margin-left: 7px;
    .right-list-table {
      height: 45%;
      overflow: visible;

      .hos-biz-table {
        height: calc(100% - 10px);
        .hos-biz-toolbar {
          .hos-biz-toolbar-right {
            display: flex;
            justify-content: right;
            min-width: auto !important;
          }
        }
      }
    }
    .right-dict-table {
      height: 55%;
      .hos-biz-table {
        height: 100%;
        .hos-biz-toolbar {
          .hos-biz-toolbar-right {
            display: flex;
            justify-content: right;
            min-width: auto !important;
          }
        }
      }
    }
  }

  .hos-aside {
    width: 56% !important;
    overflow-y: auto !important;
    border-radius: 5px;
    margin: 4px !important;
    overflow: hidden;
    box-shadow: 0px 0px 4px 1px #dbdbdb;
  }
}
//add 20230328 节假日管理 end

.time-line {
  padding-top: 10px;
  font-family: Source Han Sans CN, Source Han Sans CN;
  .hos-timeline-item__node--normal {
    width: 36px;
    height: 36px;
  }
  .hos-timeline-item {
    padding-bottom: 10px;
  }
  .hos-timeline-item__tail {
    left: 17px;
    border-left: 1px solid #dae2ee;
  }
  .hos-timeline-item__node {
    background-color: snow;
  }
  .hos-timeline-item__wrapper {
    padding-left: 55px;
  }
  .timeline-icon {
    padding-right: 10px;
    font-size: 16px;
  }
  .timeline-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: -2px;
  }
  .timeline-font {
    color: #666666;
    font-size: 14px;
  }
  .timeline-center {
    height: 16px;
    line-height: 16px;
  }
  .timeline-content {
    line-height: 20px;
    font-size: 14px;
  }
  .timeline-content + .timeline-content {
    margin-top: 10px;
  }
  .hos-timeline-item__icon {
    font-size: 16px;
  }
  .hos-timeline-item__timestamp {
    position: absolute;
    margin-top: -5px;
    margin-left: -150px;
    color: black;
    line-height: 2;
    font-size: 14px;
    width: 78px;
    text-align: right;
  }
  .hos-timeline-item__timestamp.is-top {
    line-height: 16px;
    padding-top: 12px;
  }
  .hos-timeline-item__content {
    color: #000;
    padding-top: 10px;
  }
  .icon_log_insert {
    background: url(../../images/timeline/insert.png) center no-repeat;
  }
  .icon_log_update {
    background: url(../../images/timeline/update.png) center no-repeat;
  }
  .icon_log_delete {
    background: url(../../images/timeline/delete.png) center no-repeat;
  }
  .icon_log_import {
    background: url(../../images/timeline/import.png) center no-repeat;
  }
  .icon_log_bind {
    background: url(../../images/timeline/bind.png) center no-repeat;
  }
  .shadow-insert .hos-timeline-item__node {
    box-shadow: 0px 2px 5px 1px rgba(158, 227, 121, 0.6);
  }
  .shadow-update .hos-timeline-item__node {
    box-shadow: 0px 2px 5px 1px rgba(255, 153, 51, 0.6);
  }
  .shadow-delete .hos-timeline-item__node {
    box-shadow: 0px 2px 5px 1px #f25757;
  }
  .shadow-import .hos-timeline-item__node {
    box-shadow: 0px 2px 5px 1px rgba(235, 176, 16, 0.801);
  }
  .shadow-bind .hos-timeline-item__node {
    box-shadow: 0px 2px 5px 1px rgba(71, 129, 243, 0.6);
  }
  #timeLineDialog {
    max-height: 460px;
    overflow: auto;
    // padding-right: 20px;
  }
  .timeline-item {
    margin-left: 170px;
    padding-bottom: 20px;
  }
  .timeline-item:last-child {
    padding-bottom: 0;
  }
  .hos-empty__image {
    width: 120px;
  }
}

.log-view {
  padding: 0 15px;
}
//add 20230328 节假日管理
//api日志
.api-log {
  .sep-aside-shadow {
    margin: 4px !important;
    .hos-tree .hos-tree-node__content {
      padding-left: 6px !important;
    }
  }
  .sep-main-shadow {
    padding: 4px !important;
    margin-left: 7px !important;
  }
  .http-method {
    .hos-tabs__content {
      box-shadow: none;
    }
  }
  .return-param {
    .hos-card__body {
      //display: none;
      padding: 0;
      box-shadow: none;
    }
  }
}

.tabs-table-list {
  .hos-tabs__header {
    background-color: white;
  }
  .hos-tabs__content {
    height: 100%;
    .hos-biz-table.pagination-pos-bottom .hos-table {
      margin-bottom: 0px;
      box-shadow: none;
    }
    .hos-table {
      box-shadow: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      &::before {
        height: 0;
      }
      &::after {
        width: 0;
      }
    }
  }
}
.card-table-list {
  .hos-card__body {
    padding: 0;
    height: 100%;
    .hos-biz-table.pagination-pos-bottom .hos-table {
      margin-bottom: 0px;
    }
    .hos-table {
      box-shadow: none;
      border-radius: 2px 2px 5px 5px;
      &::before {
        height: 0;
      }
      &::after {
        width: 0;
      }
    }
  }
}
.person-details-container {
  .sep-aside-shadow {
    margin: 4px !important;
    overflow-y: auto !important;
    .hos-tree .hos-tree-node__content {
      padding-left: 6px !important;
    }
  }
  .sep-main-shadow {
    box-shadow: none;
    padding: 4px !important;
    margin-left: 7px !important;
  }
}
.share-inst-content {
  height: 70vh;
  overflow-y: auto;
  .hos-form {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 2px;
    }
  }
}

.color666 {
  color: #666666;
}

// 组织人员-组织职位查看人员样式
.org-position-view-person {
  padding: 0 15px;
}
.card-form {
  .hos-card__body {
    padding-bottom: 0;
  }
}
.struc-info {
  .import-body {
    position: absolute;
    right: 15px;
    top: 10px;
  }
}
.response-info {
  .import-response {
    float: right;
    margin-right: 15px;
    margin-top: -1px;
  }
}
//图标管理
.icon-manage {
  .iconStyle {
    img {
      width: 30px;
      height: 30px;
      vertical-align: middle;
    }
  }
}
.copy-button-text {
  border: none;
}
.share-inst-list-item {
  margin: 2px;
  background: #ffffff;
  box-shadow: 0 0 4px 1px #dbdbdb;
  border-radius: 5px;
  padding: 12px 12px 0 !important;
  height: auto;
}
//人员详情 关闭
.close-tab-right-button {
  position: absolute;
  top: 10px;
  right: 15px;
}
//安全配置
.safeMange {
  width: calc(100% - 3px);
  .trueColor {
    color: #5db42f;
  }
  .falseColor {
    color: #ec9d00;
  }
  span {
    font-weight: bold;
  }
  .fs {
    font-size: 14px;
  }
  .icon {
    i {
      font-size: 16px;
    }
    span {
      font-size: 14px;
      font-weight: normal;
      margin-left: 10px;
    }
  }
  .newConfig {
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    right: 15px;
    span {
      font-weight: normal;
    }
  }
  .icon:hover {
    cursor: pointer;
  }
  .dashed {
    margin: 15px -15px;
    border: 1px dashed #e2e2e2;
  }
}
.safeM {
  height: 700px;
  overflow: auto;
  padding: 0 15px 15px 15px;
  .isSwitch {
    margin-bottom: 15px;
    span {
      line-height: 28px;
    }
  }
  .hos-switch {
    margin-left: 15px;
  }
  .hos-biz-table {
    height: 93%;
  }
  .hos-biz-table .hos-biz-form {
    padding: 15px 0 0 0;
  }
}
.mbipAddress {
  .hos-form-item {
    margin-bottom: 0px;
  }
}
.DETAILS {
  padding: 0 15px;
  height: 520px;
  & .hos-biz-table {
    height: 450px;
  }
  .detfooter {
    padding: 20px 0;
    text-align: center;
  }
}
// 人员状态配置
.status-category {
  display: flex;
  flex-direction: column;
  & > .hos-button {
    width: 60px;
    height: 30px;
    padding: 8px 15px;
  }
  & > .hos-alert {
    margin: 2px 0;
    overflow: unset;
  }
  & > .hos-form {
    flex: 1;
    overflow-y: auto;
    & > .hos-row {
      width: 100%;
    }
  }
}

// 接口管理新增修改表单
.interface-manage-edit {
  .interface-baseinfo-card {
    padding: 5px 0 15px;
  }
  .hos-radio-group {
    vertical-align: middle;
  }
  .param-edit-table {
    max-height: 180px;
    overflow: auto;
    .hos-form-item {
      margin-bottom: 0;
    }
  }
  .interface-return-card {
    padding: 15px 0;
  }
  .hos-table--border .hos-table__cell:first-child .cell {
    display: flex;
  }
  .hos-radio {
    width: 80px;
  }
  .interface-icon-ml20 {
    margin-left: 20px;
  }
}
//图标管理
.icon-edit {
  .uoload {
    img {
      width: 98px;
      height: 98px;
      border-radius: 6px;
    }
    .hos-upload--picture-card {
      width: 100px;
      height: 100px;
      line-height: 100px;
      i {
        line-height: 100px;
      }
    }
  }

  .uoload,
  .disuoload {
    width: 100px;
    height: 100px;
    .hos-upload-list--picture-card .hos-upload-list__item {
      width: 100px;
      height: 100px;
    }
  }
  .disuoload .hos-upload {
    display: none;
  }

  .hos-avatar > img {
    width: 100%;
  }
}
//下拉树
.adminArea {
  .vue-treeselect--disabled .vue-treeselect__control .vue-treeselect__value-container .vue-treeselect__single-value {
    line-height: 30px;
    padding: 0;
    position: absolute;
  }
}
// 国际化管理翻译页面
.trans-box {
  padding-top: 10px;
  .row-style {
    padding-bottom: 10px;
    .language-type {
      text-align: right;
      line-height: 30px;
    }
    .language-edit {
      line-height: 30px;
    }
  }
}
.hos-button-group.hos {
  .i18n-components {
    .hos-button--default {
      height: 36px;
    }
  }
}

.hos-menu-wid {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 24px);
  & > span {
    display: block;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.hos-menu-long-popper {
  opacity: 1;
}
.hos-menu-wid70 {
  max-width: 69px;
}
.hos-menu-wid100 {
  // 菜单超过3级时,样式有问题,由100改为98
  max-width: 98px;
}
.view-value-tooltip {
  display: block;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
// 下拉表格样式
.select-table-v2-popover {
  .hos-biz-pagination {
    .hos-pagination {
      .hos-pagination__ssizes {
        .hos-input__suffix {
          .hos-input__validateIcon {
            display: none;
          }
        }
      }
    }
  }
}
.hos-message-box__btns button {
  padding: 4px 25px;
}
.menu-search {
  padding: 3px 10px 0 10px;
  background-color: #405274;
  .hos-input__inner {
    width: 100%;
    height: 28px;
    box-sizing: border-box;
    background-color: #405274;
    border: 1px solid #79869e;
    border-radius: 2px;
    margin-bottom: 5px;
    color: #c7ccd6;
    margin-top: 3px;
  }
}
// 流程岗位-》岗位字典下拉
.post-dict-select {
  .post-dict-select-span {
    display: block;
    overflow: hidden;
    width: 180px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.post-dict-tooltip {
  max-width: 80%;
}
.view-two-cards {
  .hos-tag {
    margin-right: 5px;
  }
  .two-cord-body {
    .hos-card__body {
      max-height: 120px;
      overflow-y: auto;
    }
  }
}
//组织人员-》运行时间管理-》日历配置
.public-holiday-config {
  height: 100%;
  .search-card {
    margin-bottom: 15px;
    .hos-card__body {
      padding-bottom: 0;
    }
  }
  .tables-height {
    height: calc(100% - 75px);
    .hos-col {
      height: 100%;
      .hos-card {
        height: 100%;
        .hos-card__body {
          height: calc(100% - 95px);
        }
      }
    }
  }
}
// 组织人员-》人员管理-》人员岗位组
.person-post-group {
  height: 100%;
  .dep-query {
    width: 30%;
    display: inline-block;
    padding-left: 15px;
  }
  .bottom-card {
    height: calc(100% - 75px);
    & > .hos-card__body {
      height: calc(100% - 30px);
      .hos-row,
      .hos-col,
      .post-one-tree-card,
      .post-two-tree-card {
        height: 100%;
      }
      .post-one-tree-card > .hos-card__body {
        height: calc(100% - 95px);
        .hos-tree {
          height: calc(100% - 66px);
        }
      }
      .post-two-tree-card > .hos-card__body {
        height: calc(100% - 30px);
        .hos-tree {
          height: calc(100% - 66px);
        }
      }
    }
  }
}
.metaM {
  height: 100%;
  .hos-card__body {
    height: calc(100% - 90px);
  }
}
.left-modules-bar {
  // padding: 0 3px 3px;
  border-radius: 5px;
  // max-height: calc(100vh - 107px);
  overflow: auto;
  border-bottom: 1px solid #dbdbdb;

  .add-block-btn {
    margin: 0 0 15px 0;
    box-shadow: 0 0 4px 1px #dbdbdb;
  }

  &::v-deep .hos-card__body {
    padding: 15px;
  }

  .left-table {
    margin-left: 1px;
    cursor: pointer;
    overflow: hidden;
    //max-height: calc(100vh - 225px);
    box-shadow: 0 0 4px 0 #dbdbdb;
  }
}
//实体管理
.mata-data-tabs {
  .async-table {
    animation: rotating 2s linear infinite;
  }
  .left-modules-bar {
    .codeGenerate div:nth-child(2) {
      float: right;
      margin-top: 7px;
    }
  }
  .main-table {
    padding: 0 0 0 15px;
  }
}

.i18n-edit-dialog {
  .hos-dialog {
    min-height: auto; // 取消hos下Dialog最小高度219px
  }
}
.lisence-install {
  form + .dialog-footer {
    padding-top: 5px;
    padding-bottom: 20px;
  }
  .hos-form {
    height: auto;
  }
}
//第三方应用
.add-app-dialog {
  .margin-15 {
    margin: 15px;
  }
  .font-bold {
    font-weight: bold;
  }
  .font-size-16 {
    font-size: 16px;
  }
  .display-flex {
    display: flex;
  }
  .app-card {
    background-color: #fff;
    width: 180px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #e2e2e2;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    .app-img {
      width: 36px;
      height: 36px;
      background-color: #ddd;
      margin-right: 20px;
    }
  }
}
//节日图片
.festivals-manage {
  // margin-top: 10px;
  // height: 100%;
  .hos-form {
    height: 36px;
  }
  .hos-card__body {
    // height: calc(100% - 20px);
  }
  .hos-form--inline .hos-form-item {
    margin-right: 20px;
  }
  .query-style {
    padding: 5px 0 0 10px;
    .hos-form-item {
      margin-bottom: 0;
    }
  }
  .imgs {
    height: calc(100% - 45px);
    overflow-y: auto;
  }
  .festivals {
    display: flex;
    flex-flow: row wrap;

    .festival-box {
      width: 320px;
      border-radius: 4px;
      border: 1px solid #e2e2e2;
      margin: 10px 0 0 10px;
      .mt9 {
        margin-top: 9px;
      }
      .label-font-style {
        color: #666;
        font-size: 14px;
      }
      .festival-code-col {
        display: flex;
        .festival-code-value {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .festival-col {
        padding-right: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .value-font-style {
        color: #000;
        font-size: 14px;
      }
      .mb5 {
        margin-bottom: 5px;
      }
      .lh24 {
        line-height: 24px;
      }
    }
  }
  .uploadSing .avatar-uploader-icon, .uploadSing .hos-upload--picture-card {
    width: 298px;
  }
  .uploadSing .avatar {
    width: 298px;
  }
  .uploadSing .hos-upload-list__item-actions {
    width: 298px;
  }
  .uploadSing .avatar-uploader .hos-upload {
    width: 298px;
  }
}
//水印配置
.sys-watermark {
  display: flex;
  .sys-watermark-main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sys-watermark-preview {
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .hos-color-picker__trigger {
    width: 35px;
    height: 35px;
  }
  .sys-watermark-footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.dialog-generate-mock-data {
  .base-info-card {
    margin-bottom: 15px;
    height: calc(76vh - 150px);
    overflow: auto;
  }
}
//应用管理
.app-manage {
  width: 100%;
  height: 100%;
  overflow: visible;
  overflow-x: hidden;

  .add-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: url('~@base/assets/images/meta-data/new-app.png') center center no-repeat;
    width: 141px;
    height: 47px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    cursor: pointer;

    .add-item-icon {
      background: url('~@base/assets/images/meta-data/new-app-icon.png') center center no-repeat;
      width: 18px;
      height: 18px;
    }
  }

  .mid-title {
    font-family: Source Han Sans CN;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    margin: 5px 0 0 10px;

    .bottom-line {
      width: 84px;
      height: 4px;
      background: linear-gradient(270deg, rgba(39, 129, 251, 0) 0%, #2781fb 100%);
    }
  }

  .items-row {
    position: relative;
    left: 10px;
    width: 100%;
    margin-top: 15px;
    .hos-col-5 {
      width: 20%;
      margin-bottom: 15px;
    }
  }
}
.app-items {
  display: flex;
  flex-direction: column;
  font-family: Source Han Sans CN;
  color: #333;
  font-size: 14px;
  cursor: pointer;

  .top-icons {
    display: flex;

    .icons-img {
      width: 60px;
      height: 60px;
    }

    .default-img {
      background: url('~@base/assets/images/app.png') center center no-repeat;
      background-size: cover;
    }

    .right-words {
      position: relative;
      display: flex;
      flex-direction: column;
      left: 15px;
      font-family: Source Han Sans CN;
      color: #000000;
      font-size: 16px;

      .titles {
        font-weight: 700;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 160px;
      }

      .version-words {
        font-weight: 300;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 160px;
      }
    }
  }

  .app-code {
    display: flex;
    margin-top: 10px;
    line-height: 25px;

    .app-code-text {
      height: 25px;
      color: #4781f3;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 180px;
    }
  }

  .items {
    line-height: 25px;
    display: flex;

    .inner-word {
      color: #000000;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 200px;
    }
  }

  .split-line {
    position: relative;
    top: 10px;
    left: -16px;
    width: calc(100% + 32px);
    height: 1px;
    border-bottom: 1px dashed #e2e2e2;

    .left-half-cricle {
      position: relative;
      top: -2px;
      width: 3.5px;
      height: 7px;
      line-height: 7px;
      border-radius: 0 3.5px 3.5px 0;
      background: #dbdbdb;
      // box-shadow:0px 0px 4px #d5def1;
    }

    .right-half-cricle {
      position: relative;
      float: right;
      top: -9.5px;
      width: 3.5px;
      height: 7px;
      line-height: 7px;
      border-radius: 3.5px 0 0 3.5px;
      background: #dbdbdb;
      // box-shadow:0px 0px 4px #d5def1;
    }
  }
  .editDEel-icons {
    position: absolute;
    right: 5px;
    display: flex;
    flex-wrap: wrap;
    .items {
      color: #939393;
      margin-right: 15px;
    }
  }
  .bottom-icons {
    position: relative;
    top: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    padding: 5px 0;
    white-space: nowrap;

    .items {
      display: flex;
      justify-content: flex-end;
      flex-direction: row-reverse;
      margin-right: 13px;

      div {
        line-height: 20px;
      }

      .icon {
        position: relative;
        width: 20px;
        height: 20px;
        line-height: 20px;
      }
    }

    .export-block {
      display: flex;
      flex-direction: row-reverse;
      color: #333;

      .export-words {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        padding-left: 8px;
        word-break: keep-all;
        line-height: 22px;
      }
    }
  }
}

.meta-full-screen {
  position: absolute;
  top: 10px;
  right: 40px;
  width: 15px;
  height: 15x;
  padding: 0;
  background: 0 0;
  border: none;
  outline: 0;
  cursor: pointer;
  font-size: 16px;
  color: #909399;
}
.lh28 {
  line-height: 28px;
}

.carousel-add-btn {
  margin-left: 4px;

  i {
    color: rgba(0, 0, 0, 0.4);
    font-size: 15px;

    &.active {
      color: #409eff;
    }
  }
}

// .style-configuration {
//   // margin-top: 10px;
//   height: calc(100vh - 140px);

//   // 拖拽远点
//   .screenNum:not(.add) {
//     line-height: 28px;
//     width: 12px;
//     height: 12px;
//     background-color: rgba(0, 0, 0, 0.4);
//     cursor: pointer;
//     border-radius: 50%;
//     margin: 8px;
//     display: inline-block;

//     &.active {
//       background: #409eff;
//     }
//   }

//   .tabs-hei {
//     height: 100%;

//     .pane-hei {
//       height: calc(100vh - 170px);

//       .pane-content {
//         height: 100%;
//         display: flex;
//         flex-wrap: wrap;

//         .content-left {
//           flex: 1;
//           height: calc(100% - 46px);
//           background-color: #f0f2f5;
//           box-sizing: border-box;
//           padding: 20px;

//           .login-index {
//             background-color: #fff;
//             height: 100%;
//             width: 100%;
//             overflow-y: auto;

//             .login-index-header {
//               height: 115px;
//               display: flex;
//               align-items: center;
//               justify-content: space-between;

//               .header-img {
//                 width: 88px;
//                 height: 20px;
//               }

//               .login-title {
//                 width: 300px;
//                 height: 40px;

//                 &::v-deep .hos-input__inner {
//                   width: 300px;
//                   height: 40px;
//                 }
//               }

//               .rotate-180 {
//                 transform: rotate(180deg);
//               }
//             }

//             .login-index-banner {
//               height: calc(100% - 240px);
//               // height:100%;
//               min-height: 398px;
//               background-color: #09479d;
//               position: relative;

//               &::v-deep .hos-carousel__container,
//               &::v-deep .hos-carousel {
//                 height: 100%;
//               }

//               .move-box {
//                 z-index: 100;
//                 position: absolute;
//                 // bottom: 20px;
//                 left: 50%;
//                 transform: translateX(-50%);
//               }

//               // 登录框
//               .login-dialog {
//                 width: 248px;
//                 height: 266px;
//                 position: absolute;
//                 z-index: 100;
//                 right: 100px;
//                 top: 50%;
//                 transform: translateY(-50%);
//                 text-align: center;
//                 background: url(../../login-dialog.png);

//                 .login-dialog-content {
//                   width: 100%;
//                   height: 100%;
//                 }

//                 .login-dialog-content {
//                   position: relative;
//                 }

//                 .login-dialog-title {
//                   position: absolute;
//                   margin: 0 20px;
//                   width: calc(100% - 40px);
//                   top: 20px;
//                   left: 0px;
//                 }

//                 .forgot-password {
//                   position: absolute;
//                   right: 20px;
//                   bottom: 78px;
//                   font-size: 10px;
//                   color: #008000;
//                 }

//                 .other-login-methods {
//                   position: absolute;
//                   left: 20px;
//                   bottom: 14px;
//                   color: #339eff;
//                   font-size: 10px;
//                 }
//               }

//               // hos登陆框
//               .hos-login-dialog {
//                 width: 248px;
//                 height: 266px;
//                 position: absolute;
//                 z-index: 100;
//                 right: 30px;
//                 top: 50%;
//                 transform: translateY(-50%);
//                 text-align: center;
//                 background: #131c45;
//                 padding: 20px;
//                 box-sizing: border-box;

//                 .login-dialog-content {
//                   width: 100%;
//                   height: 100%;
//                   position: relative;
//                   background: url(../../hos-dialog.png);
//                   background-size: 142% 100%;
//                   background-position-x: -42px;
//                 }

//                 .login-dialog-title {
//                   position: absolute;
//                   // margin:0 12px;
//                   width: calc(100%);
//                   top: 12px;
//                   left: 0px;
//                 }

//                 .forgot-password {
//                   position: absolute;
//                   right: 20px;
//                   bottom: 38px;
//                   font-size: 10px;
//                   color: #fff;
//                 }
//               }
//             }

//             .login-index-footer {
//               height: 125px;
//               display: flex;
//               justify-content: center;
//               align-items: center;

//               .copyright-info {
//                 width: 244px;
//               }

//               .footer-logo {
//                 height: 16px;
//                 margin-right: 8px;
//               }
//             }
//           }
//         }

//         .content-right {
//           // width: 356px;
//           height: calc(100% - 46px);
//           border-left: 1px solid #e2e2e2;
//           overflow-y: auto;
//           box-sizing: border-box;
//           padding: 8px;
//         }

//         .content-footer {
//           height: 46px;
//           width: 100%;
//           border-top: 1px solid #e2e2e2;
//           background: #fff;
//           display: flex;
//           align-items: center;
//           justify-content: center;
//         }
//       }
//     }
//   }

//   // 上传logo样式
//   .avatar-uploader::v-deep .hos-upload {
//     border: 1px dashed #d9d9d9;
//     border-radius: 6px;
//     cursor: pointer;
//     position: relative;
//     overflow: hidden;
//   }

//   .avatar-uploader .hos-upload:hover {
//     border-color: #409eff;
//   }

//   .avatar-uploader-icon {
//     font-size: 28px;
//     color: #8c939d;
//     width: 100px;
//     height: 100px;
//     line-height: 100px;
//     text-align: center;
//   }

//   .avatar {
//     width: 100px;
//     height: 100px;
//     display: block;
//   }

//   // 上传提示文本颜色
//   .color409 {
//     color: #409eff;
//   }

//   .ml-10 {
//     margin-left: 10px;
//   }

//   // banner上传
//   .banner-uploader,
//   .banner-uploader::v-deep .hos-upload {
//     width: 100%;
//     height: 100%;
//     position: relative;
//   }

//   .banner-uploader-icon {
//     font-size: 100px;
//     color: #fff;
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//   }

//   .banner-uploader {
//     .hos-upload-list__item-actions {
//       width: 100%;
//       height: 100%;

//       .hos-upload-list-content {
//         width: calc(100% - 348px);
//         display: flex;
//         align-items: center;
//         justify-content: space-around;
//         position: absolute;
//         /* top: 0; */
//         left: 0;
//       }
//     }
//   }

//   .banner {
//     width: 100%;
//     height: 100%;
//   }

//   .hos-banner-uploader {
//     width: 500px;
//     height: 90%;
//     position: relative;
//     border: 1px dashed #ddd;
//     left: 100px;
//     top: 5%;

//     .banner {
//       width: 100%;
//       height: 100%;
//     }

//     .hos-upload-list__item-actions {
//       width: 100%;
//       height: 100%;

//       .hos-upload-list-content {
//         width: calc(100% - 348px);
//         display: flex;
//         align-items: center;
//         justify-content: space-around;
//         position: absolute;
//         /* top: 0; */
//         left: 0;
//       }
//     }
//   }

//   .hos-banner-uploader::v-deep .hos-upload {
//     width: 500px;
//     height: 100%;
//   }

//   // 删除图片按钮
//   .del-btn {
//     position: absolute;
//     top: 15px;
//     right: 15px;
//     color: #fff;
//     cursor: pointer;
//   }

//   .del-btn.in-form {
//     position: absolute;
//     top: 5px;
//     right: 5px;
//     color: #409eff;
//     font-size: 14px;
//     cursor: pointer;
//   }
// }
// .style-configuration {
//   .avatar-uploader .hos-upload {
//     border: 1px dashed #d9d9d9;
//     border-radius: 6px;
//     cursor: pointer;
//     position: relative;
//     overflow: hidden;
//     // margin: 10px;
//   }

//   .avatar-uploader .hos-upload:hover {
//     border-color: #409eff;
//   }

//   .avatar-uploader-icon,
//   .hos-upload--picture-card {
//     font-size: 28px;
//     color: #8c939d;
//     line-height: 80px;
//     text-align: center;
//     width: 100px;
//     height: 100px;
//     border-radius: 5px;
//   }

//   .avatar {
//     width: 100px;
//     height: 100px;
//     display: block;
//   }

//   .hos-upload-list--picture-card .hos-upload-list__item {
//     width: 252px;
//     height: 100px;
//   }

//   .uoloadSty .hos-upload--picture-card {
//     font-size: 28px;
//     color: #8c939d;
//     width: 252px;
//     height: 100px;
//     line-height: 80px;
//     text-align: center;
//   }

//   .disUoloadSty .hos-upload--picture-card {
//     display: none;
//     /* 上传按钮隐藏 */
//   }

//   .hos-upload-list__item-actions {
//     width: 100px;
//     height: 100px;
//     position: absolute;
//     top: 0;
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     visibility: hidden;
//     background: rgba(0, 0, 0, 0.4);
//   }

//   .hos-upload-list__item-preview {
//     display: inline-block;
//     width: 20px;
//     height: 20px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }

//   .hos-icon-zoom-in:before,
//   .hos-icon-download:before,
//   .hos-icon-delete:before {
//     font-size: 30px;
//     color: #fff;
//   }

//   .hos-upload:hover .hos-upload-list__item-actions {
//     visibility: visible;
//     transition: 1s;
//     z-index: 200;
//   }
// }

.style-configuration {
  height: 100%;
  .top-row-margin {
    margin-bottom: 15px;
  }
  .content-top {
    padding: 15px;
  }
  .hos-tab-pane {
    height: 100%;
    overflow-y: auto;
  }
  .hos-card__body {
    height: calc(100% - 95px);
  }
  .pane-content {
    height: 100%;
    .hos-card {
      box-sizing: border-box;
      &.login-card1 {
        height: 282px;
        margin-right: 15px;
      }
      &.login-card2 {
        margin-left: 0;
        margin-bottom: 0;
      }
      &.login-card3 {
        margin-right: 15px;
        // margin-right: 0;
      }
      &.login-card4 {
        .custom-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      &.login-card3, &.login-card4 {
        height: 609px;
        // height: calc(100% - 270px);
      }
    }
  }
  .bg-panel {
    display: flex;
    flex-wrap: wrap;
    .banner-uploader {
      display: inline-block;
      width: 100px;
      height: 100px;
      border-radius: 6px;
      border: 1px dashed #d9d9d9;
      &::v-deep .hos-upload {
        width: 100px;
        height: 100px;
      }
      .hos-upload-list__item-actions .hos-upload-list-content {
        width: 100%;
      }
      & + .banner-uploader {
        margin-left: 10px;
      }
    }
    .add-bg-btn {
      display: inline-block;
      width: 100px;
      height: 100px;
      margin-left: 10px;
      text-align: center;
      cursor: pointer;
      border-radius: 6px;
      border: 1px dashed #d9d9d9;
      i {
        line-height: 100px;
        font-size: 14px;
        font-style: normal;
        color: #339eff;
      }
    }
  }
  .personal-info-wrap {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    // margin-top: 55px;
    font-size: 12px;
    // background-color: red;
    .personal-item {
      position: relative;
      width: 210px;
      min-height: 75px;
      border: 1px dashed #d9d9d9;
      i {
        color: #339eff;
      }
      &.add-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      .feature-item-header {
        height: 22px;
        margin-bottom: 2px;
        img {
          width: 22px;
          height: 22px;
          margin-right: 10px;
        }
        span {
          font-size: 16px;
        }
      }
      .feature-item-body {
        color: #666666;
        line-height: 17px;
      }

      .operation-panel {
        display: none;
        position: absolute;
        top: 3px;
        right: 3px;
        i {
          font-style: normal;
          cursor: pointer;
          color: #339eff;
          font-size: 14px;
          & + i {
            margin-left: 5px;
          }
        }
      }
      &:hover {
        .operation-panel {
          display: block;
        }
      }
    }
  }
  // 上传logo样式
  .avatar-uploader::v-deep .hos-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader.logo {
    .hos-upload {
      width: 254px;
      height: 46px;
      line-height: 46px;
      .avatar-uploader-icon {
        width: 254px !important;
        height: 46px !important;
        line-height: 46px !important;
      }
      .hos-upload-list__item-actions {
        // width: 252px;
        // height: 46px;
        // line-height: 46px;
      }
    }
    &:hover {
      .hos-upload-list__item-actions {
        height: 46px !important;
        line-height: 46px !important;
      }
    }
  }
  .avatar-uploader .hos-upload:hover {
    border-color: #409eff;
    .hos-upload-list__item-actions {
      width: 100px;
      height: 100px;
    }
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }

  .avatar {
    width: 100px;
    height: 100px;
    display: block;
  }

  // 上传提示文本颜色
  .color409 {
    color: #409eff;
  }

  .ml-10 {
    margin-left: 10px;
  }

  // banner上传
  .banner-uploader,
  .banner-uploader::v-deep .hos-upload {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .banner-uploader-icon {
    font-size: 70px;
    color: #cccccc;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .banner-uploader {
    .hos-upload-list__item-actions {
      width: 100%;
      height: 100%;

      .hos-upload-list-content {
        width: calc(100% - 348px);
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        /* top: 0; */
        left: 0;
      }
    }
  }
  .avatar-uploader .hos-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    // margin-top: 10px;
  }

  .avatar-uploader .hos-upload:hover {
    border-color: #409eff;
  }

  .avatar-uploader-icon,
  .hos-upload--picture-card {
    font-size: 28px;
    color: #8c939d;
    line-height: 80px;
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 5px;
  }

  .avatar {
    // width: 252px;
    // height: 100px;
    // display: block;
  }

  .hos-upload-list--picture-card .hos-upload-list__item {
    width: 100px;
    height: 100px;
  }

  .uoloadSty .hos-upload--picture-card {
    font-size: 28px;
    color: #8c939d;
    width: 100px;
    height: 100px;
    line-height: 80px;
    text-align: center;
  }

  .disUoloadSty .hos-upload--picture-card {
    display: none;
    /* 上传按钮隐藏 */
  }

  .hos-upload-list__item-actions {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.4);
  }

  .hos-upload-list__item-preview {
    display: inline-block;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hos-icon-zoom-in:before,
  .hos-icon-download:before,
  .hos-icon-delete:before {
    font-size: 30px;
    color: #fff;
  }

  .hos-upload:hover .hos-upload-list__item-actions {
    visibility: visible;
    transition: 1s;
    z-index: 200;
  }
}
.pic-sysst-welcome {
  background: url('../../images/login/欢迎进入系统动画-默认版.gif') no-repeat;
  background-size: cover;
  width: 320px;
  height: 220px;
}
.pic-sysst-welcome-en {
  background: url('../../images/login/欢迎进入系统-en.gif') no-repeat;
  background-size: cover;
  width: 320px;
  height: 220px;
}
