@import './navigation.css';
@import './login.scss';
// @import './biz-table.scss';
/* 业务表格样式见 main.ts 引入的 element-biz-table.css */
// @import './perm.scss';
// @import './sys.scss';
@import './dhc-dialog.scss';

//弹出层footer的位置，以及每个button之间的间距
.dialog-footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

  .hos-button + .hos-button {
    margin-left: 20px;
  }
}
