.main-page {
  height: calc(100% - 62px);
  //padding: 15px;
  background: #f5f5f5;
  .ep-draggable-item {
    box-shadow: 0 0 4px #dbdbdb;
  }
  .leftCompnents {
    // margin-right: 5px;
    .hos-card {
      padding: 15px 15px 0 15px;
    }
    .hos-card__body {
      height: calc(100% - 105px);
      overflow-y: auto;
    }
    .hos-card + .hos-card {
      margin-top: 0;
    }
    .hos-tabs__content {
      height: calc(100% - 65px);
      background-color: #fff;
      .hos-tab-pane {
        height: 100%;
      }
    }
    .hos-tabs__nav-wrap {
      background-color: #fff;
      border-radius: 5px 5px 2px 2px;
    }
    .ep-draggable-item {
      border-radius: 5px;
    }
  }

  .hearder-tool-bar {
    .hearder-tool-bar-content {
      padding: 10px 5px 10px 15px;
    }
  }
  .main {
    // margin-top: 15px;
    height: 100%;
    .hos-card__body {
      height: calc(100% - 8px);
      padding: 3px;
      overflow: auto;
    }
    .tool-bar {
      padding: 0;
      border-bottom: 1px solid #dae2ee;
      div:nth-child(1) {
        height: 30px;
      }
    }
    .hiprint-printPaper.design.grid {
      margin-top: 20px;
      background-size: cover !important;
    }
  }
  .params_setting_container {
    margin-left: 5px;
    font-size: 14px;
    .hos-card__body {
      border-radius: 5px;
    }
  }
  .center-panel {
    width: calc(100% - 580px);
  }
}
.templateNameDesign {
  margin: 15px 15px 0 15px;
}
//json_view弹框
.jsonDialog {
  .hos-dialog {
    padding: 15px 15px 0 15px;
    .hos-dialog__header {
      padding: 0 0 15px 0;
      .json {
        div {
          margin-bottom: 15px;
        }
        :nth-child(2) {
          margin-right: 15px;
        }
      }
    }
    .hos-dialog__body {
      margin-top: 20px;
    }
  }
  .hos-dialog .hos-dialog__footer {
    padding: 20px 0;
  }
}

.print-params {
  // .print-params-add {
  // }
  height: 100%;
  .print-params-tree {
    height: calc(100% - 40px);
    overflow-x: auto;
    .hos-tree {
      width: fit-content;
      min-width: -webkit-fill-available;
    }
  }
}

.dataset-pane {
  height: 100%;
  .dataset-tree {
    height: calc(100% - 40px);
    overflow-x: auto;
    .hos-tree {
      width: fit-content;
      min-width: -webkit-fill-available;
    }
    .dataset-tree-icon {
      // position: sticky;
      // right: 8px;
    }
  }
}
.dataShow {
  .hos-dialog__body {
    padding: 0 15px;
  }
  .hos-tabs__content {
    height: 240px;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  .data-block {
    width: calc(100% - 30px);
    height: 100%;
    overflow: auto;
    padding: 15px;
  }
  .hos-tree {
    padding: 10px 0;
  }
  .hos-textarea__inner {
    height: 200px;
  }
}

.data-set-container {
  & * {
    box-sizing: border-box;
  }
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .dataset-left-tree {
    width: 30%;
    height: 100%;
    .hos-card {
      height: 100%;
      .hos-card__body {
        height: 100%;
        & > div {
          height: 100%;
          .hos-tree {
            margin-top: 10px;
            height: calc(100% - 40px) !important;
          }
        }
      }
    }
    .left-tree {
      height: 100%;
    }
  }
  .top-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    .index-label {
      margin-right: 10px;
    }
    .reset-table {
      margin-left: auto;
    }
  }
  .dataset-right-table {
    width: 70%;
    height: 100%;
    padding: 0 0 0 15px;
  }
  .selected-table {
    height: calc(100% - 40px);
    & > div {
      height: 100%;
    }
    .hos-table {
      height: 100%;
      overflow: auto;
    }
  }
  .hos-table__empty-block {
    height: 400px !important;
  }
}
.main-page {
  height: 100%;
  width: 100%;
  margin: auto;
  // .components-card{
  // height: calc(100vh - 240px);
  // overflow: auto;
  // }
  padding: 4px;
  box-sizing: border-box;
  overflow-y: hidden;

  .h100 {
    height: 100%;
  }

  .params_setting_container {
    &::v-deep .hos-card__body.is-always-shadow {
      height: calc(100% - 30px);
      overflow: auto;
    }
  }

  &::v-deep .hos-tabs__header {
    background: #fff;
  }
}

// 拖拽
.drag_item_box {
  height: 100%;

  & > div {
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;

    & > a {
      text-decoration-line: none;

      & > span {
        font-size: 14px;
      }

      & > p {
        margin: 0;
      }
    }
  }
}

.drag_item_title {
  font-size: 16px;
  padding: 12px 6px 0 6px;
  font-weight: bold;
}

// // 默认图片
// .hiprint-printElement-image-content {
// img {
// // content: url('~@/assets/logo.png');
// }
// }

// 辅助线样式
.toplineOfPosition {
  border: 0;
  border-top: 1px dashed purple;
}

.bottomlineOfPosition {
  border: 0;
  border-top: 1px dashed purple;
}

.leftlineOfPosition {
  border: 0;
  border-left: 1px dashed purple;
}

.rightlineOfPosition {
  border: 0;
  border-left: 1px dashed purple;
}

.hearder-tool-bar {
  &::v-deep .hos-card__body.is-always-shadow {
    padding: 0;
    border-radius: 5px 5px 2px 2px;
  }

  .hearder-tool-bar-content {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    //padding: 10px 0 10px 10px;
    box-sizing: border-box;
  }
}

// 设计容器
.card-design {
  .tool-bar {
    top: 0;
    background: #fff;
    display: flex;
    justify-content: space-between;

    &::v-deep .hos-button-group {
      display: flex;
      box-shadow: none;

      .hos-button {
        // border: none;
        // border-radius: 0;
        &:hover {
          color: #807f89;
        }
      }
    }

    .resize-btn {
      color: #000;
      width: 130px;
      border: 1px solid #ccc !important;
      margin-top: 1px;

      &:hover {
        text-decoration: none;
        border-color: #339eff !important;
      }

      :first-child {
        display: flex;
        padding-left: 2px;
      }
    }
  }

  .print-tool-bar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 10;
    padding: 3px 3px 0 !important;
    box-sizing: border-box;

    .btns {
      height: 30px;
      padding: 5px 15px;
      margin-left: 10px;
    }

    .resize_div {
      width: 100px;
      height: 28px;
    }

    .hiprint-printPagination {
      margin-left: 50px;
      margin-top: 1px;
      height: 26px;
    }
  }

  .print-content {
    position: relative;
    margin-top: 8px;
    padding: 40px 0 15px 15px;
    max-height: calc(100vh - 215px);
  }
}

.resize-content {
  .resize-item {
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background-color: #fafafa;
    }
  }
}

.glyphicon,
.glyphicon-class {
  vertical-align: middle;
  color: #303133;
}

.glyphicon {
  margin-right: 10px;
}

.ep-draggable-item {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 12px 10px;
  margin-bottom: 15px;
  // border: 1px solid;
  //box-shadow: 0 0 4px #dbdbdb;
  // padding: 10px;
}

.hos-style-title {
  margin-bottom: 15px;
}

.has-slected {
  color: #4781f3 !important;
}

.custom-tree-node {
  // flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}
.custom-tree-node > span:first-child {
  width: 168px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.print-params-btn {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}

::v-deep .hos-tabs__nav-prev,
::v-deep .hos-tabs__nav-next {
  height: 50px;
  line-height: 50px !important;
}

.hos-dropdown-link {
  width: 150px;
}

::v-deep .search-input {
  .hos-input__inner {
    width: 100%;
  }
}
.hos-style-title {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  &::after {
    position: absolute;
    content: ' ';
    display: inline-block;
    height: 4px;
    left: 0;
    bottom: 1px;
    width: 100%;
    background: linear-gradient(270deg, rgba(51, 158, 255, 0) 0%, #339eff 100%);
  }
  span {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    font-family: Source Han Sans CN-Bold, Source Han Sans CN;
    font-weight: bold;
    color: #000000;
  }

  // .subline {
  // 	position: absolute;
  // 	bottom: 1px;
  // 	width: 100%;
  // 	height: 4px;
  // 	background: linear-gradient(270deg, rgba(51, 158, 255, 0) 0%, #339eff 100%);
  // }
}
