.next-step-container {
  display: flex;
  height: 500px;
  overflow: hidden;
  padding: 4px 15px 0 15px;
  .left-side {
    width: 30%;
    box-sizing: border-box;
    .hos-table--border {
      height: 454px;
      border: 1px solid #dae2ee;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
      overflow-y: auto;
    }
    .hos-table--scrollable-x .hos-table__body-wrapper {
      height: 412px;
    }
  }
  .right-side {
    width: calc(70% - 15px);
    box-sizing: border-box;
    margin-left: 15px;
    .groupConfigStyle {
      .hos-tabs__content {
        box-shadow: none;
        .group-having {
          height: calc(50% - 8px);
          box-shadow: 0 0px 4px 1px #dbdbdb;
          border-radius: 2px 2px 5px 5px;
        }
        .group-config-title {
          font-size: 14px;
          line-height: 36px;
          font-weight: 700;
          display: inline-block;
          padding: 0 5px;
        }
      }
    }
    .hos-tabs__nav-next,
    .hos-tabs__nav-prev {
      line-height: 50px !important;
    }
    .hos-tabs__nav-scroll {
      width: calc(100% - 94px);
    }
    .hos-tabs__content {
      height: 434px;
      .hos-button-group.hos {
        box-shadow: none;
      }
      .hos-tab-pane {
        height: 100%;
      }
      .space-row {
        padding-top: 15px;
      }
      .hos-table--border {
        border: none;
        border-radius: 0;
        box-shadow: none;
        height: calc(100% - 38px);
        overflow-y: auto;
      }
      .hos-table--scrollable-x .hos-table__body-wrapper {
        height: calc(100% - 40px);
        overflow-y: auto;
      }
      .relations-config-table {
        height: calc(100% - 98px);
      }
      .relations-config-table.hos-table--scrollable-x .hos-table__body-wrapper {
        height: calc(100% - 80px);
        overflow-y: auto;
      }
    }
  }
}
.add-entity-dialog {
  padding: 0 15px;
}

.meta-data-quick-add {
  .write-block {
    height: 300px;
    -webkit-user-modify: read-write-plaintext-only;
    display: block;
    resize: vertical;
    padding: 5px;
    line-height: 1.5;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    color: #666;
    background-color: #fff;
    background-image: none;
    border: 1px solid #b2c6ed;
    border-radius: 2px;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:hover {
      border-color: #4781f3;
    }
    &:focus {
      border-color: #4781f3 !important;
      outline: none; /* 移除默认的焦点边框 */
    }
  }
  .menu-box {
    max-height: 260px;
    min-width: 120px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-y: auto;
    position: fixed;
    background-color: #fff;
    border: 1px solid #efeef5;
    cursor: pointer;
    .menu-item {
      list-style: none;
      line-height: 36px;
      padding: 0 15px;
      margin: 0;
      font-size: 14px;
      color: #666;
      cursor: pointer;
      outline: none;
      &:hover {
        background-color: #ecf5ff;
        color: #66b1ff;
      }
    }
  }
}
.sql-preview-error.hos-textarea.is-disabled {
  .hos-textarea__inner {
    color: #f25757;
  }
}

.hos-message--error {
  height: auto;
  padding: 7px 15px;
}
