.hos-select-dropdown-current {
    width: 480px;
    .hos-select-dropdown__item {
        display: inline-block;
        width: 160px;
    }
  }
  /*修改密码里用于密码策略信息提示和显示密码按钮的样式*/
  .length-str {
    font-size: small;
    font-weight: 200;
    float: left;
  }
  .icon-position {
    padding-right: 5px;
  }
.pt4-hos {
  padding-top: 4px;
}

/* 菜单管理里面的hos-icon-menu的单独颜色设置 */ 
.resource {
    .hos-icon-menu:before {
        color: #000;
    }
}
.resource-edit {
    .tabs-padding {
        padding: 15px 15px 0;
    }
    .hos-icon-menu:before {
        color: #000;
    }
    .dialog-footer {
        padding-top: 30px;
    }
    .cursorP {
        cursor: pointer;
    }
}
.resource-attr {
    .hos-form-item {
        margin-bottom: 0;
    }
    .hos20 {
        padding-top: 20px!important;
    }
    .hos-table {
        border-radius: 5px;
    }
}