.vue-treeselect {
  .vue-treeselect__control {
    line-height: initial !important;
    width: auto !important;
    border-color: #b2c6ed !important;
    border-radius: 2px !important;
    height: 30px !important;
    font-size: 14px !important;
    padding-left: 6px !important;
    .vue-treeselect__placeholder {
      line-height: 30px !important;
    }
    .vue-treeselect__single-value {
      line-height: 30px !important;
      padding: 0;
    }
  }
}
