.drop-down-menu {
  height: 100%;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .msgBell {
    margin-right: 5px;
    &:hover {
      background-color: $--top-right-hover-color;
      // i {
      // 	color: #000;
      // }
    }
  }
}