.hos-side-menu {
  & > ul {
    border-radius: 4px !important;
  }
}
.simple-menu-arrow {
  // 使用伪元素添加arrow
  &::after {
    z-index: 99999;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -5px;
    left: calc(50% - 10px);
    background-color: #fff;
    transform: rotate(45deg);
  }
}
// flat-menu.vue
.flat-menu {
  // 整体样式
  // 左120px 右134*4+左右margin10*2+滚动条8=564px  total:684px
  width: 684px;
  max-height: 450px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  font-size: 14px;
  // 每一个目录行样式(每行样式)
  .flat-menu-list {
    margin-top: 15px;
    display: flex;
    .flat-menu-left {
      width: 120px;
      box-sizing: border-box;
    }
    .flat-menu-right {
      flex: 1;
      .hos-menu-item.is-active {
        background-color: #dcdcdc;
      }
    }
    &:last-child {
      margin-bottom: 15px;
    }
  }

  // 左侧目录样式
  .flat-menu-left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-right: 1px solid #ccc;
    span {
      padding: 0 10px;
      font-weight: 700;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  // 右侧菜单整体样式
  .flat-menu-right {
    margin-left: 10px;
    margin-right: 10px;
  }
}

// flat-menu.item.vue
.flat-menu-item {
  .hos-menu-item:focus {
    color: #000 !important;
  }
  & > .hos-submenu {
    &:hover {
      background-color: #dcdcdc;
      & > .hos-submenu__title {
        background-color: #dcdcdc;
        i {
          color: #000 !important;
        }
      }
    }
    .hos-submenu__title {
      background-color: transparent;
      width: 134px;
      padding: 5px !important;
      height: auto !important;
      line-height: normal !important;
      display: flex !important;
      align-items: center !important;
      transition: none;
      & > span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      i {
        color: #000;
        position: static;
        margin: 0 0 0 5px;
      }
    }
  }
  &[data-level='1'] > li {
    float: left !important;
  }
  & > .hos-menu-item {
    padding: 5px !important;
    width: 134px;
    min-width: auto !important;
    display: flex;
    height: auto !important;
    line-height: normal !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:hover {
      background-color: #dcdcdc !important;
      color: #000 !important;
    }
    & > span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .hos-submenu.is-opened {
    background-color: #dcdcdc;
    // & > .hos-submenu__title .hos-submenu__icon-arrow {
    //   transform: rotateZ(0deg) !important;
    // }
  }
}
