@import './extend-a.scss';
@import './login.scss';
@import './simple-navigation.scss';
@import './simple-biz-table.scss';
@import './perm.scss';
@import './sys.scss';
@import './resource.scss';
@import './drop-down-menu.scss';
@import './message-center.scss';
@import './shuttle-tree.scss';
@import './lodop.scss';
@import './select-table-v2.scss';
@import './meta-data-query-mgt.scss';
@import './i18n-manage.scss';
@import './flat-menu.scss';
@import './tree-select.scss';
@import '~hosui/lib/theme-simple/index.css';
@import '../custom.css';
@import './metadata.scss';
@import './dhc-dialog.scss';
@import './chinese-holiday.scss';
@import './about.scss';
@import './transfer-list.scss';
@import './lock-screen.scss';
@import './transfer-list-select-dialog.scss';

// 定义全局默认字体变量
$default-font: 'Source Han Sans', '思源黑体', 'Microsoft YaHei', sans-serif;

// 全局设置默认字体
html {
  font-family: $default-font;
}

.hos-form + .dialog-footer {
  padding-top: 10px;
}

//弹出层footer的位置，以及每个button之间的间距
.dialog-footer {
  text-align: center;
  padding-top: 10px;

  .hos-button + .hos-button {
    margin-left: 20px;
  }
}

.pt20Simple {
  padding-top: 20px !important;
}

// 菜单栏
.side-menu {
  .hos-submenu__icon-arrow {
    position: relative;
    margin-top: 0;
    top: 0;
    right: -6px;
    width: 12px;
    height: 12px;
  }
}
.menu-height {
  height: 404px;
  overflow-y: auto;
}
////表格
//.hos-table {
//  //操作按钮的样式
//  .hos-tooltip {
//    padding-left: 5px;
//    padding-right: 5px;
//    //font-size: 16px;
//  }
//}

.hos-date-editor.auto_width.hos-input,
.hos-date-editor.auto_width.hos-input__inner {
  width: auto;
}

.auto_width {
  width: auto;
}

.hos-card.user_card.is-always-shadow {
  margin-top: 10px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 10%);
}

//日志查看
.view-Log {
  margin: 10px;
}

//导入中间的宽度
.hos-divider--horizontal {
  margin: 15px 0;
}

// table in card
.card-table {
  height: 100%;
  border: 1px solid #e2e2e2;

  & .hos-card__header {
    border-bottom: 0;
  }

  & .hos-card__body {
    padding: 0;
    height: 100%;
  }

  .hos-card__header + .hos-card__body {
    height: auto;
  }

  .hos-biz-pagination {
    // position: absolute;
    // bottom: 0;
    width: 100%;
  }

  .hos-biz-table .hos-biz-form,
  .hos-biz-table .hos-biz-toolbar,
  .hos-table--border,
  .hos-table {
    border-left: 0 !important;
    border-right: 0 !important;
  }

  .hos-biz-table .hos-biz-pagination {
    border: 0;
    border-top: 1px solid #e2e2e2;
  }

  .hos-button-group.hos {
    box-shadow: 0 0px 0px #fff;
    border-radius: 0;
  }

  .hos-biz-table .hos-biz-form {
    padding: 11px 11px 0 11px;
  }

  .hos-date-editor--daterange.hos-input__inner {
    width: 100%;
  }

  .hos-form-item--small.hos-form-item {
    margin-bottom: 10px;
  }

  // .hos-form-item__label {
  //   text-align: left;
  // }
  .hos-radio {
    margin-right: 15px;
  }
}

// table in tabs
.tabs-table {
  .hos-tabs {
    height: 100%;

    .hos-tabs__header {
      margin-bottom: 0;
    }

    .hos-tabs__content {
      .hos-tab-pane {
        height: 100%;
        .hos-biz-table {
          .hos-table--border {
            &::after {
              width: 0;
            }
          }
        }
      }
    }
  }
}

.vue-treeselect--disabled .vue-treeselect__single-value {
  position: absolute;
}

.datapicker {
  width: 100% !important;
  //min-width: 240px;
}

.dataker .hos-input__inner.hos-date-editor--daterange .hos-range__close-icon {
  margin-left: -5px;
}

.assignuser > .hos-date-editor.hos-input {
  width: 100%;
}

.assignuser,
.user_card .hos-date-editor.hos-input {
  width: 100% !important;
}

.comexport {
  //height: 200px;
  margin: auto;
  padding-top: 10px;
  width: 95%;
  box-sizing: border-box;
}

.hos-input-number-pwd {
  width: 200px;
}

// 左树右表
.left-tree-right-table {
  height: 100%;

  .left-tree-search {
    padding: 10px 10px 0;
  }

  .hos-main {
    overflow: hidden;
    padding: 0;
    margin-left: 10px;
  }

  .hos-aside {
    overflow: auto;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
  }

  .hos-tree {
    overflow: auto;
    padding-left: 10px;
    height: calc(100% - 72px);
  }

  .icon-manage-left-tree {
    height: calc(100% - 48px);
    padding-top: 10px;
  }
}

.left-table-right-table {
  height: 100%;

  .hos-main {
    overflow: hidden;
    padding: 0px;
    padding-left: 10px;
  }

  .hos-aside {
    overflow: hidden;
    border-radius: 4px;
    padding: 0px;
  }
}

.hos-container.main .hos-aside {
  box-shadow: none;
}

.hos-tabs__content {
  .hos-aside {
    border: 0px;
  }
}

.simple-input-number {
  .hos-input-number {
    width: 100%;
  }
}

.hosInputNumber {
  width: 200px;
}

.pwdFormItem {
  display: inline-block;
}

// 对话框框垂直水平居中
.hos-dialog {
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// 对话框滚动条
.hos-dialog__body {
  padding: 0;

  .hos-form {
    padding: 10px 10px 0;
  }
}

//滚动条背景色
::-webkit-scrollbar-track-piece {
  background-color: #f1f1f1;
}

//滚动条颜色
::-webkit-scrollbar-thumb {
  background-color: #d4d4d4 !important;
}

//只针对dialog的body部分是form的情况，因为每个form-item都有个10px的margin-bottom
.dialog-footer {
  padding: 20px 0;
}

//数据权限作用域维护
.data-pri-scope {
  padding: 10px;
  padding-bottom: 0;

  .hos-tabs__content {
    min-height: 130px;
  }

  .dialog-footer {
    padding-top: 20px;
  }
}

//版本管理版本授权
.tenant-package-auth {
  padding: 12px 0 0 12px;

  .dialog-footer {
    padding-top: 20px;
  }

  .authtree {
    height: 380px;
    overflow: auto;
  }
}

// 数据日志查看
.data-view .hos-table__body-wrapper {
  max-height: 300px;
  overflow: auto;
  overflow-x: hidden;

  .dialog-footer {
    padding-top: 20px;
  }
}

//页面预置，元素/数据权限列表
.sys-perm-page .hos-table--border {
  border-right: none !important;
}

// 上传头像 切换角色
.upload-avatar .dialog-footer {
  padding-top: 20px;
  line-height: 28px;

  .avatarHeight {
    height: 178px;
  }
}

//修改密码
.change-pass {
  .hos-dialog__body .hos-form {
    padding-top: 0;
  }

  .hos-form-item__label {
    vertical-align: top;
  }

  .hos-form-item {
    margin-bottom: 10px;
  }

  .hos-progress-bar {
    padding-right: 70px;
    margin-right: -70px;
  }

  .progress {
    width: 100%;
    line-height: 22px;
    text-align: left;
  }

  .dialog-footer {
    line-height: 28px;
  }
}

// 左侧menu按钮的大小
.hos-menu-item [class^='hos-icom-'],
.hos-menu-item [class^='hos-icon-'] {
  font-size: 16px;
}

// 滚动条宽度设置为 8px
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

// 密码策略背景
.pwd-border {
  background-color: #fff;
  height: calc(100% - 20px);
  padding: 9px;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
}

// 密码策略的样式
.pwdpolicy {
  .pwd-padding {
    padding: 10px 10px 0 0;
  }
}

.side-menu {
  [class^='hos-icom-'] {
    font-size: 16px;
    margin-right: 5px;
    width: 24px;
    text-align: center;
    vertical-align: middle;
  }
  .simple-side-menu .hos-menu-item.is-active {
    background-color: #28ba05 !important;
    color: #fff !important;
  }

  & .hos-menu-item.otherMenu.leftMenu.is-active {
    background-color: #e5f3ff;
    i {
      color: #339eff;
    }
  }
  .leftMenu i {
    color: #909399;
  }
}

//导入管理
.import-manage {
  .hos-radio-group {
    vertical-align: middle;
  }

  .middle-card {
    margin: 10px 0;
  }

  .dialog-footer {
    padding: 20px 0;
  }

  .excel-import-add {
    color: #000;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 10px;
  }

  .pd134 {
    padding-left: 134px;
  }
}

.import-column .hos-biz-table .hos-biz-toolbar {
  .close-btn {
    float: right;
    margin-right: 20px;
  }
}

// 导入组件
.upload-com {
  padding: 0 10px;

  .download-template {
    margin-top: 10px;
    height: 32px;
    line-height: 32px;
    background: #e8effd;
    border: 1px solid #90b3f8;
    color: #4781f3;
    border-radius: 2px;

    .icon-style {
      padding: 0 5px 0 10px;
    }

    .now-down {
      border-bottom: 1px solid #4781f3;
      cursor: pointer;
      margin-left: 6px;
    }
  }

  .select-import-type {
    border: 1px solid #dbdbdb;
    margin: 10px 0;
    padding: 10px 10px 0 10px;
    border-radius: 4px;

    .three-type {
      display: block;
      padding-bottom: 10px;
    }

    .download-tips {
      height: 32px;
      line-height: 32px;
      background: #fdeaea;
      color: #f25757;
      margin-bottom: 10px;
      border-radius: 2px;

      .tips-style {
        padding: 0 9px 0 10px;
      }
    }

    .hos-upload {
      width: 100%;
      margin-bottom: 10px;

      .hos-upload-dragger {
        height: 200px;
        width: 100%;
        border: 1px dashed #dae2ee;
        border-radius: 4px;

        .hos-upload__text {
          color: #000;

          span {
            color: #4781f3;
          }
        }
      }
    }

    .hos-upload-list__item,
    .hos-upload-list__item:first-child {
      margin-top: 0;
    }

    .import-btn {
      text-align: center;
      padding: 10px 0;
    }
  }

  .success-or-error-info {
    height: 120px;
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
    border-radius: 4px;

    .import-msg {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon-style {
        padding-right: 10px;

        .hos-image {
          width: 60px;
          height: 60px;
        }
      }

      .font-style {
        height: 24px;
        line-height: 24px;
        font-weight: 500;
        font-size: 16px;
      }

      .info-color {
        color: #4781f3;
      }

      .err-color {
        color: #fe5f5f;
      }

      .success-color {
        color: #5db42f;
      }

      .err-data-down {
        color: #4781f3;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
  .hos-radio {
    .hos-radio__label {
      word-wrap: break-word;
      word-break: normal;
      white-space: normal;
    }
  }
}

// 导出组件
.export-coms {
  .hos-tabs {
    margin: 10px;

    .hos-tabs__content {
      padding-top: 10px;

      .pb15 {
        padding: 0 0 10px 10px;
      }
    }
  }

  .hos-keywords .keywords-box .hos-checkbox-button {
    margin: 0 10px 10px 0;
  }

  .hos-keywords .keywords-box {
    margin-bottom: 0;
    margin-left: 10px;
  }
}

// 导出按钮
.hos-down {
  float: left;
  display: inline-block;
  padding-right: 8px;

  .hos-dropdown {
    top: 3px;
  }

  .hos-dropdown-link {
    font-weight: 500;
  }
}

//diaolog 中只有table
.dialog-table {
  margin-bottom: 0px;
}

.tab-order-edit-tip {
  position: absolute;
  right: 0px;
  top: 0px;

  font-size: 14px;
  line-height: 40px;
  height: 40px;
  font-weight: 600;
  padding: 0 10px;

  .hos-tag {
    border: none;
    background-color: transparent;
    font-size: 12px;
    padding: 0 5px;
  }
}

.person-details__body {
  padding: 0 0 0 10px;
}

.postDropDown {
  right: 155px;
  left: auto;
  li {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .popper__arrow {
    display: none;
  }
}

.hos-org-transfer-tree {
  padding: 10px 10px 0;

  .transfer-panel {
    width: 100%;
    height: 500px;
    margin: 10px 0px;
    border-radius: 4px;

    .hos-tabs__content {
      overflow-y: auto;
      height: calc(100% - 36px) !important;

      .linkage {
        margin: 10px;
      }
    }
  }
}
.menu-search {
  padding: 2px 10px 0 10px;
  .hos-input__inner {
    width: 100%;
    height: 28px;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 4px;
    margin-top: 2px;
  }
}

.tab-right-button {
  position: absolute;
  top: -32px;
  right: 10px;
}

.person-manager-tab {
  padding: 10px 10px 2px;
  height: 229px;

  .post-list {
    overflow-y: auto;
    height: 170px;
    box-sizing: border-box;

    .hos-form {
      margin: 10px 0;

      &:first-child {
        margin-top: 10px;
      }

      &:last-child {
        margin-bottom: 1px;
      }
    }
  }
}

.tree-expand-button {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.block-space-mt {
  margin-top: 10px;
}
.block-space-mt-simple {
  margin-top: 0;
}

.block-space-mb {
  margin-bottom: 10px;
}

.person-org-info .hos-tabs__content {
  height: calc(100% - 276px);
  overflow-y: auto;
  background: #fff;
  padding: 15px;
}

.for-show-shadow {
  padding: 0;
}

.selection-penal {
  width: calc(50%);
  padding-left: 10px;

  .title {
    padding: 0 10px;
    line-height: 36px;
    height: 36px;
    box-sizing: border-box;
    color: black;
    background: #ffffff;
    border: 1px solid #e2e2e2;
    border-radius: 4px 4px 0px 0px;

    .cancel {
      float: right;
      width: auto;
      height: 36px;
      line-height: 36px;
      vertical-align: middle;
      margin-top: -2px;

      .cut {
        width: 1px;
        float: left;
        height: 26px;
        margin-top: 6px;
        margin-right: 10px;
        background: #dfdfdf;
      }
    }
  }
}

.tree-selected-list-content {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: calc(100% - 35px);
  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid #e2e2e2;
  border-top: none;
  border-radius: 0 0 4px 4px;

  // 如果为chrome49,avatar会直接显示'...'.因此缩小字体大小为12px
  .chrome49 .hos-avatar--circle {
    font-size: 12px;
  }
  li {
    position: relative;
    padding: 8px 0 8px 10px;
    box-sizing: content-box;
    display: flex;
    align-items: center;

    &:hover {
      background: #fafafa;

      .hos-icon-circle-close {
        display: inline;
      }
    }

    span {
      word-wrap: break-word;
      /*强制换行*/
      overflow: hidden;
      /*超出隐藏*/
      text-overflow: ellipsis;
      /*隐藏后添加省略号*/
      white-space: nowrap;
      /*强制不换行*/
      margin-right: 20px;
      line-height: 20px;
      text-align: center;
    }

    .hos-icon-circle-close {
      display: none;
      position: absolute;
      right: 6px;
      font-size: 16px;
      color: #ee0f0f;
      cursor: pointer;
      line-height: 20px;
    }

    //头像
    .avatar {
      background-color: #339eff;
      margin-right: 10px;
      text-align: center;
      color: white;
      padding-left: 3px;
    }
  }
}

.person-list-view {
  padding: 10px;

  .dialog-footer {
    padding: 20px 0 10px;
  }
}

.select-table-popover {
  width: 500px !important;
  height: 370px !important;

  .hos-table--fit {
    padding: 0;
  }

  .hos-biz-pagination {
    border-right: none;
    border-bottom: none;
    border-left: none;
  }

  .hos-table--border::after {
    width: 0;
  }

  .hos-biz-form {
    border: none;
  }

  .mb15 {
    margin-bottom: 0;
  }
}

.table-row-not-select {
  color: #ccc;
  cursor: not-allowed;
}

.hos-async-tree {
  .hos-async-tree-desc {
    font-size: 14px;
    line-height: 32px;
    margin: 10px 10px 0;
    width: calc(100% - 20px);
    box-sizing: border-box;
    background-color: #eff9ff;
    border: 1px solid #9cd0ff;
    color: #339eff;
    font-weight: 600;
    border-radius: 4px;
    padding-left: 5px;
  }

  .search-inp {
    padding: 10px 10px 10px 10px;
  }

  .hos-tree {
    height: calc(100% - 58px);
  }
  .hos-tree-node__content {
    &.isLeaf {
      .hos-async-tree__content {
        margin-left: 16px;
      }
    }
  }
}

.bind-post-add-page {
  .hos-biz-table .hos-biz-form {
    padding: 0;
    margin-bottom: 0;
  }

  .hos-biz-table {
    padding: 10px;
    height: 60vh;
  }
}

.post-manage-view-person {
  .hos-biz-table .hos-biz-form {
    padding: 0;
    margin-bottom: 0;
  }

  .hos-biz-table {
    padding: 10px;
    height: 60vh;
  }
}

//add 20230313 组织人员维护 分配部门 start
.share-dept-shadow {
  padding: 0;
  max-height: 80vh;
  overflow-y: auto;

  .dept-content {
    width: 100%;
    display: flex;
    border: 1px solid #e2e2e2;
    border-top: none;
    border-radius: 0 0 4px 4px;
    padding: 10px 10px 6px 10px;
    margin-top: 0px;
    box-sizing: border-box;

    .card-list {
      max-width: calc(100% - 260px);
      white-space: nowrap;
      display: inline-block;
      overflow-x: auto !important;
      box-sizing: border-box;

      .dept-list-item {
        white-space: nowrap;
        display: inline-block;
        margin-right: 10px;
        box-sizing: border-box;
        width: 288px;
        height: 260px;
        position: relative;
        padding: 1px;
        overflow: hidden;

        &:last-child {
          margin-right: 0px;
        }

        .dept-top-box {
          border-radius: 4px;
          border: 1px solid #e2e2e2;
          border-bottom: 1px dashed #e2e2e2;
        }

        .top-header {
          position: relative;
          box-sizing: border-box;
          width: 100%;
          height: 40px;
          border-radius: 2px 2px 0px 0px;
          padding-left: 15px;
          background-color: #f0f5ff;
          vertical-align: middle;
          display: flex;
          justify-content: start;
          align-items: center;
          color: #000000;

          .title {
            font-size: 14px;
            font-weight: 500;
            line-height: 40px;
            max-width: calc(100% - 94px);
            box-sizing: border-box;
            margin-right: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .hos-icom-change-loc {
            color: #4781f3;
          }

          .pos {
            width: 58px;
            position: absolute;
            font-weight: 400;
            color: #ffffff;
            padding: 2px 5px;
            top: 0;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            right: 0;
            height: 18px;
            background: #339eff;
            border-radius: 0px 2px 0px 12px;
            opacity: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .dept-option {
          width: 100%;
          position: relative;
          border: 1px solid #e2e2e2;
          border-top: none;
          box-sizing: border-box;
          border-radius: 4px;

          &::after {
            content: '';
            position: absolute;
            background: #fff;
            width: 8px;
            height: 8px;
            border-right: 1px solid #e2e2e2;
            border-bottom: 1px solid #e2e2e2;
            border-radius: 50%;
            top: -6px;
            left: -4px;
            transform: rotate(-45deg);
            z-index: 3;
          }

          &::before {
            content: '';
            position: absolute;
            background: #fff;
            width: 8px;
            height: 8px;
            border-right: 1px solid #e2e2e2;
            border-bottom: 1px solid #e2e2e2;
            border-radius: 50%;
            top: -6px;
            right: -4px;
            transform: rotate(135deg);
            z-index: 3;
          }
        }

        .descriptions {
          box-sizing: border-box;
          padding: 0 15px;
          font-size: 14px;

          .descriptions-item {
            height: 30px;
            line-height: 30px;

            .label {
              color: #666666;
            }

            .value {
              color: #000000;
            }
          }
        }
      }
    }

    .card-add {
      padding: 1px 0;
      margin-left: 10px;
      box-sizing: border-box;
    }
  }

  .dept-name-content {
    color: #000000;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    height: 36px;
    background: #ffffff;
    border-radius: 4px 4px 0 0;
    border: 1px solid #e2e2e2;
    opacity: 1;
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;
  }
}

//add 20230313 组织人员维护 分配部门 end
.orgperson-tabs-container {
  .orgperson-tabs-aside {
    .tabs-card {
      border: none !important;
      border-right: 1px solid #e2e2e2 !important;
      border-radius: 0;
    }

    .hos-card .hos-card__body {
      padding-left: 0;
    }
  }
}

.dialog-padding {
  padding: 0;
}

.show-bottom-shadow {
  padding-bottom: 0;
}

.show-top-shadow {
  padding-top: 0;
}

//add 20230328 节假日管理 start
.holiday-manage {
  height: 100%;

  .hos-main {
    overflow: hidden;
    padding: 0;
    padding-left: 10px;

    .right-list-table {
      height: 50%;

      .hos-biz-table {
        height: calc(100% - 10px);
      }
    }

    .right-dict-table {
      height: 50%;

      .hos-biz-table {
        height: 100%;
      }
    }
  }

  .hos-aside {
    width: 55% !important;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
  }
}
//add 20230328 节假日管理 end
// 页签下表格
.tabs-table-list {
  .hos-tabs__content {
    padding-top: 2px;

    .hos-table {
      border-radius: 0;
      border-left: none !important;
      border-right: none !important;
      border-bottom: none !important;

      &::before {
        height: 0;
      }

      &::after {
        width: 0;
      }
    }

    .dynamic-data-table {
      border-radius: 0 !important;
      border-top: 1px solid #e2e2e2;

      .hos-biz-table > div:last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .hos-table {
        &::before {
          height: 0;
        }

        &::after {
          width: 0;
        }

        border-radius: 0;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: none !important;
      }

      .hos-table--border {
        &::after {
          width: 0;
        }

        .hos-table__cell {
          // &:last-child {
          //     border-right: none;
          // }
          // &:nth-child(6){
          //     border-right: none;
          // }
        }
      }
    }
  }
}

.card-table-list {
  .hos-card__header {
    border-bottom: 1px solid #e2e2e2 !important;
  }

  .hos-card__body {
    padding: 0;
    padding-top: 2px;

    .hos-table {
      border-radius: 0;
      border-left: none !important;
      border-right: none !important;
      border-bottom: none !important;
    }

    .dynamic-data-table {
      border-radius: 0 !important;
      border-top: 1px solid #e2e2e2;

      .hos-biz-table > div:last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .hos-table {
        &::before {
          height: 0;
        }

        &::after {
          width: 0;
        }

        border-radius: 0;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: none !important;
      }

      .hos-table--border {
        &::after {
          width: 0;
        }

        .hos-table__cell {
          // &:last-child {
          //     border-right: none;
          // }
          // &:nth-child(6){
          //     border-right: none;
          // }
        }
      }
    }
  }
}

.share-inst-content {
  height: 70vh;
  overflow-y: auto;

  .hos-form {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

// 组织人员-组织职位查看人员样式
.org-position-view-person {
  padding: 10px;

  .dialog-footer {
    padding: 20px 0 10px;
  }
}

.card-form {
  .hos-card__body {
    padding-bottom: 0;
  }
}

.struc-info {
  .hos-tabs--top:not(.hos-tabs--border-card):not(.hos-tabs--second-level) > .hos-tabs__content {
    background: #fff;
    border-top: 1px solid #e2e2e2 !important;
  }

  .import-body {
    position: absolute;
    right: 10px;
    top: 5px;
  }
}

.response-info {
  .import-response {
    float: right;
    margin-top: -5px;
  }
}

.api-auth {
  .mb15 {
    margin-bottom: 0;
  }

  .hos-table--border::after,
  .hos-table--group::after {
    width: 0;
  }
}

.color666 {
  color: #666666;
}
.time-line {
  padding-top: 16px;
  font-family: Source Han Sans CN, Source Han Sans CN;
  .dialog-footer {
    padding: 20px 0;
  }
  .hos-timeline-item__node--normal {
    width: 36px;
    height: 36px;
  }
  .hos-timeline-item {
    padding-bottom: 10px;
  }
  .hos-timeline-item__tail {
    left: 17px;
    border-left: 1px solid #dae2ee;
  }
  .hos-timeline-item__node {
    background-color: snow;
  }
  .hos-timeline-item__wrapper {
    padding-left: 55px;
  }
  .timeline-icon {
    padding-right: 10px;
    font-size: 16px;
  }
  .timeline-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: -2px;
  }
  .timeline-font {
    color: #666666;
    font-size: 14px;
  }
  .timeline-center {
    height: 16px;
    line-height: 16px;
  }
  .timeline-content {
    line-height: 20px;
    font-size: 14px;
  }
  .timeline-content + .timeline-content {
    margin-top: 10px;
  }
  .hos-timeline-item__icon {
    font-size: 16px;
  }
  .hos-timeline-item__timestamp {
    position: absolute;
    margin-top: -5px;
    margin-left: -150px;
    color: black;
    line-height: 2;
    font-size: 14px;
    width: 78px;
    text-align: right;
  }
  .hos-timeline-item__timestamp.is-top {
    line-height: 16px;
    padding-top: 12px;
  }
  .hos-timeline-item__content {
    color: #303133;
    padding-top: 10px;
  }
  .icon_log_insert {
    background: url(../../images/timeline/insert.png) center no-repeat;
  }
  .icon_log_update {
    background: url(../../images/timeline/update.png) center no-repeat;
  }
  .icon_log_delete {
    background: url(../../images/timeline/delete.png) center no-repeat;
  }
  .icon_log_import {
    background: url(../../images/timeline/import.png) center no-repeat;
  }
  .icon_log_bind {
    background: url(../../images/timeline/bind.png) center no-repeat;
  }
  .shadow-insert .hos-timeline-item__node {
    box-shadow: 0px 2px 5px 1px rgba(158, 227, 121, 0.6);
  }
  .shadow-update .hos-timeline-item__node {
    box-shadow: 0px 2px 5px 1px rgba(255, 153, 51, 0.6);
  }
  .shadow-delete .hos-timeline-item__node {
    box-shadow: 0px 2px 5px 1px #f25757;
  }
  .shadow-import .hos-timeline-item__node {
    box-shadow: 0px 2px 5px 1px rgba(235, 176, 16, 0.801);
  }
  .shadow-bind .hos-timeline-item__node {
    box-shadow: 0px 2px 5px 1px rgba(71, 129, 243, 0.6);
  }
  #timeLineDialog {
    max-height: 460px;
    overflow: auto;
    // padding-right: 20px;
  }
  .timeline-item {
    margin-left: 170px;
    padding-bottom: 20px;
  }
  .timeline-item:last-child {
    padding-bottom: 0;
  }
  .hos-empty__image {
    width: 120px;
  }
}

.log-view {
  padding: 10px 10px 0;
}

//图标管理
.icon-manage {
  .iconStyle {
    img {
      width: 30px;
      height: 30px;
      vertical-align: middle;
    }
  }
}

.share-inst-list-item {
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding: 12px 12px 0;
  height: auto;
}

//人员详情 关闭
.close-tab-right-button {
  position: absolute;
  top: 2.2px;
  right: 10px;
}

//安全配置
.safeMange {
  .trueColor {
    color: #5db42f;
  }

  .falseColor {
    color: #ec9d00;
  }

  span {
    font-weight: bold;
  }

  .fs {
    font-size: 14px;
  }

  .icon {
    i {
      font-size: 16px;
    }

    span {
      font-size: 14px;
      font-weight: normal;
      margin-left: 10px;
    }
  }

  .newConfig {
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    right: 15px;

    span {
      font-weight: normal;
    }
  }

  .icon:hover {
    cursor: pointer;
  }

  .dashed {
    margin: 15px -15px;
    border: 1px dashed #e2e2e2;
  }
}

.safeM {
  height: 700px;
  overflow: auto;
  padding: 0 10px 10px 10px;

  .isSwitch {
    margin: 10px 0;
    span {
      line-height: 28px;
    }
  }

  .hos-switch {
    margin-left: 10px;
  }

  .hos-biz-table {
    height: 93%;
  }

  .hos-biz-table .hos-biz-form {
    padding: 10px 0 0 0;
  }
}

.DETAILS {
  padding: 10px;
  padding-bottom: 0;
  height: 520px;
  & .hos-biz-table {
    height: 450px;
  }

  .detfooter {
    padding: 20px 10px 10px 10px;
    text-align: center;
    & > .hos-button {
      height: 30px;
    }
  }
}

// 接口管理新增修改表单
.interface-manage-edit {
  .interface-baseinfo-card {
    margin: 0 0 10px;
  }

  .hos-radio-group {
    vertical-align: middle;
  }

  .param-edit-table {
    border: none !important;
    max-height: 180px;
    overflow: auto;

    .hos-form-item {
      margin-bottom: 0;
    }
  }

  .interface-return-card {
    padding: 10px 0;
  }

  .hos-table--border .hos-table__cell:first-child .cell {
    display: flex;
  }

  .hos-radio {
    width: 80px;
  }

  .interface-icon-ml20 {
    margin-left: 20px;
  }
}

//图标管理
.icon-edit {
  .uoload {
    img {
      width: 98px;
      height: 98px;
      border-radius: 6px;
    }

    .hos-upload--picture-card {
      width: 100px;
      height: 100px;
      line-height: 100px;

      i {
        line-height: 100px;
      }
    }
  }

  .uoload,
  .disuoload {
    width: 100px;
    height: 100px;

    .hos-upload-list--picture-card .hos-upload-list__item {
      width: 100px;
      height: 100px;
    }
  }

  .disuoload .hos-upload {
    display: none;
  }
}

.hos-avatar > img {
  width: 100%;
}

// 国际化管理翻译页面
.trans-box {
  padding-top: 12px;

  .row-style {
    padding-bottom: 10px;

    .language-type {
      text-align: right;
      line-height: 28px;
    }

    .language-edit {
      line-height: 28px;
    }
  }
}

// 国际化按钮
.hos-button-group.hos {
  .i18n-components {
    .hos-button--default {
      padding: 6px 10px;

      &:hover {
        background-color: #eff9ff;
        color: #339eff;
      }
    }
  }
}

.view-value-tooltip {
  display: block;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 流程岗位-》岗位字典下拉
.post-dict-select {
  .post-dict-select-span {
    display: block;
    overflow: hidden;
    width: 180px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.post-dict-tooltip {
  max-width: 80%;
}

.login-card {
  .hos-tabs--top:not(.hos-tabs--separate):not(.hos-tabs--second-level) {
    border: none;
  }
}

.hos-menu-wid {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hos-menu-long-popper {
  opacity: 1;
}

.hos-menu-wid70 {
  max-width: 69px;
}

.hos-menu-wid100 {
  // 菜单超过3级时,样式有问题,由100改为98
  max-width: 98px;
}
.view-two-cards {
  .hos-tag {
    margin-right: 5px;
  }
  .two-cord-body {
    margin-top: 10px;
    .hos-card__body {
      max-height: 120px;
      overflow-y: auto;
    }
  }
}
//组织人员-》运行时间管理-》日历配置
.public-holiday-config {
  height: 100%;
  .search-card {
    margin-bottom: 10px;
    .hos-card__body {
      padding-bottom: 0;
    }
  }
  .tables-height {
    height: calc(100% - 60px);
    .hos-col {
      height: 100%;
      .hos-card {
        height: 100%;
        .hos-card__body {
          height: calc(100% - 57px);
        }
      }
    }
  }
}
// 组织人员-》人员管理-》人员岗位组
.person-post-group {
  height: 100%;
  .dep-query {
    width: 30%;
    display: inline-block;
    padding-left: 15px;
  }
  .bottom-card {
    height: calc(100% - 50px);
    & > .hos-card__body {
      height: calc(100% - 20px);
      .hos-row,
      .hos-col,
      .post-one-tree-card,
      .post-two-tree-card {
        height: 100%;
      }
      .post-one-tree-card > .hos-card__body {
        height: calc(100% - 56px);
        .hos-tree {
          height: calc(100% - 62px);
        }
      }
      .post-two-tree-card > .hos-card__body {
        height: calc(100% - 20px);
        .hos-tree {
          height: calc(100% - 62px);
        }
      }
    }
  }
}

//实体管理
.mata-data-tabs {
  .async-table {
    animation: rotating 2s linear infinite;
  }

  .left-modules-bar {
    border: 1px solid #e2e2e2;

    .metaM {
      height: calc(100% - 86px);

      .hos-card__body {
        padding: 0 10px 10px 10px;
        height: calc(100% - 10px);
      }
    }

    .left-table {
      box-shadow: none;
    }
  }

  .main-table {
    padding: 0 0 0 10px;
  }

  .codeGenerate div:nth-child(2) {
    float: right;
    margin-top: -7px;
  }

  .hos-card {
    border: none;
  }
}

.app-manager-details .common-menu {
  height: calc(100% - 106px) !important;
  margin-right: 10px !important;
  .app-center-menu.hos-menu {
    height: calc(100% - 10px) !important;
    box-shadow: none;
    border: 1px solid #e2e2e2;
  }

  .app-card,
  .back-app {
    margin-bottom: 10px !important;
    box-shadow: none !important;
    border: 1px solid #e2e2e2 !important;
  }

  height: calc(100vh - 106px);
}
.app-manager-details {
  .details-center {
    .mata-data-tabs {
      .hos-aside {
        box-shadow: none;
        height: 100%;
        padding: 0;
        .hos-card {
          box-shadow: none;
        }
        &.left-modules-bar {
          .hos-biz-table {
            margin: 0;
            height: 100%;
            .hos-biz-toolbar {
              border-top: 1px solid #e2e2e2;
            }
            .hos-table__body-wrapper {
              overflow-y: auto;
              overflow-x: hidden !important;
            }
          }
          .hos-card__body {
            height: calc(100% - 8px);
          }
        }
      }
    }
  }
}

.meta-data-page {
  .hos-tabs--top {
    border: none !important;
  }
}
.hos-menu-wid112 {
  // his需要菜单展示8个字，更多的才显示...
  max-width: 112px;
}
.resource-edit {
  .vue-treeselect__control {
    line-height: initial;
    width: auto;
    border-radius: 2px;
    height: 28px;
    font-size: 14px;
    padding-left: 6px;
    border-color: #ccc;
  }
  .vue-treeselect__placeholder {
    line-height: 28px;
    padding-left: 0;
    color: #999;
  }
}
.hos-card__header {
  min-height: 35px;
  height: auto;
}
.lisence-install {
  form + .dialog-footer {
    padding-top: 5px;
    padding-bottom: 20px;
  }
  .hos-form {
    height: auto;
  }
}
//第三方应用
.add-app-dialog {
  .margin-15 {
    margin: 15px;
  }
  .font-bold {
    font-weight: bold;
  }
  .font-size-16 {
    font-size: 16px;
  }
  .display-flex {
    display: flex;
  }
  .app-card {
    background-color: #fff;
    width: 180px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #e2e2e2;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    .app-img {
      width: 36px;
      height: 36px;
      background-color: #ddd;
      margin-right: 20px;
    }
  }
}
//人员状态配置
// .status-category {
//   background-color: #fff;
//   padding: 10px;
//   height: calc(100% - 20px);
//   width: calc(100% - 30px);
//  .hos-row:first-child {
//   margin-bottom: 10px;
//  }
//  .hos-form {
//   height: calc(100% - 43px);
//   .hos-row {
//     .hos-col-12:first-child {
//       padding: 0 10px 0 10px !important;
//     }
//     .hos-col-12:last-child {
//       padding: 0 10px 0 0 !important;
//     }
//   }
//   .hos-table__body-wrapper {
//     overflow-y: auto;
//   }
//   .hos-table--fit {
//     border-bottom: 1px solid #e4e4e4;
//   }
//   .hos-table {
//     height: 754px;
//   }
// }
// }
//节日图片
.festivals-manage {
  // margin-top: 10px;
  // height: 100%;
  .hos-form {
    height: 36px;
  }
  .hos-col-19 {
    width: 72%;
  }

  .hos-card__body {
    // height: calc(100% - 20px);
  }
  .hos-form--inline .hos-form-item {
    margin-right: 20px;
  }
  .query-style {
    padding: 5px 0 0 10px;
    .hos-form-item {
      margin-bottom: 0;
    }
  }
  .imgs {
    height: calc(100% - 45px);
    overflow-y: auto;
  }
  .festivals {
    display: flex;
    flex-flow: row wrap;

    .festival-box {
      width: 301px;
      border-radius: 4px;
      border: 1px solid #e2e2e2;
      margin: 10px 0 0 10px;
      .mt9 {
        margin-top: 9px;
      }
      .label-font-style {
        color: #666;
        font-size: 14px;
      }
      .festival-code-col {
        display: flex;
        .festival-code-value {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .festival-col {
        padding-right: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .value-font-style {
        color: #000;
        font-size: 14px;
      }
      .mb5 {
        margin-bottom: 5px;
      }
      .lh24 {
        line-height: 24px;
      }
    }
  }

  .uploadSing .avatar-uploader-icon, .uploadSing .hos-upload--picture-card {
    width: 280px;
  }
  .uploadSing .avatar {
    width: 280px;
  }
  .uploadSing .hos-upload-list__item-actions {
    width: 280px;
  }
}
//水印配置
.sys-watermark {
  display: flex;
  .sys-watermark-main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sys-watermark-preview {
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .hos-color-picker__trigger {
    width: 35px;
    height: 35px;
  }
  .sys-watermark-footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.dialog-generate-mock-data {
  .base-info-card {
    margin-bottom: 15px;
    height: calc(76vh - 150px);
    overflow: auto;
  }
}
.app-manage {
  width: 100%;
  height: 100%;
  overflow: visible;
  overflow-x: hidden;
  .box-card {
    .hos-card__body {
      padding: 10px 10px 0 10px;
    }
  }
  .add-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: url('~@base/assets/images/meta-data/new-app.png') center center no-repeat;
    width: 141px;
    height: 47px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    cursor: pointer;

    .add-item-icon {
      background: url('~@base/assets/images/meta-data/new-app-icon.png') center center no-repeat;
      width: 18px;
      height: 18px;
    }
  }

  .mid-title {
    font-family: Source Han Sans CN;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    margin: 5px 0 0 10px;

    .bottom-line {
      width: 84px;
      height: 4px;
      background: linear-gradient(270deg, rgba(39, 129, 251, 0) 0%, #2781fb 100%);
    }
  }

  .items-row {
    position: relative;
    margin-top: 10px;
    .hos-col-5 {
      width: 20%;
      margin-bottom: 10px;
    }
  }
}
.app-items {
  display: flex;
  flex-direction: column;
  font-family: Source Han Sans CN;
  color: #333;
  font-size: 14px;
  cursor: pointer;

  .top-icons {
    display: flex;

    .icons-img {
      width: 60px;
      height: 60px;
    }

    .default-img {
      background: url('~@base/assets/images/app.png') center center no-repeat;
      background-size: cover;
    }

    .right-words {
      position: relative;
      display: flex;
      flex-direction: column;
      left: 15px;
      font-family: Source Han Sans CN;
      color: #000000;
      font-size: 16px;

      .titles {
        font-weight: 700;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 200px;
      }

      .version-words {
        font-weight: 300;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 200px;
      }
    }
  }

  .app-code {
    display: flex;
    margin-top: 10px;
    line-height: 25px;

    .app-code-text {
      height: 25px;
      color: #4781f3;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 180px;
    }
  }

  .items {
    line-height: 25px;
    display: flex;

    .inner-word {
      color: #000000;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 200px;
    }
  }
  .editDEel-icons {
    position: absolute;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    .items {
      color: #939393;
      margin-right: 10px;
    }
  }
  .bottom-icons {
    position: relative;
    top: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    padding: 5px 0;
    white-space: nowrap;

    .items {
      display: flex;
      justify-content: flex-end;
      flex-direction: row-reverse;
      margin-right: 15px;

      div {
        line-height: 20px;
      }

      .icon {
        position: relative;
        width: 20px;
        height: 20px;
        line-height: 20px;
      }
    }

    .export-block {
      display: flex;
      flex-direction: row-reverse;
      color: #333;

      .export-words {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        padding-left: 8px;
        word-break: keep-all;
        line-height: 22px;
      }
    }
  }
}

.meta-full-screen {
  position: absolute;
  top: 10px;
  right: 40px;
  width: 15px;
  height: 15x;
  padding: 0;
  background: 0 0;
  border: none;
  outline: 0;
  cursor: pointer;
  font-size: 16px;
  color: #909399;
}
.lh28 {
  line-height: 28px;
}

.carousel-add-btn {
  cursor: pointer;
  margin-left: 4px;

  i {
    color: rgba(0, 0, 0, 0.4);
    font-size: 15px;

    &.active {
      color: #409eff;
    }
  }
}

.style-configuration {
  // margin-top: 10px;
  height: calc(100vh - 140px);

  // 拖拽远点
  .screenNum:not(.add) {
    line-height: 28px;
    width: 12px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    border-radius: 50%;
    margin: 8px;
    display: inline-block;

    &.active {
      background: #409eff;
    }
  }

  .content-top {
    padding: 15px;
    text-align: right;
  }
  .hos-tab-pane {
    overflow-y: auto;
  }

  .tabs-hei {
    height: 100%;

    .pane-hei {
      height: calc(100vh - 130px);

      .pane-content {
        height: 100%;
        display: flex;
        flex-wrap: wrap;

        .content-left {
          flex: 1;
          height: calc(100% - 46px);
          background-color: #f0f2f5;
          box-sizing: border-box;
          padding: 20px;

          .login-index {
            position: relative;
            background-color: #fff;
            height: 100%;
            width: 100%;
            overflow-y: auto;

            .login-index-header {
              height: 115px;
              display: flex;
              align-items: center;
              justify-content: space-between;

              .header-img {
                width: 88px;
                height: 20px;
              }

              .login-title {
                width: 300px;
                height: 40px;

                & .hos-input__inner {
                  width: 300px;
                  height: 40px;
                }
              }

              .rotate-180 {
                transform: rotate(180deg);
              }
            }

            .login-index-banner {
              // height: calc(100% - 240px);
              // height: 471px;
              height: 400px;
              // height:100%;
              min-height: 398px;
              // background-color: #09479d;
              position: relative;

              &.is-feature {
                // height: calc(100% - 320px);
              }

              .hos-carousel__container,
              .hos-carousel {
                height: 100%;
              }

              .move-box {
                z-index: 100;
                position: absolute;
                // bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
              }

              // 登录框
              .login-dialog {
                width: 248px;
                height: 266px;
                position: absolute;
                z-index: 100;
                right: 100px;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
                background: url(../../login-dialog.png);

                .login-dialog-content {
                  width: 100%;
                  height: 100%;
                }

                .login-dialog-content {
                  position: relative;
                }

                .login-dialog-title {
                  position: absolute;
                  margin: 0 20px;
                  width: calc(100% - 40px);
                  top: 20px;
                  left: 0px;
                }

                .forgot-password {
                  position: absolute;
                  right: 20px;
                  bottom: 78px;
                  font-size: 10px;
                  color: #008000;
                }
                .login-btn-mask {
                  position: absolute;
                  bottom: 46px;
                  left: 72px;
                  width: 100px;
                  height: 27px;
                  line-height: 27px;
                  color: #fff;
                  background-color: #2172ba;
                  z-index: 10;
                }
                .other-login-methods {
                  position: absolute;
                  left: 20px;
                  bottom: 14px;
                  color: #339eff;
                  font-size: 10px;
                }
                .show-user-info {
                  position: absolute;
                  left: -182px;
                  top: 100px;
                  box-sizing: border-box;
                  width: 181px;
                  padding: 5px;
                  background: #fff;
                  text-align: left;
                  font-size: 12px;
                }
              }

              // hos登陆框
              .hos-login-dialog {
                width: 248px;
                height: 266px;
                position: absolute;
                z-index: 100;
                right: 30px;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
                background: #131c45;
                padding: 20px;
                box-sizing: border-box;

                .login-dialog-content {
                  width: 100%;
                  height: 100%;
                  position: relative;
                  background: url(../../hos-dialog.png);
                  background-size: 142% 100%;
                  background-position-x: -42px;
                }

                .login-dialog-title {
                  position: absolute;
                  // margin:0 12px;
                  width: calc(100%);
                  top: 12px;
                  left: 0px;
                }

                .forgot-password {
                  position: absolute;
                  right: 20px;
                  bottom: 38px;
                  font-size: 10px;
                  color: #fff;
                }
              }
            }

            .login-index-footer {
              display: flex;
              text-align: center;
              margin: auto;
              height: calc(100% - 115px - 400px);
              justify-content: center;

              .footer-feature {
                width: 800px;
                height: 130px;
                padding-top: 20px;
              }

              .copyright-info {
                position: absolute;
                bottom: 20px;
                display: flex;
                width: 244px;
              }

              .footer-logo {
                height: 16px;
                margin-right: 8px;
              }
            }
          }
        }
        .content-right {
          // width: 356px;
          height: calc(100% - 46px);
          border-left: 1px solid #e2e2e2;
          overflow-y: auto;
          box-sizing: border-box;
          padding: 8px;
        }

        .content-footer {
          height: 46px;
          width: 100%;
          border-top: 1px solid #e2e2e2;
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  // 上传logo样式
  .avatar-uploader .hos-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .avatar-uploader .hos-upload:hover {
    border-color: #409eff;
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }

  .avatar {
    width: 100px;
    height: 100px;
    display: block;
  }

  // 上传提示文本颜色
  .color409 {
    color: #409eff;
  }

  .ml-10 {
    margin-left: 10px;
  }

  // banner上传
  .banner-uploader,
  .banner-uploader .hos-upload {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .banner-uploader-icon {
    font-size: 100px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .banner-uploader {
    .hos-upload-list__item-actions {
      width: 100%;
      height: 100%;

      .hos-upload-list-content {
        width: calc(100% - 348px);
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        /* top: 0; */
        left: 0;
      }
    }
  }

  .banner {
    width: 100%;
    height: 100%;
  }

  .hos-banner-uploader {
    width: 500px;
    height: 90%;
    position: relative;
    border: 1px dashed #ddd;
    left: 100px;
    top: 5%;

    .banner {
      width: 100%;
      height: 100%;
    }

    .hos-upload-list__item-actions {
      width: 100%;
      height: 100%;

      .hos-upload-list-content {
        width: calc(100% - 348px);
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        /* top: 0; */
        left: 0;
      }
    }
  }

  .hos-banner-uploader .hos-upload {
    width: 500px;
    height: 100%;
  }

  // 删除图片按钮
  .del-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    cursor: pointer;
  }

  .del-btn.in-form {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #409eff;
    font-size: 14px;
    cursor: pointer;
  }
}
.style-configuration {
  .avatar-uploader .hos-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    // margin: 10px;
  }

  .avatar-uploader .hos-upload:hover {
    border-color: #409eff;
  }

  .avatar-uploader-icon,
  .hos-upload--picture-card {
    font-size: 28px;
    color: #8c939d;
    line-height: 100px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 5px;
  }

  .avatar {
    width: 100px;
    height: 100px;
    display: block;
  }

  .hos-upload-list--picture-card .hos-upload-list__item {
    width: 280px;
    height: 100px;
  }
  .uoloadSty .hos-upload--picture-card {
    font-size: 28px;
    color: #8c939d;
    width: 280px;
    height: 100px;
    line-height: 80px;
    text-align: center;
  }

  .disUoloadSty .hos-upload--picture-card {
    display: none;
    /* 上传按钮隐藏 */
  }

  .hos-upload-list__item-actions {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.4);
  }

  .hos-upload-list__item-preview {
    display: inline-block;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hos-icon-zoom-in:before,
  .hos-icon-download:before,
  .hos-icon-delete:before {
    font-size: 30px;
    color: #fff;
  }

  .hos-upload:hover .hos-upload-list__item-actions {
    visibility: visible;
    transition: 1s;
    z-index: 200;
  }
}
.style-configuration {
  height: 100%;
  .top-row-margin {
    margin-bottom: 10px;
  }
  .content-top {
    padding: 15px;
  }
  .hos-tabs__content {
    height: calc(100% - 34px);
  }
  .hos-tab-pane {
    height: 100%;
    overflow-y: auto;
  }
  .hos-card__body {
    height: calc(100% - 95px);
  }
  .pane-content {
    height: 100%;
    .hos-card {
      box-sizing: border-box;
      .hos-card__header {
        height: 45px;
        span {
          line-height: 28px;
        }
      }
      &.login-card1 {
        height: 244px;
        margin-right: 10px;
      }
      &.login-card2 {
        margin-left: 0;
        margin-bottom: 0;
      }
      &.login-card3 {
        margin-right: 10px;
        // margin-right: 0;
      }
      &.login-card4 {
        .custom-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          
        }
      }
      &.login-card3, &.login-card4 {
        height: 552px;
        // height: calc(100% - 270px);
      }
    }
  }
  .bg-panel {
    display: flex;
    flex-wrap: wrap;
    .banner-uploader {
      display: inline-block;
      width: 100px;
      height: 100px;
      margin-top: 10px;
      margin-right: 10px;
      border-radius: 6px;
      border: 1px dashed #d9d9d9;
      &::v-deep .hos-upload {
        width: 100px;
        height: 100px;
      }
      .hos-upload-list__item-actions .hos-upload-list-content {
        width: 100%;
      }
      // & + .banner-uploader {
      //   margin-left: 10px;
      // }
    }
    .add-bg-btn {
      display: inline-block;
      width: 100px;
      height: 100px;
      margin-left: 10px;
      text-align: center;
      cursor: pointer;
      border-radius: 6px;
      border: 1px dashed #d9d9d9;
      i {
        line-height: 100px;
        font-size: 14px;
        font-style: normal;
        color: #339eff;
      }
    }
  }
  .personal-info-wrap {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    // margin-top: 55px;
    font-size: 12px;
    // background-color: red;
    .personal-item {
      position: relative;
      width: 210px;
      height: 75px;
      border: 1px dashed #d9d9d9;
      margin-right: 15px;
      i {
        color: #339eff;
      }
      // & + .personal-item {
      //   margin-left: 15px;
      // }
      // &:last-child(4n) {
      //   margin-left: 0;
      // }
      &.add-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      // &:last-child {
      //   width: auto;
      // }
      .feature-item-header {
        height: 22px;
        margin-bottom: 2px;
        img {
          width: 22px;
          height: 22px;
          margin-right: 10px;
        }
        span {
          font-size: 16px;
        }
      }
      .feature-item-body {
        color: #666666;
        line-height: 17px;
      }
      // width: 125px;

      .operation-panel {
        display: none;
        position: absolute;
        top: 3px;
        right: 3px;
        i {
          font-style: normal;
          cursor: pointer;
          color: #339eff;
          font-size: 14px;
          & + i {
            margin-left: 5px;
          }
        }
      }

      &:hover {
        .operation-panel {
          display: block;
        }
      }
    }
  }
}
// 表头操作按钮样式
.table-header-operate {
  cursor: pointer;
  & > i {
    margin-right: 5px;
  }
  & > span {
    vertical-align: middle;
  }
}

.pic-sysst-welcome {
  background: url('../../images/login/欢迎进入系统动画-默认版.gif') no-repeat;
  background-size: cover;
  width: 320px;
  height: 220px;
}
.pic-sysst-welcome-en {
  background: url('../../images/login/欢迎进入系统-en.gif') no-repeat;
  background-size: cover;
  width: 320px;
  height: 220px;
}
//内联菜单弹框样式
.releaseInline {
  padding: 10px 10px 0 10px;
  .hos-select {
    min-height: 230px;
  }
}

//左侧asdie添加container-height样式
.hos-container .main .base-container {
  // height: 100%;
  //左侧菜单的阴影
  .hos-aside {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px #dbdbdb;
  }

  .hos-main {
    padding: 0px !important;
    margin-left: 10px;
    height: 100%;
  }
}

.hos-main {
  padding: 0px !important;
}

//工作区间的样式
.hos-main-workspace {
  height: calc(100% - 56px);
  background: #f5f5f5;
  padding: 10px;

  //表格上的按钮
  .hos-button-group {
    margin: 10px 0px;
    border-radius: 2px;
    box-shadow: 0px 0px 4px 0px #dbdbdb;

    [class^='hos-icon-'] {
      font-size: 16px;
    }

    [class^='hos-icom-'] {
      font-size: 16px;
    }

    .hos-button--small {
      padding: 9px;
    }

    .hos-button {
      border: none;
      color: #807f89;
    }

    //button的分割线
    .hos-divider--vertical {
      height: 26px;
      margin: 5px 0 0 0;
      float: left;
      background: #dae2ee;
    }
  }
}

//给表格的检索条件添加阴影
.base-form {
  background: #ffffff;
  border-radius: 2px;
  padding-top: 10px;
  padding-left: 10px;
  box-shadow: 0px 0px 4px 0px #dbdbdb;
}

//表格上的操作按钮的样式
.hos-biz-pagination {
  padding: 0;

  .hos-pagination {
    padding: 10px 0px;
  }
}

////表格
//.hos-table {
//  overflow: auto !important;
//  //操作按钮的样式
//  .hos-tooltip {
//    padding-left: 5px;
//    padding-right: 5px;
//  }
//}

.hos-table__body-wrapper {
  overflow: auto !important;
}

//弹出层footer的位置，以及每个button之间的间距
.dialog-footer {
  text-align: center;
  padding-top: 20px;

  .hos-button + .hos-button {
    margin-left: 80px;
  }
}

.hos-form {
  /*  .hos-col{
    min-height: 51px;
  } */

  //对日期控制的宽度控制
  .hos-date-editor--daterange.hos-input,
  .hos-date-editor--daterange.hos-input__inner,
  .hos-date-editor--timerange.hos-input,
  .hos-date-editor--timerange.hos-input__inner {
    width: 100%;
  }

  .hos-date-editor.hos-input,
  .hos-date-editor.hos-input__inner {
    width: auto;
  }
}

//只针对图标的下拉框样式处理
.hos-select-dropdown-current {
  width: 420px !important;
  .hos-select-dropdown__item {
    display: inline-block;
    width: 140px;
  }
}

// 密码策略边框样式
.pwd-border {
  background-color: #fff;
  height: calc(100% - 20px);
  padding: 9px;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
}

//模板管理编码左对齐
.button-span-align-left {
  border: none;
  > span {
    display: block;
    text-align: left;
  }
  &:hover {
    text-decoration: none;
  }
}

//页面设计器样式
.low-code-design__container {
  height: 100%;
  .hos-aside {
    height: 100%;
  }
  .hos-tabs--top:not(.hos-tabs--separate):not(.hos-tabs--second-level) {
    box-sizing: border-box;
  }
}

//页面建模样式
.page-manage-index-container {
  .hos-card .lowcode-tabs-height {
    height: calc(100vh - 200px);
    background: transparent;
  }
  .left-modules-bar {
    height: 100%;
  }
  .hos-icom-big-close-eye,
  .hos-icom-big-refresh {
    font-size: 16px;
  }
}