.HOS-help {
  position: relative;
  display: flex;
  padding: 65px 57px 75px 57px;
  .top-decorate {
    margin: 25px 0;
  }
  .content {
    width: 100%;
  }
  .left-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 399px;
    margin-top: 22px;
    .pic-about-simple-ill {
      margin: 0 0 80px 30px;
    }
    .pic-about-hos-ill,
    .pic-about-hos-ill-en {
      margin-bottom: 15px;
    }
  }
  .right-content {
    width: calc(100% - 399px);
  }
  .right-desc {
    margin-left: 60px;
    .pic-about-pure-medical {
      margin-bottom: 35px;
    }
    .pic-about-hos-medical-en {
      margin-top: -35px;
      margin-bottom: 35px; 
    }
  }
  .HOS-help-title {
    font-size: 40px;
    font-family: 'Regular';
    color: #3664bf;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .about-logo {
    display: inline-block;
  }
  .pic-about-hos-medical-en {
    width: 314px;
    height: 77px;
  }
  .pic-about-hos-logo-en {
    width: 90px;
    height: 16px;
  }
  ul {
    height: 300px;
    overflow: auto;
    list-style: none;
    line-height: 40px;
    font-size: 14px;
    font-family: Source Han Sans CN-Regular, Source Han Sans CN;
    color: #666666;
    .imedical-pic-btn {
      align-items: center;
      display: flex;
    }
    li {
      color: #666666;
      .viewLisence {
        margin-left: 15px;
        border-radius: 5px;
        span {
          color: #fff;
        }
      }
      span {
        color: #191919;
      }
      &.footer {
        span {
          color: #666666;
          margin-left: 10px;
        }
      }
    }
  }
  .card-bottom-msg {
    position: absolute;
    bottom: -68px;
    margin-left: 60px;
    display: flex;
    align-items: baseline;
    & > img {
      width: 90px;
      height: 16px;
    }
    .pic-about-pure-logo {
      display: inline-block;
    }
    .pic-about-pure-c {
      display: inline-block;
      margin-left: 5px;
    }
    & > span {
      margin-left: 5px;
      font-size: 12px;
      color: #939393;
      line-height: 18px;
      display: inline-block;
    }
  }
}
