.DHCWebBrowser-dialog {
  .hos-dialog__body {
    background-color: transparent !important;
    .hos-dialog__body-content {
      padding: 0 !important;
      background-color: transparent !important;

      > .hos-row {
        background-color: #fff;
        border-radius: 6px;
        padding: 50px 40px 50px 30px;
      }
      .bg-purple.text {
        padding-top: 40px;
        font-weight: 400;
        border-radius: 6px;
        // background-color: #ffffff;
        height: 330px;
        box-sizing: border-box;
      }
      .bg-purple-light {
        border-radius: 6px;
        // background-color: #ffffff;
        img {
          display: block;
        }
      }
    }
    .grid-content {
      // padding: 15px !important;
    }
    .downBut {
      margin-left: 100px;
    }
    .hos-button {
      margin: 20px 0;
    }
  }
}
