// 弹框公共样式
.hos-dialog__wrapper {
  .hos-dialog {
    min-width: 474px; //引入最小宽度限制
  }
  &.has-footer {
    .hos-dialog.is-pure {
      padding-bottom: 72px;
    }
  }
  &.no-footer {
    .hos-dialog.is-pure {
      padding-bottom: 20px;
    }
  }
  &.no-padding {
    .hos-dialog.is-pure {
      .hos-dialog__body {
        .hos-dialog__body-content {
          padding: 0;
        }
      }
    }
  }
  //如果弹框只有一条记录,则上下左右居中对齐
  &.single-item {
    .hos-dialog__body-content {
      // padding: 0 !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &:not(.no-padding) {
    .hos-dialog.is-pure {
      .hos-dialog__body {
        .hos-dialog__body-content {
          padding-top: 15px;
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 5px;
        }
      }
    }
  }
  &.no-bg {
    .hos-dialog.is-pure {
      .hos-dialog__body {
        background-color: transparent;
        .hos-dialog__body-content {
          background-color: transparent;
        }
      }
    }
  }
  &:not(.no-bg) {
    .hos-dialog.is-pure {
      .hos-dialog__body {
        background-color: #fff;
        .hos-dialog__body-content {
          background-color: #fff;
        }
      }
    }
  }
  // &.need-padding {
  //   .hos-dialog.is-pure {
  //     .hos-dialog__body {
  //       padding: 15px;
  //     }
  //   }
  // }
  // 表单通用
  .hos-dialog.is-pure {
    padding-bottom: 20px;
    .hos-dialog__body {
      position: revert;
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      margin: 0 20px;
      background-color: #fff;
      border-radius: 6px;
      .hos-dialog__body-content {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 5px;
        .dialog-footer {
          padding-top: 0 !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
          padding-bottom: 0 !important;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 20px;
        }
      }
    }
  }
  // 弹框表单卡片
  &.dialog-form-card {
    .hos-dialog.is-pure {
      .hos-dialog__body {
        background-color: transparent;
        .hos-dialog__body-content {
          padding: 0;
          background-color: transparent;
          .hos-card {
            margin-bottom: 10px;
            &:last-child {
              margin-bottom: 0;
            }
            &.card-table-list {
              .hos-card__body {
                padding: 0 !important;
              }
            }
            &.is-table {
              margin-bottom: 0;
              .hos-card__body {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
  // 弹框表单页签
  &.dialog-form-tabs {
    .hos-dialog.is-pure {
      .hos-dialog__body {
        .hos-dialog__body-content {
          padding: 0;
        }
      }
    }
  }
  // 弹框表单表格
  &.dialog-form-table {
  }
  // 弹框表格
  &.dialog-only-table {
    .hos-dialog.is-pure {
      .hos-dialog__body {
        background-color: transparent;
        .hos-dialog__body-content {
          background-color: transparent;
          padding: 0;
          .hos-table {
            border: 1px solid #fff;
          }
        }
      }
    }
  }
  // 导入
  .dialog-import {
  }
  // 弹框tree
  &.dialog-form-tree {
    .hos-dialog.is-pure {
      .hos-dialog__body {
        .hos-dialog__body-content {
          padding: 0;
        }
      }
    }
  }
  &.dialog-form-tabs-left-tree-right-table {
    .hos-dialog.is-pure {
      .hos-dialog__body {
        background-color: transparent;
        .hos-dialog__body-content {
          background-color: transparent;
          .hos-tabs {
            background-color: transparent;
            > .hos-tabs__content {
              background-color: transparent !important;
            }
          }
        }
      }
    }
  }
  &.dialog-business-log {
    .hos-dialog.is-pure {
      .hos-dialog__body {
        .hos-dialog__body-content {
          padding: 0;
          .bind-descriptions {
            min-height: auto !important;
            .hos-descriptions {
              .hos-descriptions__table.is-bordered {
                .hos-descriptions-item__content {
                  padding: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
