.lock-form {
  padding: 5px;
}
.drop-down-menu {
  height: 100%;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .dropdown-lock {
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
  }
  .msgBell {
    margin-right: 10px;
  }
}
.dropdown-item-menu-switch {
  .hos-switch {
    float: right;
    margin-top: 5px;
  }
}