.i18n-web {
  .i18n-page-tree-title {
    height: 46px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    color: #424656;
    align-items: center;
    line-height: 27px;
  }
  .hos-tree {
    height: calc(100% - 136px) !important;
  }
  .left-tree-search {
    padding-top: 5px !important;
  }
}

.i18n-components {
  .hos-button {
    min-height: 28px;
  }
}
.herder-title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  & i {
    margin-top: 2px;
    color: #939393;
    margin-right: 5px;
  }
  & span {
    font-size: 18px;
    font-weight: 700;
    color: #424656;
  }
}
