@import './extend-a.scss';
@import './login.scss';
@import './pure-navigation.scss';
@import './pure-biz-table.scss';
@import './perm.scss';
@import './sys.scss';
@import './resource.scss';
@import './drop-down-menu.scss';
@import './message-center.scss';
@import './shuttle-tree.scss';
@import './lodop.scss';
@import './select-table-v2.scss';
@import './i18n-manage.scss';
@import './flat-menu.scss';
@import '~hosui/lib/theme-pure/index.css';
@import '../custom.css';
@import './metadata.scss';
@import './dialog-public.scss';
@import './dhc-dialog.scss';
@import './chinese-holiday.scss';
@import './about.scss';
@import './lock-screen.scss';
@import './transfer-list-select-dialog.scss';

// 定义全局默认字体变量
$default-font: 'Source Han Sans', '思源黑体', 'Microsoft YaHei', sans-serif;

// 全局设置默认字体
html {
  font-family: $default-font;
}

// 定义全局默认字体变量
$default-font: 'Source Han Sans', '思源黑体', 'Microsoft YaHei', sans-serif;

// 全局设置默认字体
html {
  font-family: $default-font;
}

.hos-form + .dialog-footer {
  padding-top: 20px;
}

.hos-form:has(.hos-card) + .dialog-footer {
  padding-top: 20px;
}

//弹出层footer的位置，以及每个button之间的间距
.dialog-footer {
  text-align: center;
  padding-top: 10px;

  .hos-button + .hos-button {
    margin-left: 20px;
  }
}

.pt20Simple {
  padding-top: 20px !important;
}
// 菜单栏
.side-menu {
  .hos-submenu__icon-arrow {
    position: relative;
    margin-top: 0;
    top: 0;
    right: -2px;
    font-size: 16px;
  }
}
.menu-height {
  height: 500px;
  overflow-y: auto;
}
////表格
//.hos-table {
//  //操作按钮的样式
//  .hos-tooltip {
//    padding-left: 5px;
//    padding-right: 5px;
//    //font-size: 16px;
//  }
//}

.hos-date-editor.auto_width.hos-input,
.hos-date-editor.auto_width.hos-input__inner {
  width: auto;
}

.auto_width {
  width: auto;
}

.hos-card.user_card.is-always-shadow {
  margin-top: 10px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 10%);
}

//导入中间的宽度
.hos-divider--horizontal {
  margin: 15px 0;
}

// table in card
.card-table {
  height: 100%;
  border: 1px solid #e2e2e2;

  & .hos-card__header {
    border-bottom: 0;
  }

  & .hos-card__body {
    padding: 0;
    height: 100%;
  }

  .hos-card__header + .hos-card__body {
    height: auto;
  }

  .hos-biz-pagination {
    // position: absolute;
    // bottom: 0;
    width: 100%;
  }

  .hos-biz-table .hos-biz-form,
  .hos-biz-table .hos-biz-toolbar,
  .hos-table--border,
  .hos-table {
    border-left: 0 !important;
    border-right: 0 !important;
  }

  .hos-biz-table .hos-biz-pagination {
    border: 0;
    border-top: 1px solid #e2e2e2;
  }

  .hos-button-group.hos {
    box-shadow: 0 0px 0px #fff;
    border-radius: 0;
  }

  .hos-biz-table .hos-biz-form {
    padding: 11px 11px 0 11px;
  }

  .hos-date-editor--daterange.hos-input__inner {
    width: 100%;
  }

  .hos-form-item--small.hos-form-item {
    margin-bottom: 10px;
  }

  // .hos-form-item__label {
  //   text-align: left;
  // }
  .hos-radio {
    margin-right: 15px;
  }
}

.vue-treeselect--disabled .vue-treeselect__single-value {
  position: absolute;
}

.datapicker {
  width: 100% !important;
  //min-width: 240px;
}

.dataker .hos-input__inner.hos-date-editor--daterange .hos-range__close-icon {
  margin-left: -5px;
}

.assignuser > .hos-date-editor.hos-input {
  width: 100%;
}

.assignuser,
.user_card .hos-date-editor.hos-input {
  width: 100% !important;
}

.comexport {
  //height: 200px;
  margin: auto;
  padding-top: 10px;
  width: 95%;
  box-sizing: border-box;
}
.hos-input-number-pwd {
  width: 200px;
}

// 左树右表
.left-tree-right-table {
  height: 100%;

  .left-tree-search {
    padding: 15px 15px 10px;
    .hos-button-group.hos .hos-button {
      min-width: 32px !important;
      padding: 6px 10px !important;
      margin-top: 10px;
    }
  }

  .hos-main {
    overflow: hidden;
    padding: 0;
    margin-left: 10px;
  }

  .hos-aside {
    overflow: auto;
    border-radius: 6px;
  }

  .hos-tree {
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: calc(100% - 100px);
  }
  .icon-manage-left-tree {
    height: calc(100% - 63px);
    padding-top: 5px;
  }
}
.left-table-right-table {
  height: 100%;

  .hos-main {
    overflow: hidden;
    padding: 0px;
    padding-left: 15px;
  }

  .hos-aside {
    overflow: hidden;
    border-radius: 6px;
    padding: 0px;
    background-color: transparent !important;
  }
}

.hos-container.main .hos-aside {
  box-shadow: none;
  // chrome49兼容性问题修复
  height: 100%;
  & .hos-tree .hos-tree-node {
    width: 100%;
  }
}
// chrome49兼容性问题修复
.hos-cascader-panel .hos-cascader-node__postfix {
  position: relative;
  right: -10px;
}
.hos-tabs__content {
  .hos-aside {
    border: 0px;
  }
}

.simple-input-number {
  .hos-input-number {
    width: 100%;
  }
}

.hosInputNumber {
  width: 200px;
}

.pwdFormItem {
  display: inline-block;
}

// 对话框框垂直水平居中
.hos-dialog {
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//滚动条背景色
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

//滚动条颜色
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: rgba(#424656, 0.6) !important;
  &:hover {
    background-color: rgba(#424656, 0.45) !important;
  }
}
//只针对dialog的body部分是form的情况，因为每个form-item都有个10px的margin-bottom
.dialog-footer {
  //padding: 20px 0;
  .hos-button {
    min-width: 76px;
  }
  .hos-button--default {
    color: #191919;
    background: #ffffff;
    border: 1px solid;
    border-color: #cccccc;
    &:hover,
    &:focus {
      background: #f7f7fa;
    }
    &:active {
      background: #f2f3f7;
    }
    &.is-active {
      background: #f2f3f7;
    }
    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: #c3c3c3;
        background-color: #f4f4f4;
        border-color: #eaeaea;
      }
    }
  }
}

//数据权限作用域维护
.data-pri-scope {
  padding: 10px;
  padding-bottom: 0;
  .hos-tabs {
    background-color: transparent;
    .hos-tabs__content {
      min-height: 130px;
      margin-top: 10px;
      padding: 15px 15px 0 15px;
      border-radius: 6px;
    }
  }
  .dialog-footer {
    padding-top: 20px;
  }
}

//版本管理版本授权
.tenant-package-auth {
  padding: 12px 0 0 12px;

  .dialog-footer {
    padding-top: 20px;
  }

  .authtree {
    height: 380px;
    overflow: auto;
  }
}

// 数据日志查看
.data-view .hos-table__body-wrapper {
  max-height: 395px;
  overflow: auto;
  overflow-x: hidden;

  .dialog-footer {
    padding-top: 20px;
  }
}

//页面预置，元素/数据权限列表
.sys-perm-page .hos-table--border {
}

// 上传头像 切换角色
.upload-avatar .dialog-footer {
  line-height: 28px;

  .avatarHeight {
    height: 178px;
  }
}
.upload-avatar .tc {
  margin-top: 20px;
  margin-bottom: 25px;
  color: #939393;
}
.upload-avatar.upload-avatar--pure {
  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 6px;
    position: absolute;
    left: -2px;
    top: -2px;
  }

  .uoloadSty .hos-upload--picture-card {
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 6px;
    position: relative;
    .hos-icon-plus {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .disUoloadSty {
    height: 120px;
  }

  .uoloadSty {
    height: 120px;
    text-align: center;
    margin: 15px 15px 0;
  }

  .disUoloadSty .hos-upload--picture-card {
    display: none;
    /* 上传按钮隐藏 */
  }

  .upload-avatar {
    .hos-upload--picture-card {
      width: 120px;
      height: 120px;
    }
  }

  .hos-upload-list--picture-card .hos-upload-list__item {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
}
//修改密码
.change-pass {
  .hos-form {
    padding: 0 !important;
  }

  .hos-form-item__label {
    vertical-align: top;
  }

  .hos-form-item {
    margin-bottom: 10px;
  }

  .hos-progress-bar {
    padding-right: 70px;
    margin-right: -70px;
  }

  .progress {
    width: 100%;
    line-height: 22px;
    text-align: left;
  }

  .dialog-footer {
    padding-bottom: 0 !important;
    .hos-button + .hos-button {
      margin-left: 20px !important;
    }
  }
  .hos-input__suffix {
    font-size: 16px;
    line-height: 32px;
  }
}

// 左侧menu按钮的大小
.hos-menu-item [class^='hos-icom-'],
.hos-menu-item [class^='hos-icon-'] {
  font-size: 16px;
}

// 滚动条宽度设置为 8px
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

// 密码策略背景
.pwd-border {
  background-color: #fff;
  height: calc(100% - 20px);
  padding: 9px;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
}
// 密码策略的样式
.pwdpolicy {
  .pwd-padding {
    padding: 10px 10px 0 0;
  }
}
.side-menu {
  [class^='hos-icom-'] {
    font-size: 16px;
    margin-right: 5px;
    width: 24px;
    text-align: center;
    vertical-align: middle;
  }
  .leftMenu i {
    color: #909399;
  }
}

//导入管理
.import-manage {
  .hos-radio-group {
    vertical-align: middle;
  }
  .middle-card {
    margin: 10px 0;
  }
  .excel-import-add {
    font-weight: 700;
    color: #191919;
    font-size: 14px;
    padding-bottom: 10px;
  }
}
.import-column .hos-biz-table .hos-biz-toolbar {
  .close-btn {
    float: right;
    margin-right: 20px;
  }
}
//文件管理导入
.filemanageUpload {
  .select-import-type {
    margin: 0 !important;
  }
  .success-or-error-info {
    box-shadow: none !important;
    .import-msg {
      padding-left: 0 !important;
      align-items: center !important;
    }
  }
}
// 导入组件
.upload-com {
  background: #fff;
  padding: 15px;
  border-radius: 6px;
  .hos-alert__icon.is-big {
    font-size: 16px;
    width: 16px;
  }
  .download-template {
    .hos-alert .hos-alert__description {
      float: right;
      margin: 0 0 0 5px;
    }
    .now-down {
      cursor: pointer;
      margin-left: 6px;
    }
  }
  .select-import-type {
    margin: 15px 0 0 0;
    .three-type {
      display: block;
      padding-bottom: 10px;
    }
    .download-tips {
      .hos-alert {
        width: 100%;
      }
      .hos-alert--warning.is-light .hos-alert__description {
        position: absolute;
        float: right;
        right: 0;
      }
    }
    .hos-upload {
      width: 100%;
      margin-bottom: 15px;
      //margin-bottom: 10px;
      .hos-upload-dragger {
        height: 200px;
        width: 100%;
        .hos-upload__text {
          margin-top: 20px;
          span {
            color: #028fff;
          }
        }
      }
    }
  }
  .success-or-error-info {
    padding: 15px 0;
    min-height: 73px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    .import-msg {
      min-width: 420px;
      height: 100%;
      display: flex;
      padding-left: 20px;
      flex-direction: column;
      justify-content: center;
      .hos-image__inner {
        vertical-align: middle;
      }
      .errordataArr {
        margin-left: 26px;
        & span {
          display: inline-block;
        }
      }
      .icon-style {
        margin-bottom: 5px;
        span {
          font-size: 16px;
          margin-left: 10px;
          color: #191919;
        }
        img {
          vertical-align: text-top;
          margin-top: 1px;
        }
      }
      .font-style {
        height: 24px;
        line-height: 24px;
        font-weight: 500;
        font-size: 16px;
      }
      .info-color {
        color: #4781f3;
      }
      .err-color,
      .success-color {
        margin-bottom: 5px;
        color: #fc484f;
      }
      .err-data-down {
        color: #028fff;
        font-size: 14px;
        cursor: pointer;
        margin-right: 20px;
      }
    }
  }
}
// 导出组件
.export-coms {
  .hos-tabs--top:not(.hos-tabs--separate):not(.hos-tabs--second-level):not(.hos-tabs--system) {
    border: none;
    border-radius: 6px;
  }
  .hos-tabs {
    background-color: #ffffff;
    .hos-tabs__header {
      margin-bottom: 0;
      background: #fff;
      border: none !important;
      border-radius: 6px;
      margin-bottom: 2px;
    }
    .hos-tabs__content {
      padding: 50px 15px 0 15px;
      border-radius: 6px;
    }
  }
  .pb15 {
    margin-bottom: 15px;
  }
  .hos-keywords .keywords-box .hos-checkbox-button {
    margin: 0 15px 15px 0;
    :first-child {
      border-radius: 6px;
    }
    :last-child {
      border-radius: 6px;
    }
  }
  .hos-keywords .keywords-box {
    margin-bottom: 0;
  }
  .dialog-footer.exports {
    padding-top: 20px;
  }
}

// 导出按钮
.hos-down {
  float: left;
  display: inline-block;
  :hover {
    border-radius: 6px;
    background: #edf6ff;
  }
  .hos-dropdown {
    padding: 6px 15px;
    //top: 3px;
  }
  .hos-dropdown-link {
    color: #008fff;
    font-weight: 500;
  }
}

//diaolog 中只有table
.dialog-table {
  margin-bottom: 0px;
}
.tab-order-edit-tip {
  position: absolute;
  right: 0px;
  top: 0px;

  font-size: 14px;
  line-height: 40px;
  height: 40px;
  font-weight: 600;
  padding: 0 10px;
  .hos-tag {
    border: none;
    background-color: transparent;
    font-size: 12px;
    padding: 0 5px;
  }
}
.person-details__body {
  padding: 0 0 0 10px;
}
.postDropDown {
  right: 188px;
  left: auto;
  li {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .popper__arrow {
    display: none;
  }
}
.transfer-tree-input {
  &:hover {
    .tree-icon .hos-icon-circle-close {
      color: #008fff !important;
    }
    .tree-icon .hos-icom-list {
      color: #008fff !important;
    }
  }
  .tree-icon {
    .hos-icom-list {
      color: #999999 !important;
      padding-right: 10px !important;
      line-height: 32px;
      height: 32px;
    }
  }
}
.transfer-tree-autocomplete {
  border: none;
  border-radius: 6px !important;
}
.hos-org-transfer-tree {
  .transfer-panel {
    width: 100%;
    height: 510px;
    margin: 15px 0px 0px 0;
    border-radius: 6px;
    .hos-tabs__item.is-active {
      color: #008fff;
    }
    .hos-tabs__header.is-top {
      margin-bottom: 0;
      background: #fff;
      border: none;
      border-radius: 6px 6px 0 0;
      .hos-tabs__active-bar {
        bottom: 0;
      }
      .hos-tabs__item {
        font-size: 16px;
        line-height: 24px;
        height: 24px;
      }
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 15px;
        width: calc(100% - 30px);
        height: 1px;
        background-color: #e4e4e4;
      }
    }
    .hos-tabs__content {
      overflow-y: auto;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;
      height: calc(100% - 56px) !important;
      .linkage {
        margin: 15px;
      }
      .hos-tree {
        .hos-tree-node__content {
          height: 34px;
        }
        .hos-tree-node__expand-icon.is-before {
          display: none;
        }
        .hos-tree-node__expand-icon.is-after.hos-icon-caret-right {
          color: #939393;
          padding: 0;
          font-size: 16px;
          &.is-leaf {
            color: transparent;
          }
        }
        .hos-tree-node__content-label {
          .left-node {
            span i {
              color: #939393 !important;
              margin-left: 5px;
              margin-right: 0 !important;
            }
          }
          &:hover.enable-select {
            .hos-icom-ok {
              display: block;
            }
          }
          &.node-checked {
            .hos-icom-ok {
              display: block;
              color: #008fff;
            }
          }

          .hos-icom-ok {
            display: none;
            position: absolute;
            right: 10px;
            padding-right: 0;
            font-size: 16px;
            color: #cccccc;
          }
        }
      }
    }
  }
}
.tab-right-button {
  position: absolute;
  top: -32px;
  right: 10px;
}
.person-manager-tab {
  padding: 10px 10px 2px;
  height: 229px;
  .post-list {
    overflow-y: auto;
    height: 170px;
    box-sizing: border-box;
    .hos-form {
      margin: 10px 0;
      &:first-child {
        margin-top: 10px;
      }
      &:last-child {
        margin-bottom: 1px;
      }
    }
  }
}
.tree-expand-button {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.person-org-info .hos-tabs__content {
  height: calc(100% - 276px);
  overflow-y: auto;
  background: #fff;
  padding: 15px;
}

.for-show-shadow {
  padding: 0;
}
.selection-penal {
  width: calc(50%);
  padding-left: 15px;
  .title {
    padding: 0 15px;
    line-height: 46px;
    height: 46px;
    box-sizing: border-box;
    color: #191919;
    background: #ffffff;
    border-radius: 6px 6px 0px 0px;
    .cancel {
      float: right;
      width: auto;
      height: 46px;
      line-height: 46px;
      vertical-align: middle;
      .cut {
        display: none;
      }
      .hos-link {
        color: #191919;
      }
      .hos-link.mr10 {
        margin-right: 0;
        .hos-icon-circle-close.mr10 {
          margin-right: 5px;
        }
      }
    }
  }
}

.tree-selected-list-content {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: calc(100% - 46px);
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 0 0 6px 6px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  // 如果为chrome49,avatar会直接显示'...'.因此缩小字体大小为12px
  .chrome49 .hos-avatar--circle {
    font-size: 12px;
  }
  li {
    position: relative;
    padding: 7px 0 7px 5px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    color: #191919;
    &:hover {
      background: #d7e9ff;
      border-radius: 6px;
      .hos-icon-circle-close {
        display: block;
      }
    }
    span {
      word-wrap: break-word; /*强制换行*/
      overflow: hidden; /*超出隐藏*/
      text-overflow: ellipsis; /*隐藏后添加省略号*/
      white-space: nowrap; /*强制不换行*/
      margin-right: 20px;
      line-height: 20px;
      text-align: center;
    }
    .hos-icon-circle-close {
      display: none;
      position: absolute;
      right: 10px;
      font-size: 16px;
      color: #ee0f0f;
      cursor: pointer;
    }
    //头像
    .avatar {
      background-color: #008fff;
      margin-right: 5px;
      text-align: center;
      color: white;
      // padding-left: 3px;
    }
  }
}

.person-list-view {
  .dialog-footer {
    padding: 20px 0 10px;
  }
}
// 下拉表格
.hos-popover__reference-wrapper {
  .hos-select {
    .hos-input {
      .hos-icom-w-other {
        font-size: 16px;
      }
      .hos-icom-cancel {
        font-size: 16px;
      }
    }
  }
}
.select-table-base.hos-select {
  &.pure-select-table-input {
    .hos-input {
      .hos-input__inner {
        border-radius: 6px 6px 0 0;
        border-color: #008fff;
        background-color: #edf6ff;
      }
    }
  }
  .hos-input {
    .hos-icom-w-other {
      &.is-reverse {
        transform: rotateZ(180deg);
      }
    }
  }
}
.select-table-popover {
  height: 370px !important;
  border: 1px solid #008fff;
  overflow-x: hidden;

  &.hos-popper[x-placement^='bottom'] {
    margin-top: -1px !important;
    border-radius: 0 0 6px 6px;
  }
  &.hos-popper[x-placement^='top'] {
    margin-bottom: -1px !important;
    border-radius: 6px 6px 0 0;
  }
  .hos-table {
    border: none;
    border-radius: 0;
  }
  .hos-table--fit {
    padding: 0;
  }
  .hos-biz-form {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
  }
  .hos-biz-pagination {
    border-right: none;
    border-bottom: none;
    border-left: none;
  }
  .hos-table--border::after {
    width: 0;
  }
  .hos-biz-toolbar {
    border: none;
    border-radius: 0;
  }
}

.table-row-not-select {
  color: #ccc;
  cursor: not-allowed;
}
.hos-async-tree {
  .hos-async-tree-desc {
    font-size: 14px;
    line-height: 32px;
    margin: 10px 10px 0;
    width: calc(100% - 20px);
    box-sizing: border-box;
    background-color: #eff9ff;
    border: 1px solid #9cd0ff;
    color: #008fff;
    font-weight: 700;
    border-radius: 6px;
    padding-left: 5px;
  }
  .search-inp {
    padding: 5px 15px 10px 15px;
  }
  .hos-tree {
    height: calc(100% - 48px);
    padding: 0 15px;
    .hos-tree-node__content {
      .hos-tree-node__expand-icon.is-before {
        display: none;
      }
      .hos-tree-node__expand-icon {
        padding: 0;
        color: #939393;
        font-size: 16px;
        &.is-leaf {
          color: transparent;
        }
      }
      span i {
        color: #939393 !important;
        margin-left: 5px;
        margin-right: 0 !important;
      }
    }
  }
}
//日历配置-节气配置
.public-holiday-config {
  .hos-biz-table .hos-biz-form {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.bind-post-add-page {
  .hos-biz-table .hos-biz-form {
    padding: 0;
    margin-bottom: 0;
  }
  .hos-biz-table {
    padding: 10px;
    height: 60vh;
  }
}
.post-manage-view-person {
  .hos-biz-table {
    height: 60vh;
  }
}

//add 20230313 组织人员维护 分配部门 start
.share-dept-shadow {
  padding: 0;
  max-height: 80vh;
  overflow-y: auto;
  .dept-content {
    width: 100%;
    display: flex;
    background-color: #fff;
    border-top: none;
    border-radius: 6px;
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 15px;
    box-sizing: border-box;
    .card-list {
      max-width: calc(100% - 260px);
      white-space: nowrap;
      display: inline-block;
      overflow-x: auto !important;
      box-sizing: border-box;
      .dept-list-item {
        white-space: nowrap;
        display: inline-block;
        margin-right: 10px;
        box-sizing: border-box;
        width: 288px;
        height: 260px;
        position: relative;
        overflow: hidden;
        &:last-child {
          margin-right: 0px;
        }
        .dept-top-box {
          border-radius: 4px;
          border: 1px solid #e4e4e4;
          border-bottom: 1px dashed #e4e4e4;
        }
        .top-header {
          position: relative;
          box-sizing: border-box;
          width: 100%;
          height: 40px;
          border-radius: 2px 2px 0px 0px;
          padding-left: 15px;
          background-color: #f0f5ff;
          vertical-align: middle;
          display: flex;
          justify-content: start;
          align-items: center;
          color: #000000;
          .title {
            font-size: 14px;
            font-weight: 500;
            line-height: 40px;
            max-width: calc(100% - 94px);
            box-sizing: border-box;
            margin-right: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .hos-icom-change-loc {
            color: #008fff;
          }
          .pos {
            width: 58px;
            position: absolute;
            font-weight: 400;
            color: #ffffff;
            padding: 2px 5px;
            top: 0;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            right: 0;
            height: 18px;
            background: #008fff;
            border-radius: 0px 2px 0px 12px;
            opacity: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        .dept-option {
          width: 100%;
          position: relative;
          border: 1px solid #e2e2e2;
          border-top: none;
          box-sizing: border-box;
          border-radius: 4px;
          &::after {
            content: '';
            position: absolute;
            background: #fff;
            width: 8px;
            height: 8px;
            border-right: 1px solid #e2e2e2;
            border-bottom: 1px solid #e2e2e2;
            border-radius: 50%;
            top: -6px;
            left: -4px;
            transform: rotate(-45deg);
            z-index: 3;
          }
          &::before {
            content: '';
            position: absolute;
            background: #fff;
            width: 8px;
            height: 8px;
            border-right: 1px solid #e2e2e2;
            border-bottom: 1px solid #e2e2e2;
            border-radius: 50%;
            top: -6px;
            right: -4px;
            transform: rotate(135deg);
            z-index: 3;
          }
        }
        .descriptions {
          box-sizing: border-box;
          padding: 0 15px;
          font-size: 14px;
          min-height: 188px;
          .descriptions-item {
            height: 30px;
            line-height: 30px;
            .label {
              color: #666666;
            }
            .value {
              color: #191919;
            }
          }
        }
      }
    }
    .card-add {
      padding: 1px 0;
      margin-left: 10px;
      box-sizing: border-box;
    }
  }
  .dept-name-content {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 15px 10px 15px;
    font-weight: 700;
    color: #424656;
    font-size: 18px;
    line-height: 27px;
    min-height: 46px;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 6px;
  }
}
//add 20230313 组织人员维护 分配部门 end
.orgperson-tabs-container {
  .orgperson-tabs-aside {
    height: 100%; //兼容49浏览器
    border-radius: 6px;
    .tabs-card {
      border: none !important;
      .hos-card__header {
        border: none !important;
        background-color: #fff;
        border-radius: 6px 6px 0 0;
      }
    }
    .hos-card .hos-card__body {
      padding-left: 0;
    }
    .icon-manage-left-tree {
      padding: 0 15px;
    }
  }
}
.dialog-padding {
  padding: 0;
}
.show-bottom-shadow {
  padding-bottom: 0;
}
.show-top-shadow {
  padding-top: 0;
}
//add 20230328 节假日管理 start
.holiday-manage {
  height: 100%;
  .hos-main {
    overflow: hidden;
    padding: 0;
    padding-left: 10px;
    .right-list-table {
      height: 50%;
      .hos-biz-table {
        height: calc(100% - 10px);
      }
    }
    .right-dict-table {
      height: 50%;
      .hos-biz-table {
        height: 100%;
      }
    }
  }

  .hos-aside {
    width: 60% !important;
    border-radius: 6px;
  }
}
//add 20230328 节假日管理 end
// 页签下表格
.tabs-table-list {
  .hos-tabs__content .dynamic-data-table {
    height: 165px !important;
  }
  &.hos-tabs--top:not(.hos-tabs--separate):not(.hos-tabs--second-level):not(.hos-tabs--system) {
    border: none;
    border-radius: 0;
  }
  .hos-tabs__header {
    margin-bottom: 0;
    background: #fff;
    border: none !important;
    border-radius: 6px 6px 0 0;
  }

  .hos-tabs__content {
    background-color: transparent !important;
    border-radius: 0 0 6px 6px;
    .hos-table {
      border: 1px solid #ffffff;
      border-radius: 0;

      &::before {
        height: 0;
      }
      &::after {
        width: 0;
      }
    }
    .dynamic-data-table {
      //border: 1px solid #e4e4e4 !important;
      border-radius: none;
      .hos-table {
        &::before {
          height: 0;
        }
        &::after {
          width: 0;
        }
      }
      .hos-table--border {
        &::after {
          width: 0;
        }
        .hos-table__cell {
          // &:last-child {
          //     border-right: none;
          // }
          // &:nth-child(6){
          //     border-right: none;
          // }
        }
      }
    }
  }
}
.card-table-list {
  box-shadow: none !important;
  border: none !important;
  border-radius: 6px !important;
  .hos-card__header {
    background-color: #fff;
    font-weight: 700;
    line-height: 27px;
    color: #424656;
    font-size: 18px;
    padding: 10px 15px 10px 35px;
    border-radius: 6px 6px 0 0;
  }
  .hos-card__body {
    padding: 0 !important;
    .hos-table {
      border: 1px solid #ffffff;
      border-radius: 0;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
    .hos-table--border {
      border-bottom: none;
    }
    .dynamic-data-table {
      //border: 1px solid #e4e4e4 !important;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;

      .hos-table {
        &::before {
          height: 0;
        }
        &::after {
          width: 0;
        }
      }
      .hos-table--border {
        &::after {
          width: 0;
        }
        .hos-table__cell {
          // &:last-child {
          //     border-right: none;
          // }
          // &:nth-child(6){
          //     border-right: none;
          // }
        }
      }
    }
  }
}
.white-border {
  border: 1px solid #fff;
}
.share-inst-content {
  max-height: 70vh;
  overflow-y: auto;
  .hos-form {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

// 组织人员-组织职位查看人员样式
.org-position-view-person {
  .dialog-footer {
    padding: 20px 0 10px;
  }
}
.card-form {
  .hos-card__body {
    padding-bottom: 0 !important;
  }
}
.struc-info {
  margin: 15px 0;
  .hos-tabs {
    border-radius: 6px !important;
  }
  .hos-tabs--top:not(.hos-tabs--border-card):not(.hos-tabs--second-level) > .hos-tabs__content {
    background: #fff;
  }
  .import-body {
    position: absolute;
    right: 10px;
    top: 5px;
  }
}
.response-info {
  .import-response {
    float: right;
    margin-top: -2px;
  }
}
.api-auth {
  .mb15 {
    margin-bottom: 0;
  }
  .hos-table--border::after,
  .hos-table--group::after {
    width: 0;
  }
}
.color666 {
  color: #666666;
}

.time-line {
  font-family: Source Han Sans CN, Source Han Sans CN;
  .dialog-footer {
    padding-top: 20px;
  }
  .timeContentPure {
    color: #666666;
    line-height: 26px;
    & span {
      margin-right: 15px;
      &:nth-child(2),
      &:nth-child(3) {
        font-weight: 400;
        color: #666;
      }
    }
  }
  .hos-timeline-item__node--normal {
    // width: 36px;
    // height: 36px;
  }
  .hos-timeline-item {
    padding-bottom: 10px;
  }
  .timeline-content {
    line-height: 23px;
    font-size: 14px;
    color: #939393;
    font-weight: 400;
  }
  .timeline-content + .timeline-content {
    //margin-top: 3px;
  }
  .hos-timeline-item__icon {
    font-size: 16px;
  }
  .hos-timeline-item__timestamp {
    color: black;
    line-height: 2;
    font-size: 14px;
  }
  #timeLineDialog {
    max-height: 460px;
    overflow: auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 6px;
  }
  .timeline-item {
    padding-bottom: 20px;
  }
  .timeline-item:last-child {
    padding-bottom: 0;
  }
  .hos-empty__image {
    width: 120px;
  }
}

.log-view {
  padding: 10px 10px 0;
}
.hos-dialog__body-content {
  .log-view {
    padding: 0; //如果是以弹框的方式展现,则没有内边距
  }
}
//图标管理
.icon-manage {
  .iconStyle {
    img {
      width: 30px;
      height: 30px;
      vertical-align: middle;
    }
  }
}
.dialog-share-inst {
  padding: 15px;
  border-radius: 6px;
  background-color: #fff;
}
.share-inst-list-item {
  height: auto;
  padding-top: 15px;
  overflow-x: hidden;
}
//人员详情 关闭
.close-tab-right-button {
  position: absolute;
  top: 7px;
  right: 15px;
}
//安全配置
.safeMange {
  height: 100%;
  .grid-content {
    padding: 0;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    .hos-card {
      .fs {
        font-size: 14px;
        color: #939393;
        line-height: 22px;
      }
      .mb15 {
        margin-top: 5px;
        .nameList {
          font-weight: 700;
          color: #191919;
        }
        .hos-switch {
          margin-top: -5px;
          position: absolute;
          right: 15px;
        }
      }
      .icon {
        &:hover {
          cursor: pointer;
        }
        margin: 15px 0 10px 0;
        i {
          font-size: 16px;
          color: #939393;
        }
        span {
          font-size: 14px;
          font-weight: normal;
          margin-left: 5px;
        }
      }
    }
  }
}
.safeM {
  .isSwitch {
    margin: 0px 0 10px 0;
    span {
      line-height: 28px;
    }
  }
  .hos-switch {
    margin-left: 15px;
  }
}
.DETAILS {
  height: 450px;
  .detfooter {
    padding: 20px 10px 0px 10px;
    text-align: center;
  }
}
.interface-manage-view {
  .hos-table {
    border-radius: 0;
    border: 1px solid #fff;
  }
}
// 接口管理新增修改表单
.interface-manage-edit {
  .hos-table {
    border-radius: 0;
    border: 1px solid #fff;
    &::after {
      background-color: transparent;
    }
  }
  .interface-baseinfo-card {
    margin: 0 0 15px;
  }
  .hos-radio-group {
    vertical-align: middle;
  }
  .hos-table {
    border-radius: 0;
  }
  .param-edit-table {
    //border: none !important;
    max-height: 240px;
    overflow: auto;
    .hos-form-item {
      margin-bottom: 0;
    }
  }
  .interface-return-card {
    margin: 15px 0;
  }
  .hos-table--border .hos-table__cell:first-child .cell {
    display: flex;
  }
  .hos-radio {
    width: 80px;
  }
  .interface-icon-ml20 {
    margin-left: 20px;
  }
}
//图标管理
.icon-edit {
  .uoload {
    img {
      width: 98px;
      height: 98px;
      border-radius: 6px;
    }
    .hos-upload--picture-card {
      width: 100px;
      height: 100px;
      line-height: 100px;
      i {
        line-height: 100px;
      }
    }
  }

  .uoload,
  .disuoload {
    width: 100px;
    height: 100px;
    .hos-upload-list--picture-card .hos-upload-list__item {
      width: 100px;
      height: 100px;
    }
  }
  .disuoload .hos-upload {
    display: none;
  }
}
//第三方应用
.app-info-dialog {
  .hos-upload--picture-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hos-avatar > img {
  width: 100%;
}
// 国际化管理翻译页面
.trans-box {
  padding-top: 12px;
  .row-style {
    padding-bottom: 10px;
    .language-type {
      text-align: right;
      line-height: 28px;
    }
    .language-edit {
      line-height: 28px;
    }
  }
}

// 国际化按钮
.hos-button-group.hos {
  .i18n-components {
    height: 28px;
    display: inline-flex !important;
    .hos-button--default {
      padding: 6px 10px;
      &:hover {
        background-color: #eff9ff;
      }
    }
  }
}
.view-value-tooltip {
  display: block;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
// 流程岗位-》岗位字典下拉
.post-dict-select {
  .post-dict-select-span {
    display: block;
    overflow: hidden;
    width: 180px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.post-dict-tooltip {
  max-width: 80%;
}
.login-card {
  .hos-tabs--top:not(.hos-tabs--separate):not(.hos-tabs--second-level) {
    border: none;
  }
}

.hos-menu-wid {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hos-menu-long-popper {
  opacity: 1;
}
.hos-menu-wid70 {
  max-width: 69px;
}
.hos-menu-wid100 {
  // 菜单超过3级时,样式有问题,由100改为98
  max-width: 130px;
}
.view-two-cards {
  .hos-tag {
    margin-right: 5px;
  }
  .two-cord-body {
    margin-top: 10px;
    .hos-card__body {
      max-height: 120px;
      overflow-y: auto;
    }
  }
}
//组织人员-》运行时间管理-》日历配置
.public-holiday-config {
  height: calc(100% - 10px);
  .search-card {
    margin-bottom: 10px;
    border-radius: 0 0 6px 6px;
    .hos-card__body {
      padding-bottom: 0;
    }
  }
  .tables-height {
    height: calc(100% - 60px);
    .hos-col {
      height: 100%;
      .hos-card {
        height: 100%;
        .hos-card__body {
          height: calc(100% - 48px);
        }
      }
    }
  }
}
.name-config-table {
  .hos-biz-table {
    .hos-biz-form {
      border-radius: 0 0 6px 6px;
    }
  }
}
// 组织人员-》人员管理-》人员岗位组
.person-post-group {
  height: 100%;
  .dep-query {
    width: 30%;
    display: inline-block;
  }
  .top-card {
    margin-bottom: 10px;
    .hos-card__body {
      padding: 10px 15px 15px;
    }
  }
  .bottom-card {
    height: calc(100% - 115px);
    background-color: transparent;
    & > .hos-card__body {
      padding: 0;
      height: 100%;
      .hos-row,
      .hos-col,
      .post-one-tree-card,
      .post-two-tree-card {
        height: 100%;
      }
      .post-one-tree-card > .hos-card__body {
        height: calc(100% - 67px);
        .hos-tree {
          height: calc(100% - 55px);
        }
      }
      .post-two-tree-card > .hos-card__body {
        height: calc(100% - 20px);
        .hos-tree {
          height: calc(100% - 55px);
        }
      }
    }
  }
}
.hos-menu-wid112 {
  // his需要菜单展示8个字，更多的才显示...
  max-width: 112px;
}
.resource-edit {
  .pureParams {
    border: none !important;
    min-width: 32px !important;
    color: #008fff !important;
    &:hover {
      background-color: #edf6ff !important;
    }
  }
  .vue-treeselect__control {
    line-height: initial;
    width: auto;
    border-radius: 2px;
    height: 28px;
    font-size: 14px;
    padding-left: 6px;
    border-color: #ccc;
  }
  .vue-treeselect__placeholder {
    line-height: 28px;
    padding-left: 0;
    color: #999;
  }
  .hos-tabs--top {
    background-color: #ffffff;
  }
  .pt20Simple {
    padding-top: 5px !important;
  }
  &.all-view {
    .pt20Simple {
      padding-top: 20px !important;
    }
    .hos-tab-pane {
      &.p10 {
        padding: 15px 15px 5px;
      }
      &.pb0 {
        padding-bottom: 5px;
      }
    }
  }
}
.hos-card__header {
  min-height: 35px;
  height: auto;
}
//上下移动表格
.dynamic-data-table {
  .flex-column {
    .cell {
      display: flex;

      .request-inp {
        margin: 2px 0;
        flex: 1;
        flex-grow: 1;
      }
    }
  }
  .hos-button--text {
    font-size: 16px;
    color: #666;
  }
  .hos-button + .hos-button {
    margin-left: 15px;
  }
  .hos-table__expand-icon {
    line-height: 36px;
  }
}
.apiManagerDialog,
.apiAuthorizeDialog {
  .hos-dialog__body {
    padding: 0 20px;
  }
}
//
.viewInterfalce {
  background-color: #fff;
  border-radius: 6px;
  margin-top: 10px;
}
.password-policy {
  border-radius: 6px !important;
  border: none !important;
  background-color: #fff !important;
}
// 页签下是表单
.tabs-form {
  .hos-tabs--top:not(.hos-tabs--border-card):not(.hos-tabs--second-level) > .hos-tabs__content {
    padding: 15px 20px 0px;
  }
}

// 页签下是表格
.tabs-hos-table {
  .hos-tabs--top:not(.hos-tabs--border-card):not(.hos-tabs--second-level) > .hos-tabs__content {
    padding: 0px 0 0;
    .hos-table {
      border-radius: 0 0 6px 6px;
      border: 1px solid #ffffff;
    }
  }
}
.lisence-install {
  form + .dialog-footer {
    padding: 5px 0;
  }
  .hos-form {
    height: auto;
  }
}
.role-tabs .hos-tabs__content .hos-aside {
  border-radius: 6px;
}

//弹框中是card或tabs时,可用该样式移除默认的背景色
.remove-default-background {
  .hos-dialog__body {
    background: unset !important;
  }
  .hos-dialog__body-content {
    background: unset !important;
  }
}
.person-details-container {
  .sep-aside-shadow {
    background-color: #fff !important;
  }
  .sep-main-shadow {
    .hos-card {
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }
      .hos-card__body {
        padding: 0;
      }
    }
  }
}
//API文档
.api-log {
  .sep-aside-shadow {
    margin-right: 5px;
  }
  .tabs-table-list .hos-tabs__content .hos-table {
    border-radius: 0;
    border-top: none;
  }
  .sep-main-shadow {
    .block-space-mt {
      border-radius: 6px !important;
      margin: 15px 0;
      &:last-child {
        margin: 15px 0 0 0;
      }
    }
  }
}

//纯净版下样式
.pml20 {
  margin-left: 20px;
}
//第三方应用
.third-party-app-dialog {
  .hos-dialog {
    height: 170px;
    min-height: 170px !important;
  }
  .hos-dialog__body {
    min-height: 70px !important;
    .hos-dialog__body-content {
      min-height: 70px !important;
      .add-app-dialog {
        .font-bold {
          font-weight: bold;
        }
        .font-size-16 {
          font-size: 16px;
        }
        .display-flex {
          display: flex;
        }
        .app-card {
          background-color: #fff;
          width: 180px;
          border-radius: 6px;
          border: 1px solid #e2e2e2;
          position: relative;
          padding: 10px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          margin-right: 15px;
          cursor: pointer;
          &:last-child {
            margin-right: 0;
          }
          .app-img {
            width: 36px;
            height: 36px;
            margin-right: 20px;
          }
        }
      }
    }
  }
}

// 元素hos-table 空的时候需要撑开图标，添加此类
.empty-table {
  .hos-table__empty-block {
    margin: 20px 0;
  }
}
//人员状态配置
.status-category {
  background-color: #fff;
  padding: 15px;
  height: calc(100% - 30px);
  overflow: auto;
  .hos-form {
    height: calc(100% - 47px);
    .hos-row {
      .hos-col-12:first-child {
        padding: 0 15px 0 10px !important;
      }
      .hos-col-12:last-child {
        padding: 0 10px 0 0 !important;
      }
    }
    .hos-table__body-wrapper {
      overflow-y: auto;
    }
    .hos-table--fit {
      border-bottom: 1px solid #e4e4e4;
    }
    .hos-table {
      height: 725px;
    }
  }
  .hos-alert {
    margin-left: 30px;
  }
}
//节日图片
.festivals-manage {
  .hos-form {
    background-color: #fff;
  }
  .hos-form--inline {
    .hos-form-item {
      margin-right: 20px;
    }
    & .button {
      margin-left: 150px;
    }
  }
  .uploadSing {
    .avatar-uploader {
      .avatar {
        width: 267px;
        height: 96px;
        display: block;
      }
      .hos-upload-list__item-actions {

        width: 267px;
        height: 96px;
      }
      .hos-upload {
        margin: 5px 15px 10px 15px !important;
        width: 267px;
        height: 96px;
        line-height: 96px;
        .avatar-uploader-icon {
          width: 266px !important;
          height: 96px !important;
          line-height: 96px !important;
        }
      }
    }
  }
  

  
  .query-style {
    padding: 15px 15px 5px 15px;
    border-radius: 6px;
  }
  .imgs {
    height: calc(100% - 45px);
    overflow-y: auto;
  }
  .festivals {
    display: flex;
    flex-flow: row wrap;
    background: rgb(205, 230, 255);

    .festival-box {
      width: 301px;
      border-radius: 6px;
      background-color: #fff;
      margin: 15px 15px 0 0;
      &:nth-child(6n) {
        margin-right: 0;
      }
      .mt9 {
        margin-top: 9px;
      }
      .label-font-style {
        color: #666;
        font-size: 14px;
        line-height: 26px;
      }
      .festival-code-col {
        display: flex;
        .festival-code-value {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          line-height: 26px;
        }
      }
      .festival-col {
        padding-right: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .value-font-style {
        color: #191919;
        font-size: 14px;
      }
    }
  }
}
.festival-set-img-byDay-dialog {
  .hos-upload {
    margin: 10px 15px !important;
  }
  .avatar-uploader-icon, .avatar, .hos-upload-list__item-actions  {
    width: 267px !important;
    height: 97px !important;
    line-height: 97px !important;
  }
  
}
//水印配置
.sys-watermark {
  display: flex;
  .sys-watermark-main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sys-watermark-preview {
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .hos-color-picker__trigger {
    width: 35px;
    height: 35px;
  }
  .sys-watermark-footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
// 新增数据生成方案
.dialog-generate-mock-data {
  padding: 0 !important;
  .hos-step.is-horizontal.is-center .hos-step__title {
    margin-bottom: 0;
  }
  .base-info-card {
    margin-bottom: 15px;
    height: calc(76vh - 165px);
    overflow: auto;
    .hos-card__body {
      padding-bottom: 5px;
    }
  }
}
.app-manage {
  width: 100%;
  height: 100%;
  overflow: visible;
  overflow-x: hidden;
  .box-card {
    .hos-card__body {
      padding: 15px 15px 5px 15px;
    }
  }
  .add-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: url('~@base/assets/images/meta-data/new-app.png') center center no-repeat;
    width: 141px;
    height: 47px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    cursor: pointer;

    .add-item-icon {
      background: url('~@base/assets/images/meta-data/new-app-icon.png') center center no-repeat;
      width: 18px;
      height: 18px;
    }
  }

  .mid-title {
    font-family: Source Han Sans CN;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    margin: 5px 0 0 10px;

    .bottom-line {
      width: 84px;
      height: 4px;
      background: linear-gradient(270deg, rgba(39, 129, 251, 0) 0%, #2781fb 100%);
    }
  }

  .items-row {
    position: relative;
    margin-top: 15px;
    .hos-col-5 {
      width: 20%;
      margin-bottom: 15px;
    }

    // .items {
    //   margin-bottom: 30px;
    // }
  }
}
.app-items {
  display: flex;
  flex-direction: column;
  font-family: Source Han Sans CN;
  color: #666;
  font-size: 14px;
  cursor: pointer;

  .top-icons {
    display: flex;

    .icons-img {
      width: 60px;
      height: 60px;
      border-radius: 6px;
    }

    .default-img {
      background: url('~@base/assets/images/app.png') center center no-repeat;
      background-size: cover;
    }

    .right-words {
      position: relative;
      display: flex;
      flex-direction: column;
      left: 15px;
      font-family: Source Han Sans CN;
      color: #000000;
      font-size: 16px;

      .titles {
        font-weight: 700;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 200px;
        color: #191919;
        font-size: 16px;
        margin-bottom: 15px;
      }

      .version-words {
        font-weight: 400;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 200px;
        color: #939393;
      }
    }
  }

  .app-code {
    display: flex;
    margin-top: 10px;
    line-height: 25px;

    .app-code-text {
      height: 25px;
      color: #008fff;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 200px;
    }
  }

  .items {
    line-height: 25px;
    display: flex;

    .inner-word {
      color: #191919;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 200px;
    }
  }
  .editDEel-icons {
    position: absolute;
    right: 5px;
    display: flex;
    flex-wrap: wrap;
    .items {
      color: #939393;
      margin-right: 15px;
    }
  }
  .bottom-icons {
    position: relative;
    top: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    padding-bottom: 5px;
    white-space: nowrap;

    .items {
      display: flex;
      justify-content: flex-end;
      flex-direction: row-reverse;
      margin-right: 20px;

      div {
        line-height: 20px;
        color: #191919;
      }
      .hos-icom-export {
        color: #939393;
      }
      .icon {
        position: relative;
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: #939393;
      }
    }

    .export-block {
      display: flex;
      flex-direction: row-reverse;
      color: #333;

      .export-words {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        padding-left: 8px;
        word-break: keep-all;
        line-height: 22px;
      }
    }
  }
}

.meta-full-screen {
  position: absolute;
  top: 10px;
  right: 40px;
  width: 15px;
  height: 15x;
  padding: 0;
  background: 0 0;
  border: none;
  outline: 0;
  cursor: pointer;
  font-size: 16px;
  color: #909399;
}
.lh28 {
  line-height: 28px;
}

.carousel-add-btn {
  i {
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    margin: 6px;

    &.active {
      color: #409eff;
    }
  }
}

.style-configuration {
  height: 100%;
  .top-row-margin {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .mt15 {
    margin-top: 15px;
  }
  .content-top {
    padding: 15px;
  }
  .hos-tabs__content {
    height: calc(100% - 46px);
  }
  .hos-tab-pane {
    height: 100%;
    background: rgb(205, 230, 255);
    overflow-y: auto;
  }
  .hos-card__body {
    height: calc(100% - 95px);
  }
  .pane-content {
    height: calc(100% - 15px);
    .hos-card {
      box-sizing: border-box;
      &.login-card1 {
        height: 255px;
        margin-right: 15px;
      }
      &.login-card2 {
        margin-left: 0;
        margin-bottom: 0;
      }
      &.login-card3 {
        margin-right: 15px;
        // margin-right: 0;
      }
      &.login-card4 {
        .custom-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      &.login-card3, &.login-card4 {
        height: 484px;
        // height: calc(100% - 270px);
      }
    }
  }
  .bg-panel {
    display: flex;
    flex-wrap: wrap;
    .banner-uploader {
      display: inline-block;
      width: 100px;
      height: 100px;
      border-radius: 6px;
      border: 1px dashed #d9d9d9;
      &::v-deep .hos-upload {
        width: 100px;
        height: 100px;
      }
      .hos-upload-list__item-actions .hos-upload-list-content {
        width: 100%;
      }
      & + .banner-uploader {
        margin-left: 10px;
      }
    }
    .add-bg-btn {
      display: inline-block;
      width: 100px;
      height: 100px;
      margin-left: 10px;
      text-align: center;
      cursor: pointer;
      border-radius: 6px;
      border: 1px dashed #d9d9d9;
      i {
        line-height: 100px;
        font-size: 14px;
        font-style: normal;
        color: #339eff;
      }
    }
  }
  .personal-info-wrap {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    // margin-top: 55px;
    font-size: 12px;
    // background-color: red;
    .personal-item {
      position: relative;
      width: 210px;
      min-height: 75px;
      border: 1px dashed #d9d9d9;
      i {
        color: #339eff;
      }
      // & + .personal-item {
      //   margin-left: 15px;
      // }
      &.add-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      // &:last-child {
      //   width: auto;
      // }
      .feature-item-header {
        height: 22px;
        margin-bottom: 2px;
        img {
          width: 22px;
          height: 22px;
          margin-right: 10px;
        }
        span {
          font-size: 16px;
        }
      }
      .feature-item-body {
        color: #666666;
        line-height: 17px;
      }
      // width: 125px;
      .operation-panel {
        position: absolute;
        top: 3px;
        right: 3px;
        i {
          font-style: normal;
          cursor: pointer;
          color: #339eff;
          font-size: 14px;
          & + i {
            margin-left: 5px;
          }
        }
      }
      &:hover {
        .operation-panel {
          display: block;
        }
      }
    }
  }
  
  // 上传logo样式
  .avatar-uploader::v-deep .hos-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader.logo {
    .hos-upload {
      width: 254px;
      height: 46px;
      line-height: 46px;
      .avatar-uploader-icon {
        width: 254px !important;
        height: 46px !important;
        line-height: 46px !important;
      }
      .hos-upload-list__item-actions {
        // width: 252px;
        // height: 46px;
        // line-height: 46px;
      }
    }
    &:hover {
      .hos-upload-list__item-actions {
        height: 46px !important;
        line-height: 46px !important;
      }
    }
  }
  .avatar-uploader .hos-upload:hover {
    border-color: #409eff;
    .hos-upload-list__item-actions {
      width: 100px;
      height: 100px;
    }
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }

  .avatar {
    width: 100px;
    height: 100px;
    display: block;
  }

  // 上传提示文本颜色
  .color409 {
    color: #409eff;
  }

  .ml-10 {
    margin-left: 10px;
  }

  // banner上传
  .banner-uploader,
  .banner-uploader::v-deep .hos-upload {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .banner-uploader-icon {
    font-size: 70px;
    color: #cccccc;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .banner-uploader {
    .hos-upload-list__item-actions {
      width: 100%;
      height: 100%;

      .hos-upload-list-content {
        width: calc(100% - 348px);
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        /* top: 0; */
        left: 0;
      }
    }
  }
  .avatar-uploader .hos-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    // margin-top: 10px;
  }

  .avatar-uploader .hos-upload:hover {
    border-color: #409eff;
  }

  .avatar-uploader-icon,
  .hos-upload--picture-card {
    font-size: 28px;
    color: #8c939d;
    line-height: 80px;
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 5px;
  }

  .hos-upload-list--picture-card .hos-upload-list__item {
    width: 100px;
    height: 100px;
  }

  .uoloadSty .hos-upload--picture-card {
    font-size: 28px;
    color: #8c939d;
    width: 100px;
    height: 100px;
    line-height: 80px;
    text-align: center;
  }

  .disUoloadSty .hos-upload--picture-card {
    display: none;
    /* 上传按钮隐藏 */
  }

  .hos-upload-list__item-actions {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.4);
  }

  .hos-upload-list__item-preview {
    display: inline-block;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hos-icon-zoom-in:before,
  .hos-icon-download:before,
  .hos-icon-delete:before {
    font-size: 30px;
    color: #fff;
  }

  .hos-upload:hover .hos-upload-list__item-actions {
    visibility: visible;
    transition: 1s;
    z-index: 200;
  }
}
.pic-sysst-welcome {
  background: url('../../images/login/欢迎进入系统动画-默认版.gif') no-repeat;
  background-size: cover;
  width: 320px;
  height: 220px;
}
.pic-sysst-welcome-en {
  background: url('../../images/login/欢迎进入系统-en.gif') no-repeat;
  background-size: cover;
  width: 320px;
  height: 220px;
}

.button-span-align-left {
  > span {
    display: block;
    text-align: left;
  }
  &:hover {
    text-decoration: none;
  }
}

.hos-form .vue-treeselect .vue-treeselect__control-arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 0;
  &::before {
    height: 1em;
    line-height: 1;
  }
}
