.hos-container {
  height: 100%;
}
.hos-container .login-pure-hos-main {
  margin-top: 70px;
  padding: 0;
  // height: 100%;
  // background-color: skyBlue;
  .footer {
    font-family: 'Source Han Sans', '思源黑体', 'Microsoft YaHei', sans-serif;
    margin-top: 22px;
    > .hos-col-12 {
      > .hos-row {
        > div:nth-child(1) {
          .title {
            i {
              background: #01bc01;
            }
          }
        }
        > div:nth-child(2) {
          .title {
            i {
              background: #ff8b00;
            }
          }
        }
        > div:nth-child(3) {
          .title {
            i {
              background: #009deb;
            }
          }
        }
        > div:nth-child(4) {
          .title {
            i {
              background: #ff7373;
            }
          }
        }
      }
    }
    .title {
      i {
        color: #fff;
        padding: 5px;
        font-size: 10px;
        border-radius: 4px;
        float: left;
      }
      span {
        font-size: 16px;
        line-height: 24px;
        padding-left: 10px;
        display: block;
        float: left;
        color: #333333;
      }
      &:after {
        content: '';
        clear: both;
        display: table;
      }
    }
    .content {
      color: #666666;
      line-height: 17px;
      font-size: 12px;
    }
  }
  .header-four-box {
    display: flex;
    width: 100%;
    height: 47px;
    margin-bottom: 71px;
    align-items: center;
    .left-group-box {
      height: 30px;
      width: 123px;
      background: url('~@base/assets/images/login/55.png') center center no-repeat;
    }
    .right-group-box {
      height: 30px;
      width: 123px;
      background: url('~@base/assets/images/login/56.png') center center no-repeat;
    }
    .center {
      flex: 1;
      text-align: center;
      font-family: Source Han Sans CN;
      font-weight: 700;
      color: #000000;
      font-size: 32px;
      line-height: 47px;
    }
  }
  .pure-login-mid {
    width: 100%;
    height: calc(100% - 331px);
    position: relative;
    .hos-carousel {
      height: 100%;
    }
    .hos-carousel__button {
      width: 12px;
      height: 12px;
      border: 2px solid #333;
      border-radius: 50%;
      opacity: 0.4;
    }
    .hos-carousel__indicator--horizontal {
      padding: 0 3px;
      margin-bottom: 15px;
    }
    .hos-carousel__indicator.is-active button {
      background-color: #000000;
    }
    .pure-login-card {
      z-index: 999;
      position: absolute;
      top: 50%;
      right: 258px;
      width: 410px;
      margin-top: -200px;
      // transform: translateY(-50%);
      // min-height: 430px;
      box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.2);
      .login-card {
        width: 100%;
      }
    }
  }
  .simple-login-feature {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 12px;
    // background-color: red;
    .feature-item {
      width: 210px;
      text-align: left;
      &:last-child {
        // width: auto;
      }
      .feature-item-header {
        height: 22px;
        margin-bottom: 2px;
        img {
          width: 22px;
          height: 22px;
          margin-right: 10px;
        }
        span{
          font-size: 16px;
        }
      }
      .feature-item-body {
        color: #666666;
        line-height: 17px;
      }
      .feature-single-img {
        height: 75px; // 基于UI设计的其他系统特性的高度
      }
      // width: 125px;

    }
  }

  // ca样式
  .ca-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px 18px;
    color: #008000;
    text-align: center;
    line-height: 20px;
    i {
      font-size: 16px;
    }
    .ca-login-icon {
      display: inline-block;
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
      font-weight: 400;
      &:hover,
      &:active {
        color: #028fff;
        outline: none;
      }
    }
  }

  // 特别版样式
  &.is-feature {
    .pure-login-mid {
      height: 555px;
      .hos-carousel {
        img {
          height: 555px;
        }
        .hos-carousel__item {
          background-size: auto 555px; //特点版
        }
      }
    }
  }
}
// 登录页版本
.pure-edition {
  position: absolute;
  font-size: 16px;
  line-height: 24px;
  color: #008000;
  top: 30px;
  right: 28px;
  cursor: pointer;
}
.pure-edition.button-yellow {
  background-color: #ffaa00;
}
.pure-edition.button-red {
  background-color: #fc494f;
}
.install-license {
  color: #008fff;
  cursor: pointer;
}
.pure-footer {
  text-align: center;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 16px;
  height: 60px;
  // display: flex;
  align-items: baseline;
  .pure-com-logo {
    width: 90px;
    height: 16px;
    background: url('~@base/assets/images/login/logo.png') center center no-repeat;
  }
  .pure-foot-font {
    padding-left: 5px;
    font-size: 12px;
    font-family: 'Source Han Sans';
    color: #999999;
  }
}

.pure-login-card {
  .title-container .title {
    font-size: 20px;
    font-family: 'Source Han Sans', '思源黑体', 'Microsoft YaHei', sans-serif;
    font-weight: 400;
    color: #333333;
    line-height: 29px;
    margin-bottom: 20px;
    .img {
      height: 16px;
    }
  }

  .title-name {
    margin-top: 3px;
    font-weight: 400;
    /* text-align: right; */
  }
  .hos-card {
    border-radius: 0;
    height: 100%;
  }
  .hos-form-item__content {
    padding-left: 32px;
    padding-right: 0px;
    .hos-input .hos-input__prefix + .hos-input__suffix {
      position: absolute;
      right: 16px !important;
      .hos-form-item__content & {
        padding-right: 16px;
      }
    }
  }
  .hos-input__inner {
    height: 40px;
    line-height: 40px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0;
    padding: 0;
  }
  .login-card {
    .Password_settings {
      padding-bottom: 0px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: right;
      cursor: pointer;
      color: #999999;
      height: 20px;
      line-height: 20px;
      &.simple {
        color: #999999;
      }
    }
    .hos-input {
      font-size: 14px;
    }
    .only-one-authType {
      .hos-tabs__header {
        display: none;
      }
    }
    .hos-input .hos-input__prefix + .hos-input__suffix {
      cursor: pointer;
      right: 0;
    }
  }
  .login-card .hos-tabs {
    width: 100%;
  }
  .login-card .hos-tabs__content {
    height: auto;
    padding-top: 1px;
    .hos-tab-pane {
      margin-top: 0 !important;
    }
  }
  .login-card .only-one-authType .hos-tabs__content {
    padding-top: 0px;
  }
  .hos-tabs--top:not(.hos-tabs--border-card):not(.hos-tabs--second-level) > .hos-tabs__content {
    border: none;
  }
  .login-card .tenantSelect {
    margin-top: 8px;
  }
  .login-card .hos-input__prefix {
    color: #c1c1c1;
    width: 16px;
    height: 16px;
    font-size: 16px;
  }
  .login-card .hos-input__icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 40px;
    position: absolute;
    right: -20px;
    &.hos-icom-select-grant {
      right: -8px;
    }
  }
  .login-card .hos-input:hover .hos-input__icon {
    color: #c1c1c1;
  }
  .login-card .hos-input.is-disabled .hos-input__inner {
    background-color: #fff;
  }
  .login-card .hos-input.is-disabled .hos-input__inner::placeholder {
    color: #ccc;
  }
  .login-card .hos-select .hos-input .hos-select__caret.hos-icom-w-other {
    color: #979797;
    top: 24px;
    right: -22px;
  }
  .login-card .hos-select .hos-input .hos-select__caret.is-reverse {
    transform: rotateZ(180deg);
  }
  .login-card .tenantSelect:hover + i {
    color: #c1c1c1;
    margin-top: 13px;
  }
  .login-card .hos-input__prefix {
    position: absolute;
    left: -32px;
  }
  .login-card .hos-input--prefix .hos-input__inner {
    padding-left: 0;
    padding-right: 20px;
  }
  .pure-login-btn {
    .hos-form-item .hos-form-item__content {
      padding: 0 0px;
    }
  }
  .hos-button--primary {
    font-weight: 400;
    background-color: #2172ba;
    border-color: #2172ba;
    height: 38px;
    border-radius: 4px;
    box-shadow: 0px 6px 9px rgba(33, 114, 186, 0.4);
    margin-bottom: 10px !important;
    font-size: 18px;
    margin-top: 5px;
  }
  .hos-input__inner:hover {
    background: #fff;
  }
  .hos-input:not(.is-disabled):hover .hos-input__inner {
    background: #fff;
  }
  .login-card .hos-tabs--card .hos-tabs__item:after {
    display: none;
  }
  .login-card .hos-tabs--card .hos-tabs__item {
    color: #000000 !important ;
    font-size: 14px;
    padding-right: 15px !important;
    padding-left: 15px !important;
    height: 27px;
    line-height: 20px;
    font-weight: 400;

    &.is-active {
      color: #008fff !important;
      border-bottom: none !important;
      &::after {
        background-image: none;
        position: absolute;
        width: 16px;
        left: calc(50% + 12px);
        margin-top: 5px;
        border-radius: 2px;
      }
    }
  }

  .hos-tabs {
    .hos-tabs__header {
      border-bottom: none;
      height: 36px;
    }
    .hos-tabs__item {
      color: #000000 !important ;
      font-size: 14px;
      padding-right: 15px !important;
      padding-left: 15px !important;
      &.is-active {
        color: #010101;
      }
    }
    .hos-tabs__item.is-active:after {
      content: '';
      display: block;
      height: 2px;
      margin-top: -2px;
      width: 100%;
      margin-left: -20px;
      background-color: #008fff !important;
    }
  }

  .get-opt-code {
    color: #008fff !important;
    right: 0 !important;
  }
}
.hos-select-dropdown.hos-popper.tenantPop {
  background: #fff !important;
  backdrop-filter: blur(30px);
  margin-top: -2px;
}

.pure-login-btn {
  .hos-form-item .hos-form-item__content {
    padding: 0 14px;
  }
}
.login-box {
  .hos-card__body {
    padding: 30px 28px;
  }
}
.login-box .hos-tabs--card > .hos-tabs__header .hos-tabs__item:first-child {
  // width: 50%;
}
.login-box .hos-tabs__nav-wrap {
  margin-bottom: 5px;
  .hos-tabs__nav-next,
  .hos-tabs__nav-prev {
    line-height: 27px;
    font-size: 14px;
  }
}
.loginErrBox {
  padding-bottom: 10px;
  padding-left: 14px;
  color: #fa3939;
  font-size: 12px;
}
.pure-mar-top-14 {
  margin-top: 26px;
}

// 登录界面语言切换select
.header-four-box {
  .languangeChange {
    .hos-select {
      &:hover {
        .hos-select__caret {
          color: #000000 !important;
        }
      }
    }
    background-color: transparent;
    width: 100px;
    margin-right: 30px;
    .hos-select.languageSelect {
      .hos-input .hos-input__inner {
        border-radius: 6px;
        &:hover {
          background-color: #d7e9ff !important;
          .hos-select__caret {
            color: #000000 !important;
            &:hover {
              color: #000000 !important;
            }
          }
        }
      }
    }
  }
  .hos-select .hos-input .hos-select__caret {
    font-size: 16px;
    color: #000000;
  }

  .hos-input__inner {
    &:hover {
      // 鼠标放置时,是否显示背景色
      background-color: transparent;
      // border: none;
    }
    background-color: transparent;
    border-color: transparent;
    border: none;
    color: #000000;
    // border: none;
    box-shadow: none;
  }
}

.scan-code {
  // 手机扫码
  text-align: center;
  margin-top: 20px;
  // height: 270px;

  .phone-code-text {
    color: #999;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .phone-code {
    position: relative;
    width: 160px;
    height: 160px;
    margin-bottom: 14px;
    position: relative;
    background-color: #eee;
    .image-slot {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 28px;
    }
    .hos-image__inner {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 210px;
      height: 210px;
    }
  }
}

.select-table-v2-popover {
  .hos-pager li {
    height: 32px;
    line-height: 32px;
  }
}

.get-code-style {
  color: green;
}

// 忘记密码弹窗
.forget-pass {
  padding: 15px 15px 5px;
  .footer {
    .hos-button {
      min-width: 76px;
    }
  }
  .mt25 {
    margin-top: 0 !important;
  }
}
.ca-dialog {
  padding: 0 0 !important;
}
.login-language-select-popper,
.login-post-select-popper {
  &.hos-select-dropdown.hos-popper {
    border: none;
    border-radius: 6px;
    padding: 8px 10px;
    margin-top: 5px !important;
    .hos-select-dropdown__item {
      border-radius: 6px;
      height: 38px;
      line-height: 38px;
      padding: 0 15px !important;
    }
  }
}
.post-select .hos-select {
  .hos-input.is-focus .hos-input__inner {
    background-color: transparent;
  }
  .hos-input .hos-input__inner {
    &:hover {
      background-color: transparent !important;
    }
    &:focus {
      background-color: transparent !important;
    }
  }
}
.post-select.ca-post-select {
  .hos-input .hos-input__icon {
    font-size: 16px;
  }
  .hos-input__prefix {
    img {
      display: block;
      margin-top: 10px;
      margin-left: 8px;
    }
  }
  .hos-input .hos-input__inner {
    height: 36px !important;
    line-height: 36px !important;
  }
  .hos-input .hos-input__prefix + .hos-input__suffix {
    right: 0;
  }
}
.login-type-title {
  font-size: 20px;
  font-weight: 700 !important;
  margin-bottom: 15px !important;
  color: #191919 !important;
}
@media screen and (max-width: 1440px) {
  .title-name {
    line-height: 29px !important;
    font-size: 20px !important;
  }
}
.login-form {
  .hos-form-item {
    margin-bottom: 10px;
    // &.is-error .hos-input__inner {
    //   background-color: transparent;
    // }
  }
  .login-smscode {
    margin-top: 2px;
    margin-right: 20px;
    svg {
    }
  }
}
