// base-perm-scope
$-h-fit: 100%;

.base-perm-scope {
  .tabs-table .hos-tabs {
    border-bottom: 1px solid #e2e2e2;
  }
  .aside-tree {
    margin: 10px 10px 0 0;
  }
  .hos-card {
    height: 100%;
    border: none;
    border-radius: 6px;
    box-shadow: none !important;

    .hos-card__body {
      height: calc(100% - 35px);
      padding: 0;
      padding-left: 10px;
      .left-tree-search {
        padding: 5px 15px 10px;
      }
    }
    .hos-card__header {
      padding: 10px 15px 10px 35px;
      border-bottom: none;
      font-weight: 700;
      color: #424656;
      font-size: 18px;
      line-height: 27px;
      min-height: 46px;
    }
  }

  .hos-tabs__content {
    padding: 0 15px 15px;
  }

  .hos-main {
    padding: 0;
    margin-left: 10px;
    &.no-left-tree {
      margin-left: 0;
    }

    .userTab .hos-tabs__content {
      box-sizing: border-box;
      padding: 10px;
      background: #fff;
    }
  }

  .main-tree {
    height: calc(100% - 35px);
    overflow: auto;
  }

  .resource-tree-wrap {
    height: calc(100% - 130px);
    overflow: auto;
  }

  .tc {
    margin: 20px 0 10px 0;
  }

  .userTree {
    height: calc(100% - 64px);

    .hos-tree {
      height: calc(100% - 100px);
      overflow: auto;
    }
  }

  .backg {
    width: 100%;
    background-color: white;

    img {
      width: 300px;
      margin: 0 auto;
      display: block;
      margin-top: 180px;
    }

    div {
      text-align: center;
      margin-top: 30px;
    }
  }
}

//角色管理
.margin10 {
  margin: 10px 0 0 0;
}

.margin1 {
  margin: 0 10px 10px 0;
}

.user-add-tree .dialog-footer {
  margin-right: 10px;
}

.role-tabs {
  background-color: transparent;
  &.tabs-table-pure-divide {
    .hos-tab-pane {
      padding: 0;
    }
    .hos-tabs__header.is-top {
      margin-bottom: 10px;
    }
  }
  img {
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
  }
  .hos-table {
    border-radius: 0 0 0 0;
  }
  .no-data {
    text-align: center;
    margin-top: 165px;
  }
  .authtab {
    .hos-tabs--second-level {
      & + div {
        padding: 0;
      }
    }

    .hos-input {
      margin: 0;
      width: 100%;
    }

    .hos-main .hos-tabs--second-level .hos-tabs__header {
      margin: 0 0 10px 0;
    }
    .hos-empty {
      margin-top: 50px;
    }
  }

  & .hos-tabs__header {
  }

  .hos-tab-pane {
    padding: 15px 15px 0;
    .margin10 {
      margin: 10px 0 10px;
    }
  }

  .hos-input {
    margin: 10px auto 5px;
    width: calc(100% - 0px);
  }

  .dialog-footer {
    padding: 20px 10px 20px 0;
  }

  .w200 {
    height: 456px;
    padding: 15px;
  }

  .hos-main {
    padding: 0;
    background-color: #fff;
    border-radius: 6px;
  }

  .hos-tabs__content {
    position: inherit;
    margin-top: 10px ;
    border-radius: 6px;
    .hos-aside {
      margin-right: 10px;
      overflow: hidden;
    }
  }

  .hos-tree {
    overflow: auto;
    height: calc(100% - 28px);
  }

  .hos-tabs {
    height: 46px;
  }

  .authtab {
    .hos-aside .role-tabs .hos-input {
      margin-top: 0;
    }
  }
}

.style-button {
  border-color: #c6e2ff;
  background-color: #ecf5ff;
  color: #409eff;
}

.user-tree {
  height: 380px;

  .hos-tree {
    overflow: auto;
    height: 380px;
  }
}

.role-edit {
  .h89 {
    height: 89px;
  }

  .rules-span {
    //color:red;
    font-size: 12px;
    //line-height: 80px;
  }

  .w300 {
    width: 300px;
  }

  .avatar {
    width: 80px;
    height: 80px;
  }

  .uoload .hos-upload--picture-card {
    width: 80px;
    height: 80px;
    line-height: 80px;
  }

  .disuoload {
    height: 80px;
  }

  .uoload {
    height: 80px;
  }

  .disuoload .hos-upload--picture-card {
    display: none;
    /* 上传按钮隐藏 */
  }

  .hos-upload-list--picture-card .hos-upload-list__item {
    width: 80px;
    height: 80px;
  }
}
.sys-perm-page-simple {
  .hos-table--border, .hos-table--group {
    border: none;
  }
  .dialog-footer {
    padding-top: 20px;
  }
}
.all-view {
  .view-long-text {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .hos-form-item__label {
    color: #939393;
    padding: 0;
  }
  .hos-form-item__content {
    color: #191919;
  }
  &.tabs-form {
    .block-space-mb {
      margin-bottom: 0;
    }
    .hos-form-item__content {
      color: #000;
      .hos-table {
        border-bottom: 1px solid #e4e4e4;
      }
    }
    &.tabs-form {
      .block-space-mb {
        margin-bottom: 0;
      }
    }
    &.tabs-hos-table {
      .block-space-mb {
        margin-bottom: 0;
      }
    }
  }
}

.post-role {
  .hos-aside .hos-pagination {
    .hos-select {
      width: 90px;
    }
    .hos-pager {
      li {
        height: 32px;
        line-height: 32px;
      }
    }
  }
}
