$--border-color: #ffffff;
$--border: 1px solid $--border-color;
.hos-biz-table {
  background: #fff;
  overflow: hidden;

  .hos-biz-form {
    background: #fff;
    padding: 15px 15px 5px 15px;
    // border-top: $--border;
    // border-right: $--border;
    // border-left: $--border;
    border-radius: 6px;
    margin-bottom: 10px;
    .hos-form-item {
      margin-bottom: 10px;
      .hos-form-item__label-wrap .hos-form-item__label {
        line-height: 32px;
      }
      .hos-button {
        min-width: 76px;
      }
    }
  }
  .hos-biz-toolbar {
    display: flex;
    overflow: hidden;
    height: 48px;
    min-height: 48px;
    background: #ffffff;
    border-top: 1px dashed $--border-color;
    border-left: $--border;
    border-right: $--border;
    border-radius: 6px 6px 0 0;
    align-items: center;
    box-sizing: border-box;
    .hos-button-group {
      padding-left: 10px;
      display: inline-flex;
      align-items: center;
      vertical-align: initial;
      i[type='cut'] {
        margin-top: 0;
        width: 0;
        display: none;
      }
      .hos-down {
        // margin-bottom: 2px;
        float: left;
        display: inline-flex;
        height: 28px;
        .hos-dropdown {
          padding: 3px 15px;
          .hos-dropdown-link {
            & :nth-child(2) {
              vertical-align: bottom;
            }
          }
        }
      }
    }

    .hos-biz-pagination {
      width: 100%;

      &.hasSetting {
        // width: calc(100% - 35px);
      }

      .hos-input__inner {
        height: 23px;
        line-height: 23px;
      }
    }
    .hos-biz-toolbar-left {
      flex: 1;
    }
    .top-toolbar-table-setting {
      margin-right: 15px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      overflow: hidden;
      cursor: pointer;
    }
  }

  .hos-biz-pagination {
    height: 52px;
    line-height: 52px;
    background: #ffffff;
    border: $--border;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
    border-top: 1px solid #e4e4e4;

    .hos-pagination {
      height: 52px;
      display: flex;
      justify-content: end;
      align-items: center;
      position: relative;
      padding: 0;
      padding-right: 15px;
      .hos-pagination__stotal {
        position: absolute;
        left: 3px;
      }
      .hos-pager {
        display: flex;
        align-items: center;
      }
    }
  }

  .hos-table {
    border-radius: 0;
    border-top: $--border;
    border-left: $--border;
    border-right: $--border;
  }
  .table--top {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .table--bottom {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .hos-table--border::after,
  .hos-table--group::after {
    display: none;
  }
  .hos-switch {
    margin-top: 2px;
    vertical-align: top;
  }
}
.tabs-table {
  &.tabs-table-pure-divide {
    .hos-tabs {
      .hos-tabs__header {
        border-radius: 6px;
        margin-bottom: 10px;
      }
      .hos-tabs__content {
        height: calc(100% - 55px);
      }
    }
  }
  // tabs 中 biz-table的适配
  .hos-tabs--top:not(.hos-tabs--separate):not(.hos-tabs--second-level):not(.hos-tabs--system) {
    border: none;
    border-radius: 6px;
    background-color: transparent;
  }
  .hos-tabs {
    height: 100%;

    .all-table {
      .hos-biz-form {
        border: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-bottom: 10px;
      }
    }
    .left-table {
      .hos-biz-form {
        border-top: none;
        border-left: none;
        border-top-right-radius: 0;
      }
      .hos-table {
        border-left: none !important;
      }
      &.hos-biz-table {
        border-radius: 4px 0 0 4px;
        .hos-biz-toolbar {
          border-left: none;
        }
      }
      .hos-biz-pagination {
        border-left: none;
        border-bottom: none;
        border-bottom-right-radius: 0;
      }
    }
    .right-table {
      .hos-biz-form {
        border-top: none;
        border-right: none;
      }
      .hos-table {
        border-right: none !important;
      }
      &.hos-biz-table {
        border-radius: 0 4px 4px 0;
        .hos-biz-toolbar {
          border-right: none;
        }
      }
      .hos-biz-pagination {
        border-right: none;
        border-bottom: none;
      }
    }

    .hos-tabs__header {
      margin-bottom: 0;
      background: #fff;
      border: none !important;
      border-radius: 6px 6px 0 0;
    }

    .hos-tabs__content {
      background-color: transparent !important;
      border-radius: 0 0 6px 6px;
      height: calc(100% - 45px);
      .hos-tab-pane {
        height: 100%;
        .hos-biz-table {
          .hos-biz-form {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
        }
      }
    }
  }
}
.card-table {
  height: 100%;
  border: 1px solid #e2e2e2;
  & .hos-card__header {
    border-bottom: 0;
  }
  & .hos-card__body {
    padding: 0;
  }
  .hos-biz-pagination {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .hos-biz-table .hos-biz-form,
  .hos-biz-table .hos-biz-toolbar,
  .hos-table--border {
    border-left: 0;
    border-right: 0;
  }
  .hos-biz-table .hos-biz-pagination {
    border: 0;
    border-top: 1px solid #e2e2e2;
  }
  .hos-button-group.hos {
    box-shadow: 0 0px 0px #fff;
    border-radius: 0;
  }
  .hos-table__body-wrapper {
    height: auto !important;
  }
  .hos-date-editor--daterange.hos-input__inner {
    width: 100%;
  }
  .hos-form-item--small.hos-form-item {
    margin-bottom: 10px;
  }
  .hos-form-item__label {
    text-align: left;
  }
  .hos-radio {
    margin-right: 15px;
  }
}

.top-toolbar-table-setting-content {
  padding: 10px;
  .top-toolbar-table-setting-item {
    padding: 0 20px;
    line-height: 38px;
    color: #191919;
    &:hover {
      background-color: #d7e9ff;
      border-radius: 6px;
    }
  }
}
.operation-col.hos-table__cell {
  i {
    width: 28px;
    height: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &:last-child {
      margin-right: 0;
    }
  }
  i:hover {
    background: #edf6ff;
    color: #008fff;
    border-radius: 6px;
  }
  .pr10 {
    padding-right: 0;
  }
  .pl5 {
    padding-left: 0;
  }
  .pr5 {
    padding-right: 0;
  }
}

// 表头操作按钮样式
.table-header-operate {
  cursor: pointer;
  & > i {
    font-weight: normal;
    margin-right: 5px;
    width: auto !important;
  }
}
