
.select-table-v2-popover {
  &.hos-popper[x-placement^=bottom] {
    margin-top: 5px;
  }
	width: 750px !important;
  height: 370px !important;
  .hos-table--fit {
    padding: 0;
  }
  .hos-biz-pagination {
    border-right: none;
    border-bottom: none;
    border-left: none;
  }
  .hos-table {
    border-radius: 0;
  }
  .hos-table--border::after {
    width: 0;
   
  }
  .hos-biz-form {
    border: none;
    padding: 10px 10px 0;
    margin-bottom: 0;
  } 
  .hos-pager li {
    height: 32px;
    line-height: 32px;
  }
  .mb15 {
    margin-bottom: 0;
  }
}

.hos-tooltip__popper {
  &.is-select-table-tooltip {
    max-width: 350px;
    font-size: 14px;
    line-height: 1.5;
    opacity: .9;
    color: #fff;
    background: #000;
  }
  
}
.select-table-v2-popover-select {
  &.hos-select .hos-input.is-focus .hos-input__inner {
    background-color: transparent;
  }
}
.ca-dialog {
  .login-type-title {
    display: none;
  }
  .select-table-v2-popover-select {
    .hos-input .hos-input__inner {
      height: 36px !important;
      line-height: 36px !important;
     
    }
    .hos-input__prefix {
      img {
        display: block;
        margin-top: 10px;
        margin-left: 8px;
      }
    }
    .hos-input .hos-input__prefix + .hos-input__suffix {
      right: 0;
    }
  }
}