.sync-log {
  padding: 10px 20px 0;
  .sync-log-content {
    height: 400px;
    margin: 20px 0;
    box-sizing: border-box;
    position: relative;
    .sync-log-content__box {
      height: 100%;
      overflow: auto;
      padding-left: 10px;
      input {
        display: block;
        width: 100%;
      }
    }
  }
}
.screen-code-edit-dialog {
  .hos-dialog__header {
    display: none;
  }
  .hos-dialog__body {
    padding: 0;
  }
  .code-edit {
    height: 100vh;
    .code-edit-icon {
      position: absolute;
      top: 5px;
      right: 20px;
      font-size: 20px;
      color: #339eff;
      z-index: 8;
      cursor: pointer;
    }
  }
}
.code-editor {
  position: relative;
  height: 100%;
  width: 100%;
  .code-editor-content {
    height: 100%;
    width: 100%;
  }
  .code-editor-screen {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 20px;
    color: #339eff;
    z-index: 8;
    cursor: pointer;
  }
}
.er-map-page{
  height: 100%;
  width: calc(100% - 30px);
  margin:0 15px 15px;
}
.top-button{
  margin: 10px 0;
}
.noData{
  display: flex;
  width: 100%;
  // height: 600px;
  justify-content: center;
  align-items: center;
}
//复制新增
.select-copy-table {
  height: 550px;
  padding-right: 0;
  padding-left: 15px;
  margin-right: 1px;
  cursor: pointer;
}
.left-modules-bar {
  padding: 20px 3px 10px 3px;
  border-radius: 5px;
  height: 533px;
  overflow: hidden;
  .hos-biz-table {
    height: calc(100% - 68px); 
    margin: 15px 0 2px; 
    width: 100%;
  }
  // border-bottom: 1px solid #dbdbdb;
  &::v-deep .hos-card__body {
    padding: 15px;
  }
}
//从数据导入
.import-database-page {
  padding: 20px 20px 10px 20px;
  .table-style {
    height: 420px;
    margin-bottom: 15px;
  }
}
//版本对比
.version-compare {
  .codeEdit {
    height: 400px;
    margin: 10px;
  }
  .hos-alert {
    margin: 0 10px; width: calc(100% - 20px)
  }
}
.sqlScriptDialog-codeEditDialog{
  .hos-dialog__header{
      display: none;
    }
}
.sqlScriptDialog {
  padding: 15px;
  height: 500px;
  .hos-form {
    height: calc(100% - 58px);
    overflow: auto;
    padding: 0 10px 10px 0;
  }
  .hos-divider--horizontal {
    margin: 0 0 10px 0;
  }
  .code-edit-content {
    height: 200px;
    position: relative;
    transition: all 0.3s ease;
    .code-edit-icon {
      position: absolute;
      top: 5px;
      right: 20px;
      font-size: 20px;
      color: #339eff;
      z-index: 8;
      cursor: pointer;
    }
  }
  .codeEditDialog {
    .hos-dialog__header{
      display: none;
    }
  }
  // .dialog-content {
  //   position: fixed;
  //   top: 0;
  //   left: 15%;
  //   width: 70%;
  //   height: 100vh;
    
  //   background-color: red;
  // }
  // .fontWeight {
  //   font-weight: bold;
  // }
}
.select-app-list {
  width: 100%;
  height: 480px;
  padding: 0 10px;
  .middle-btns {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    .mid-btn {
      margin-top: 5px;
    }
  }
  .side-table {
    height: 100%;
  }
}
.generate-config-container {
  height: calc(76vh - 150px);
  overflow-y: auto;
  overflow-x: hidden;

  .select-app-list {
    width: calc(100% + 20px);
    height: 530px;
    margin-bottom: 15px;

    .side-table {
      height: 530px;

      .table-card {
        height: 100%;

        :deep(.hos-card__body) {
          height: calc(100% - 20px);
        }
      }

      .table-card-right {
        height: 100%;

        .generate-equip-form {
          height: 40px;

          .top-icon {
            position: absolute;
            margin-left: 5px;
          }
        }

        .no-data-alert {
          margin-bottom: 15px;
        }

        .empty-img {
          height: 100%;
        }

        :deep(.hos-card__body) {
          height: calc(100% - 70px);
        }
      }
    }

    .btn-pointer {
      cursor: pointer;
    }
  }
}
.fill-type-card {
  margin: 15px;
  height: 230px;
}
.confirm-info {
  height: calc(76vh - 140px);
  overflow-y: auto;
  overflow-x: hidden;
}
//代码生成模板管理
.template-management-edit {
  .hos-tabs {
    .hos-tab-pane {
      padding: 10px;
    }
  }
}