.metadata-sync-log {
  .hos-tabs {
    height: 100%;
    .hos-tabs__header{
      background: #fff;
    }
    .hos-tabs__content {
      height: calc(100% - 65px);
      .hos-tab-pane {
        height: 100%;
        box-sizing: border-box;
        padding: 15px;
      }
    }
  }
}

.metadata-sync-log-details {
  height: 420px;
  .hos-tabs {
    height: 88%;
    .hos-tabs__content {
      height: calc(100% - 65px);
      .hos-tab-pane {
        padding: 15px;
        height: 100%;
        box-sizing: border-box;
      }
    }
  }
}

.script-log {
  overflow: auto;
}