.meta-data-dialog {
  &.is-fullscreen {
    height: 100% !important;
  }
}
.delCustomClass {
  width: 30%;
}
.btn-pointer {
  cursor: pointer;
}
.codeGenerate {
  .hos-card__body {
    display: none;
  }
  div:nth-child(2) {
    height: 0 !important;
  }
}

.main-table {
  .long-switch .hos-switch__core {
    width: 80px;
  }

  .hos-dialog {
    box-shadow: none;
  }
}

.meta-dialog-title {
  line-height: 24px;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.meta-full-screen {
  position: absolute;
  top: 0;
  right: 40px;
  width: 15px;
  height: 15px;
  padding: 0;
  background: 0 0;
  border: none;
  outline: 0;
  cursor: pointer;
  font-size: 16px;
  color: #909399;
}