.generate-code-page {
  padding-bottom: 10px;
  .generate-code-page-content {
    height: 76vh;
    overflow: auto;
    padding: 10px 20px 0
  }
  .generate-way {
    vertical-align: middle
  }
  .mid-form-op-group {
    margin-bottom: 10px;
  }
  .generate-file-header {
    display: flex; 
    flex-wrap: wrap
  }
  .generate-file-content {
    display: flex; 
    justify-content: center; 
    align-items: center;
    .hos-checkbox-group {
      display: flex; flex-wrap: wrap
    }
  }
  .generate-way-header {
    width: 130px; 
    vertical-align: middle
  }

  

  .hos-table__body-wrapper {
    height: 455px;
  }

  .long-switch .hos-switch__core {
    width: 80px;
  }

  .hos-radio {
    margin-right: 5px;
  }

  .table-style {
    height: 350px;
  }

  .generate-code-form {
    height: auto;
    box-shadow: 0 0 4px 1px #dbdbdb;
    border-radius: 5px 5px 2px 2px;
    padding: 15px 15px 0;
    margin-bottom: 15px;

    .hos-radio {
      line-height: 30px;
    }

    .hos-form-item__label {
      line-height: normal;
    }

    .tablePrefix {
      max-width: 118px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .mid-form {
    padding: 15px 15px 0;
    box-shadow: 0 0 4px 1px #dbdbdb;
    border-radius: 5px 5px 2px 2px;
    background-color: #fff;
    margin-bottom: 15px;
  }

  .requireFill:before {
    content: '*';
    color: #f25757;
    margin-right: 4px;
  }
}

.edit-class-info {
  margin-top: 20px;
  .hos-form {
    padding: 0 20px 10px;
    max-height: 300px;
    overflow: auto;
  }
}

.code-update-page {
  margin: 0 15px;
}

.code_block{
  margin: 0 20px;
  .top_btns{
    margin-bottom: 15px;
  }
  .top_titles{
    display: flex;
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    div{
      position: relative;
      width: 50%;
    }
    .his_file{
      left: 1px;
    }
    .new_file{
      left: 41px;
    }
  }
}