// 新增 编辑 查看弹框
.meta-data-dialog {
  &.is-fullscreen {
    height: 100%;
  }
  .meta-data-page {
    overflow: hidden;
    .top-form {
      background-color: #fff;
      border-radius: 6px;
      padding: 15px 15px 5px;
      margin-bottom: 10px;
      height: auto;
      .isOpenI18n {
        .hos-form-item__content {
          .hos-tooltip {
            line-height: normal;
          }
        }
      }
    }
    .bot-tabs {
      .hos-tab-pane {
        padding-top: 0px;
        &.has-btns {
        }
        .hos-table {
          .hos-table__header-wrapper thead tr th i {
            font-weight: normal;
          }
        }
        &:not(.has-btns) {
          .hos-table {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
        }
      }
    }
    .bottom-btns {
      bottom: 0px;
      display: flex;
      justify-content: center;
      width: calc(100% - 30px);
    }
  }
}

.fast-add-dialog {
  .subTitle {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    margin-bottom: 10px;
    .former {
      font-weight: 700;
      color: #191919;
      padding-right: 10px;
    }
    .tips {
      display: inline-flex;
      align-items: center;
    }
  }
  .data-block {
    width: 100%;
    height: 200px;
    // border:1px solid #b2c6ed;
    white-space: pre-wrap; // 文本换行
    margin-bottom: 10px;
    &:empty:before {
      content: attr(placeholder);
      font-size: 14px;
      color: #999;
    }
    .hos-textarea {
      height: 100%;
      textarea {
        height: 100%;
      }
    }
  }
  .stick-bottom {
    position: absolute;
    bottom: 0;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
// 取消编辑框选中样式
[contenteditable] {
  outline: 1px solid transparent;
}
[contenteditable]:focus {
  border: 1px solid #b2c6ed;
  border-radius: 2px;
}

.add-constraint-page {
  height: 544px;
  display: flex;
  flex-direction: column;
  .hos-table__body-wrapper {
    height: 155px;
  }
  .top-form {
    background-color: #fff;
    padding: 15px 15px 5px;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  .bot-cards {
    display: flex;
    position: relative;
    height: 100%;
    .code-table-card {
      width: calc(100% - 340px);
      .hos-card__body {
        height: calc(100% - 46px);
        padding: 0;
        .hos-table {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
    .selected-rules {
      width: 330px;
      margin-left: 10px;
      margin-top: 0;
      .hos-card__body {
        height: calc(100% - 65px);
      }

      .top-bar {
        display: flex;
        justify-content: space-between;
        .split-line {
          width: 1px;
          background: #dae2ee;
          position: relative;
          left: 60px;
        }
        .left-bar {
          color: #807f89;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            color: #333;
          }
        }
      }
      .select-items {
        height: 100%;
        .selected-rules-input {
          margin-top: 10px;
        }
        .data-list-menu {
          display: flex;
          flex-direction: column;
          height: calc(100% - 110px);
          margin-top: 15px;
          overflow: auto;
          .items {
            color: #000000;
            font-size: 14px;
            line-height: 24px;
            cursor: move;
          }
        }
      }
    }
  }
  .stick-bottom {
    position: absolute;
    bottom: 0;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    width: calc(100% - 30px);
  }
}
// 加了一个-invalid 样式作废
.add-index-page-invalid  {
  height: 544px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  &::v-deep .hos-table__body-wrapper {
    height: 155px;
  }
  .top-form {
    height: 80px;
    width: 100%;
  }
  .bot-cards {
    display: flex;
    position: relative;
    margin-top: 10px;
    .code-table-card {
      width: calc(100% - 360px);
    }
    .selected-rules {
      width: 330px;
      margin-left: 15px;
      margin-top: 0;
      .top-bar {
        display: flex;
        justify-content: space-between;
        .split-line {
          width: 1px;
          background: #dae2ee;
          position: relative;
          left: 60px;
        }
        .left-bar {
          color: #807f89;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            color: #333;
          }
        }
      }
      .select-items {
        .selected-rules-input {
          margin-top: 10px;
        }
        .data-list-menu {
          display: flex;
          flex-direction: column;
          height: 185px;
          margin-top: 15px;
          overflow: auto;
          .items {
            color: #000000;
            font-size: 14px;
            line-height: 24px;
            cursor: move;
          }
        }
      }
    }
  }
  .stick-bottom {
    position: absolute;
    bottom: 0;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    width: calc(100% - 30px);
  }
}
// 加了一个-invalid 样式作废
.main-page-invalid {
  .hos-table__body-wrapper {
    height: 155px;
  }
  .btn-pointer {
    cursor: pointer;
  }
}
// 加了一个-invalid 样式作废
.add-rules-page-invalid {
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  .hos-table__body-wrapper {
    height: 155px;
  }
  .top-form {
    height: 40px;
    width: 100%;
  }
  .bot-cards {
    display: flex;
    position: relative;
    margin-top: 10px;
    .code-table-card {
      width: calc(100% - 360px);
    }
    .selected-rules {
      width: 330px;
      margin-left: 15px;
      margin-top: 0 !important;
      .top-bar {
        display: flex;
        justify-content: space-between;
        .split-line {
          width: 1px;
          background: #dae2ee;
          position: relative;
          left: 60px;
        }
        .left-bar {
          color: #807f89;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            color: #333;
          }
        }
      }
      .select-items {
        .selected-rules-input {
          margin-top: 10px;
        }
        .data-list-menu {
          display: flex;
          flex-direction: column;
          height: 185px;
          margin-top: 15px;
          overflow: auto;
          .items {
            color: #000000;
            font-size: 14px;
            line-height: 24px;
            cursor: move;
          }
        }
      }
    }
  }
  .stick-bottom {
    position: absolute;
    bottom: 0;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    width: calc(100% - 30px);
  }
}
.scence-support-page {
  .hos-table--border {
    border: 1px solid #fff;
    &::after {
      width: 0;
      display: none;
    }
  }
  // height: 295px;
  .checkBoxInput {
    display: inline-block;
    position: relative;
    border: 1px solid #b2c6ed;
    border-radius: 2px;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-color: #fff;
    z-index: 1;
    outline: none;
    /* 去除默认样式 */
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
      background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
  }
  // 改变原生input checkbox框与hosui checkbox相同
  .checkBoxInput:checked {
    background-color: #fff;
    border-color: #4781f3;
  }
  .checkBoxInput::after {
    box-sizing: content-box;
    content: '';
    border: 1px solid #4781f3;
    border-left: 0;
    border-top: 0;
    height: 7px;
    left: 4px;
    position: absolute;
    top: 1px;
    transform: rotate(45deg) scaleY(0);
    width: 3px;
    transition: transform 0.15s ease-in 50ms;
    transform-origin: center;
  }
  .checkBoxInput:checked::after {
    transform: rotate(45deg) scaleY(1);
  }
}

.detail-update-page {
  .tabs-card.hos-tabs {
    background-color: transparent;
    .hos-tabs__header {
      border-radius: 6px 6px 0 0;
    }
    .hos-tabs__content {
      background-color: transparent !important;
      height: calc(100% - 46px);
      padding: 0;
      .hos-form {
        background-color: #fff;
        border-radius: 0 0 6px 6px;
        padding: 10px 15px 5px;
        margin-bottom: 10px;
      }
    }
  }
  height: 602px;
  .hos-tabs {
    height: calc(100% - 52px);
  }
  .lang-env {
    .title {
      min-width: 120px;
      text-align: right;
      padding-right: 10px;
      color: #000;
    }
  }
  .stick-bottom {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .hos-tabs__content {
    overflow: inherit;
    padding: 10px 15px;
  }
}

.bussiness-page {
  .top-switch-block {
    .items {
      height: 40px;
      width: 100%;
      display: flex;
      align-items: center;
      div {
        width: 120px;
        text-align: right;
        padding-right: 10px;
        color: #000;
      }
    }
  }
  .check-data-card {
    position: relative;
    box-shadow: none;
    background-color: transparent;
    .hos-card__header {
      background-color: #fff;
      border-radius: 6px 6px 0 0;
    }
    .hos-card__body {
      box-shadow: none;
      margin-top: 10px;
      border-radius: 6px;
      padding: 0;
    }
    .left-menu {
      width: 380px;
      padding: 15px;
      border-radius: 6px;
      background-color: #fff;
      .top-search-bar {
        margin-bottom: 15px;
        .select-type {
          display: flex;
          justify-content: space-between;
        }
        .item-search-bar {
          display: flex;
          justify-content: space-between;
          margin-top: 15px;
          .detail-search {
            margin-right: 20px;
          }
        }
      }
      .data-list-menu {
        height: 215px;
        width: 100%;
        font-size: 14px;
        line-height: 36px;
        overflow: auto;
        .items {
          font-size: 14px;
          line-height: 36px;
          &:hover {
            cursor: pointer;
            background: #e2ebff;
            border-radius: 6px;
          }
        }
        .active {
          cursor: pointer;
          background: #e2ebff;
          color: #008fff;
          border-radius: 6px;
        }
        .deactive {
          background: #fff;
          color: #191919;
        }
      }
    }
    .right-block {
      position: relative;
      margin-left: 10px;
      width: calc(100% - 380px);
      background-color: #fff;
      border-radius: 6px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      .sub-title {
        position: relative;
        font-weight: 700;
        color: #191919;
        font-size: 16px;
        margin-bottom: 10px;
        .bot-line {
          width: 84px;
          height: 4px;
          background: linear-gradient(270deg, rgba(39, 129, 251, 0) 0%, #2781fb 100%);
        }
      }
      .example-content {
        width: 100%;
        // height: 115px;
        margin-bottom: 10px;
        .example-words {
          // position: relative;
          // top: 15px;
          height: 20px;
          background: #f5f5f5;
          border-radius: 5px;
          box-shadow: 0px 0px 4px #dbdbdb;
          padding: 15px;
        }
      }
      .content-edit {
        width: 100%;
        margin-bottom: 10px;
        .write-block {
          height: 80px;
          &::v-deep(textarea) {
            height: 100%;
          }
        }
      }
      .content-tips {
        margin-bottom: 0;
      }
    }
    // 取消编辑框选中样式
    [contenteditable] {
      outline: 1px solid transparent;
    }
    [contenteditable]:focus {
      border: 1px solid #b2c6ed;
      border-radius: 2px;
    }
  }
}