//同步数据库弹框
.sync-log {
  .sync-log-content {
    height: 400px;
    margin: 15px 0 10px 0;
    box-sizing: border-box;
    position: relative;
    .sync-log-content__box {
      height: 100%;
      overflow: auto;
      padding-left: 10px;
      input {
        display: block;
        width: 100%;
      }
    }
  }
  .hos-alert__icon.hos-icom-pure-info {
    font-size: 16px;
  }
}
.screen-code-edit-dialog {
  padding-top: 20px;
  .hos-dialog__header {
    display: none;
  }
  .hos-dialog__body {
    padding: 0;
    .hos-dialog__body-content {
      padding-bottom: 15px!important;
    }
  }
  .code-edit {
    height: 90vh;
    .code-edit-icon {
      position: absolute;
      top: 50px;
      right: 50px;
      font-size: 20px;
      color: #008fff;
      z-index: 8;
      cursor: pointer;
    }
  }
}
.code-editor {
  position: relative;
  height: 100%;
  width: 100%;
  .code-editor-content {
    height: 100%;
    width: 100%;
  }
  .code-editor-screen {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #008fff;
    z-index: 8;
    cursor: pointer;
  }
}
//er图弹框
.er-map-page{
  height: 100%;
  width: 100%;
  .hos-card__body {
    padding: 15px 0;
  }
}
.noData{
  display: flex;
  width: 100%;
  // height: 600px;
  justify-content: center;
  align-items: center;
}
//复制新增
.select-copy-table {
  height: 550px;
  padding-right: 0;
  padding-left: 15px;
  margin-right: 1px;
  cursor: pointer;
}
.left-modules-bar {
  padding-top:5px ;
  border-radius: 6px;
  height: 533px;
  overflow: hidden;
  .hos-biz-table {
    height: calc(100% - 68px); 
    margin: 5px 0; 
    width: 100%;
  }
}
//从数据导入
.import-database-page {
  & :nth-child(2).hos-form {
    padding: 15px 15px 0 15px!important;
    background-color: #fff;
    border-radius: 6px;
  }
  .table-style {
    height: 420px;
    margin-bottom: 15px;
  }
}
//
.export-script {
  .hos-alert {
    margin-bottom: 10px;
  }
}
//版本对比
.version-compare {
  .codeEdit {
    height: 400px;
    margin: 15px 0 10px 0;
  }
  .hos-alert {
    margin-top: 5px;
  }
}
.sqlScriptDialog-codeEditDialog{
  .hos-dialog__header{
      display: none;
    }
}
.sqlScriptDialog {
  //padding: 15px;
  height: 600px;
  .hos-form {
    overflow: auto;
    .hos-row:first-child {
      background-color: #fff;
      padding: 15px 15px 5px 15px;
      border-radius: 6px;
      margin-bottom: 10px;
    }
    .hos-card.has-header .hos-card__body {
      padding: 10px 15px 15px 15px;
    }
    .hos-alert {
      margin-left: 20px;
    }
    .switch {
      position: absolute;
      top: 10px;
      right: 30px;
      line-height: 28px;
      span {
        color:#191919;
        font-size:14px;
        font-weight: normal;
        margin-right: 10px;
      }
    }
  }
  .hos-divider--horizontal {
    margin: 0 0 10px 0;
  }
  .code-edit-content {
    height: 200px;
    position: relative;
    transition: all 0.3s ease;
    .code-edit-icon {
      position: absolute;
      top: 5px;
      right: 20px;
      font-size: 20px;
      color: #339eff;
      z-index: 8;
      cursor: pointer;
    }
  }
  .codeEditDialog {
    .hos-dialog__header{
      display: none;
    }
  }
  // .dialog-content {
  //   position: fixed;
  //   top: 0;
  //   left: 15%;
  //   width: 70%;
  //   height: 100vh;
    
  //   background-color: red;
  // }
  // .fontWeight {
  //   font-weight: bold;
  // }
}
.select-app-list {
  width: 100%;
  height: 460px;
  margin-bottom: 10px;
  .hos-biz-table .hos-table {
    border:1px solid #e4e4e4;
    border-radius:6px;  
  }
  .middle-btns {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    .hos-button--primary {
      padding: 6px 8px!important;
      min-width: 32px!important;
      height: 32px!important;
    }
    .mid-btn {
      margin-top: 5px;
    }
  }
  .side-table {
    height: 100%;
    .hos-alert {
      margin: 0 0 10px 10px;
    }
    .hos-biz-table .hos-biz-form {
      padding: 0;
      margin-bottom: 5px;
    }
  }
}
.generate-config-container {
  height: calc(76vh - 150px);
  overflow-y: auto;
  overflow-x: hidden;

  .select-app-list {
    width: calc(100% + 20px);
    height: 530px;
    margin-bottom: 15px;

    .side-table {
      height: 530px;

      .table-card {
        height: 100%;
        .hos-card__body {
          padding: 0;
          height: calc(100% - 46px);
          .hos-biz-table .hos-table {
            border: 1px solid #fff;
            border-radius: 0 0 6px 6px;
            .hos-table__body {
              width: 100%!important;
            }
          }
        }
        :deep(.hos-card__body) {
          height: calc(100% - 20px);
        }
      }

      .table-card-right {
        height: 100%;
        .hos-card__body {
          padding: 0;
          height: calc(100% - 46px);
          .hos-biz-table.flex {
            width: 100%;
          }
          .hos-biz-table .hos-table {
            border: 1px solid #fff;
            border-radius: 0 0 6px 6px;
            .hos-table__body {
              width: 100%!important;
            }
          }
        }
        .generate-equip-form {
          height: 40px;
          margin-left: 15px;

          .top-icon {
            position: absolute;
            margin-left: 5px;
          }
        }

        .no-data-alert {
          margin-bottom: 15px;
        }

        .empty-img {
          height: 100%;
        }

        :deep(.hos-card__body) {
          height: calc(100% - 70px);
        }
      }
    }

    .btn-pointer {
      cursor: pointer;
    }
  }
}
.confirm-info {
  height: calc(76vh - 165px);
  overflow-y: auto;
  overflow-x: hidden;
  .hos-card {
    height: 100%;
    .hos-card__body {
      padding: 10px 0 0 0;
      .hos-alert {
        margin: 0 15px 15px 15px;
      }
      .hos-form {
        padding: 0 15px;
        .hos-form-item__label {
          color: #666;
        }
      }
    }
  }
}
//代码生成模板管理
.template-management-edit {
  .hos-form {
    background-color: #fff;
    padding: 15px 15px 5px 15px ;
    margin-bottom: 10px;
    border-radius: 6px;
  }
  .hos-tabs {
    .hos-icom-write-order {
      color: #939393;
    }
    .hos-tab-pane {
      padding: 10px 15px 15px 15px;
    }
  }
}